<template>
  <div class="inner_container2">
    <div class="dropdown">
      <div class="dropdown-content">
        <a>download data</a>
        <a>users</a>
        <a>create task</a>
      </div>
    </div>
    <div class="outer_cover">
      <div class="full_cover">
        <div class="list">
          <table class="Task_status_table">
            <tr class="task_header">
              <th>s.no</th>
              <th>data name</th>
              <th>select</th>
              <th>action</th>
            </tr>
            <tr>
              <td><div class="data_name">1</div></td>
              <td><div class="data_name">download Tournament data CSV</div></td>
              <td>
                <div class="data_name">
                  <v-autocomplete
                    v-model="selectedTournament"
                    :loading="tournamentLoading"
                    :items="tournamentList"
                    item-text="name"
                    item-value="_id"
                    :search-input.sync="tournamentSearch"
                    @change="downloadTournamentCsv"
                    cache-items
                    hide-no-data
                    light
                    outlined
                    solo
                  >
                  </v-autocomplete>
                </div>
              </td>
              <td>
                <div class="data_name">
                  <download-csv
                    :data="tournamentData"
                    name="TournamentData.csv"
                  >
                    <i class="fas fa-download"></i>
                  </download-csv>
                </div>
              </td>
            </tr>
            <tr>
              <td><div class="data_name">2</div></td>
              <td>
                <div class="data_name">download Leaderboard data CSV</div>
              </td>
              <td>
                <div class="data_name">
                  <v-autocomplete
                    v-model="selectedLeaderboard"
                    :loading="leaderboardLoading"
                    :items="leaderboardList"
                    item-text="name"
                    item-value="_id"
                    :search-input.sync="leaderboardSearch"
                    @change="downloadLeaderboardCsv"
                    cache-items
                    hide-no-data
                    light
                    outlined
                    solo
                  >
                  </v-autocomplete>
                </div>
              </td>
              <td>
                <div class="data_name"> <download-csv
                    :data="leaderboardData"
                    name="LeaderboardData.csv"
                  >
                    <i class="fas fa-download"></i>
                  </download-csv></div>
              </td>
            </tr>
            <tr>
              <td><div class="data_name">3</div></td>
              <td><div class="data_name">download Team data CSV</div></td>
              <td>
                <div class="data_name">
                   <v-autocomplete
                    v-model="selectedTeam"
                    :loading="teamLoading"
                    :items="teamList"
                    item-text="name"
                    item-value="_id"
                    :search-input.sync="teamSearch"
                    @change="downloadTeamCsv"
                    cache-items
                    hide-no-data
                    light
                    outlined
                    solo
                  >
                  </v-autocomplete>
                </div>
              </td>
              <td>
                <div class="data_name"><download-csv
                    :data="teamData"
                    name="TeamData.csv"
                  >
                    <i class="fas fa-download"></i>
                  </download-csv></div>
              </td>
            </tr>
            <tr>
              <td><div class="data_name">4</div></td>
              <td><div class="data_name">download User data CSV</div></td>
              <td>
                <div class="data_name">
                  <v-autocomplete
                    v-model="selectedUser"
                    :loading="userLoading"
                    :items="userList"
                    item-text="username"
                    item-value="_id"
                    :search-input.sync="userSearch"
                    @change="downloadUserCsv"
                    cache-items
                    hide-no-data
                    light
                    outlined
                    solo
                  >
                  </v-autocomplete>
                </div>
              </td>
              <td>
                <div class="data_name">
                  <download-csv
                    :data="userData"
                    name="UserData.csv"
                  >
                    <i class="fas fa-download"></i>
                  </download-csv></div>
              </td>
            </tr>
            <!-- <tr>
                                    <td><div class="data_name">5</div></td>
                                    <td><div class="data_name">download user data CSV</div></td>
                                    <td><div class="data_name"><select><option>text 1</option>
                                    <option>text 2</option>
                                    <option>text 3</option>
                                    </select></div></td>
                                    <td><div class="data_name"><i class="fas fa-download"></i></div></td>
                                    </tr> -->
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- </div>  -->
</template>
<script>
import axios from "axios";
export default {
  name: "TaskDownloaddata",
  data() {
    return {
      selectedTournament: "",
      tournamentList: [],
      tournamentLoading: false,
      tournamentSearch: null,
      tournamentData: [],
      selectedLeaderboard: "",
      leaderboardList: [],
      leaderboardLoading: false,
      leaderboardSearch: null,
      leaderboardData: [],
      selectedTeam: "",
      teamList: [],
      teamLoading: false,
      teamSearch: null,
      teamData: [],
      selectedUser: "",
      userList: [],
      userLoading: false,
      userSearch: null,
      userData: [],
    };
  },
  methods: {
    getTournamentList() {
      this.tournamentLoading = true;
      axios
        .post("/tournament/admin/find/all", {
          criteria: {
            name: {
              $regex: this.tournamentSearch,
              $options: "i",
            },
          },
          project: "name",
          limit: 10,
        })
        .then((response) => {
          this.tournamentList = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        })
        .finally(() => (this.tournamentLoading = false));
    },
     getLeaderboardList() {
      this.leaderboardLoading = true;
      axios
        .post("/leaderboard/admin/find/all", {
          criteria: {
            name: {
              $regex: this.leaderboardSearch,
              $options: "i",
            },
          },
          project: "name",
          limit: 10,
        })
        .then((response) => {
          this.leaderboardList = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        })
        .finally(() => (this.leaderboardLoading = false));
    },
      getTeamList() {
      this.teamLoading = true;
      axios
        .post("/team/admin/find/all", {
          criteria: {
            name: {
              $regex: this.teamSearch,
              $options: "i",
            },
          },
          project: "name",
          limit: 10,
        })
        .then((response) => {
          this.teamList = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        })
        .finally(() => (this.teamLoading = false));
    },
        getUserList() {
      this.userLoading = true;
      axios
        .post("/user/admin/find/all", {
          criteria: {
            username: {
              $regex: this.userSearch,
              $options: "i",
            },
          },
          project: "username",
          limit: 10,
        })
        .then((response) => {
          this.userList = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        })
        .finally(() => (this.userLoading = false));
    },
    downloadTournamentCsv() {
      axios
        .get("/tournament/admin/find/".concat(this.selectedTournament))
        .then((response) => {
          if(response.data.participatedTeams) {
          this.tournamentData = response.data.participatedTeams;
          }
          if(response.data.participatedPlayers){
          this.tournamentData = response.data.participatedPlayers;
          }
        })
        .catch((e) => {
          console.log("err", e);
        });
    },
     downloadLeaderboardCsv() {
      axios
        .get("/leaderboard/admin/find/".concat(this.selectedLeaderboard))
        .then((response) => {
           if(response.data.participatedTeams) {
          this.leaderboardData = response.data.participatedTeams;
          }
          if(response.data.participatedPlayers){
          this.leaderboardData = response.data.participatedPlayers;
          }

        })
        .catch((e) => {
          console.log("err", e);
        });
    },
      downloadTeamCsv() {
      axios
        .get("/team/admin/find/".concat(this.selectedTeam))
        .then((response) => {
          this.teamData = response.data.members;

        })
        .catch((e) => {
          console.log("err", e);
        });
    },
      downloadUserCsv() {
      axios
        .get("/user/admin/find/".concat(this.selectedUser))
        .then((response) => {
          const user = response.data
          user.gameIds = JSON.stringify(response.data.gameIds)
          this.userData = [user]
        })
        .catch((e) => {
          console.log("err", e);
        });
    },
  },
  watch: {
    tournamentSearch(val) {
      val && this.getTournamentList();
    },
    leaderboardSearch(val) {
      val && this.getLeaderboardList();
    },
    teamSearch(val) {
      val && this.getTeamList();
    },
    userSearch(val) {
      val && this.getUserList();
    },
  },
};
</script>

<style scoped>
.task {
  margin: 5px 20px 10px 20px;
  font-family: Poppins, sans-serif;
}
.top_bar {
  display: flex;
  justify-content: space-between;
}
.title_wrapper {
  margin: 15px 0px 5px 15px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  font: 500 22px/33px Poppins;
  text-transform: capitalize;
}

button {
  border: 0.5px solid #ffffff;
  background: #180550;
  color: white;
  cursor: pointer;
  min-width: 70px;
  min-height: 30px;
  padding: 5px;
  margin: -39px -10px 10px 0px;
  text-transform: capitalize;
  border-radius: 4px;
}
.inner_container2 {
  overflow-x: auto;
}
.inner_container {
  background: #1e0741;
  border-radius: 8px;
}
.inner_subshell {
  display: flex;
}
.inner_subwrap {
  margin: 10px 0px 5px 10px;
  min-width: 180px;
  border-radius: 5px;
  border: 0.25px solid #ffffff;
  text-align: center;
  font: 300 16px /*/25px Poppins*/;
  padding: 5px;
  letter-spacing: 0px;
  color: #ffffff;
  border-radius: 4px;
  text-transform: capitalize;
}
.active {
  background: #320c6a;
  border: 0.25px solid #320c6a;
  margin: 10px 0px 0px 10px !important;
  padding-bottom: 10px;
  border-radius: 4px;
}
.outer_cover {
  padding: 25px;
  border-radius: 8px;
  float: left;
  min-width: 100%;
  background: #320c6a;
}
.full_cover {
  min-width: 100%;
}
.list table {
  width: 100%;
  border-collapse: collapse;
  padding: 15px;
}
.task_header {
  border-radius: 9px 9px 0px 0px;
  opacity: 0.99;
  border-bottom: 5px solid #320c6a;
}
td {
  padding: 10px;
  text-align: center;
  background: #1e0741;
  border-bottom: 1px solid #320c6a;
}
th {
  background: #1e0741;
  align-items: center;
  font: 17px/20px Josefin Sans;
  letter-spacing: 0px;
  color: #fdfdfd;
  text-transform: capitalize;
  padding: 15px;
}
select {
  min-width: 200px;
  background: #ffffff;
  letter-spacing: 0px;
  color: #d6d6d6;
  padding: 10px;
  border-radius: 4px;
}
.data_name {
  text-transform: capitalize;
  text-align: center;
  font: 14px/18px Josefin Sans;
  letter-spacing: 0px;
  color: #fdfdfd;
  padding: 5px;
  cursor: pointer;
}
.dropbtn {
  background-color: #1e0741;
  color: white;
  position: absolute;
  font-size: 15px;
  border: 1px solid white;
  cursor: pointer;
  right: 35px;
  text-transform: capitalize;
  z-index: 1;
}

.dropdown {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-transform: capitalize;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: white;
  color: #12054e;
}
@media screen and (max-width: 640px) {
  .inner_subshell {
    display: none;
  }
  .dropdown {
    display: block;
    float: right;
  }
  .outer_cover,
  .full_cover {
    display: block;
    padding: 15px;
    overflow-x: auto;
  }
  .table_space1 {
    height: 20px;
  }
}
</style>
