<template>
    <div class="task_gems_container">
      <div class="dropdown">
        <div class="dropdown-content">
          <a>download data</a>
          <a>users</a>
          <a>create task</a>
        </div>
      </div>
      <div class="outer_cover">
          <div class="full_cover">

                  <div class="list">
                      <table class="Task_status_table">
                            
                              <tr class="task_header">
                                  <th>name</th> 
                                  <th>selection</th>
                                  <th>value</th>
                                  <th>action</th>
                              </tr>
                              <tr>
                              <td><div class="gems_name">add gem to user</div></td>
                              <td><div class="Selection_wrap">
                                <v-autocomplete
                                  v-model="selectAddUser"
                                  :loading="usersLoading"
                                  :items="addUsersFromDatabase"
                                  item-text="username"
                                  item-value="_id"
                                  color="#fff"
                                  :search-input.sync="addUserSearch"
                                  cache-items
                                  hide-no-data
                                  hide-details
                                  label="Select the User"
                                  solo
                                ></v-autocomplete>
                                </div>
                              </td>
                              <!-- <td><select class="Selection_wrap"><option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                              </select></td> -->
                              <td><input type="number" name="value_wrap" v-model="adminAddValue"></td>
                              <td><button class="button_wrap" @click="addGemToUSer">send</button></td>
                              </tr>

                                <tr>
                              <td><div class="gems_name">remove gem to user</div></td>
                              <td><div class="Selection_wrap">
                                <v-autocomplete
                                  v-model="selectRemoveUser"
                                  :loading="usersLoading"
                                  :items="removeUsersFromDatabase"
                                  item-text="username"
                                  item-value="_id"
                                  color="#fff"
                                  :search-input.sync="removeUserSearch"
                                  cache-items
                                  hide-no-data
                                  hide-details
                                  label="Select the User"
                                  solo
                                ></v-autocomplete>
                                </div>
                              </td>
                              <td><input type="number" name="value_wrap" v-model="adminRemoveValue"></td>
                              <td><button class="button_wrap" @click="removeGemToUSer">remove</button></td>
                              </tr>

                                <!-- <tr>
                              <td><div class="gems_name">send giftbox</div></td>
                              <td><select class="Selection_wrap"><option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                              </select></td>
                              <td><input type="value_wrap" name="value_wrap"></td>
                              <td><button class="button_wrap">send</button></td>
                              </tr>

                                <tr>
                              <td><div class="gems_name">remove giftbox</div></td>
                              <td><select class="Selection_wrap"><option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                              </select></td>
                              <td><input type="value_wrap" name="value_wrap"></td>
                              <td><button class="button_wrap">remove</button></td>
                              </tr> -->
                              
                      </table>
                  </div>
          </div>
      </div>
      <v-snackbar
        v-model="snackbar"
        top
        :color="color"
        elevation="24"
        :timeout="timeout"
      >
        {{ snackbarText }}

        <!-- <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
            Close
          </v-btn>
        </template> -->
      </v-snackbar>
    </div>
</template>

<script>
import axios from "axios";

export default {
  name: "TaskGems",
  data() {
    return {
      selectedType: '',
      nameList: [],
      selectedName: '',
      email: "",
      subject: "",
      message: "",
      addUserSearch: null,
      removeUserSearch: null,
      selectAddUser: "",
      adminAddValue: "",
      selectRemoveUser: "",
      adminRemoveValue: "",
      addUsersFromDatabase: [],
      removeUsersFromDatabase: [],
      usersLoading: false,
      color: "",
      snackbar: false,
      snackbarText: "",
      timeout: "-1",
    };
  },
  watch: {
    addUserSearch(val) {
      val && this.getAddUsers()
    },
    removeUserSearch(val) {
      val && this.getRemovedUsers()
    },
  },
  methods: {
    getAddUsers() {
      this.usersLoading = true;
      axios
        .post("/user/admin/find/all", {
            criteria: {
                username: {
                    $regex: this.addUserSearch,
                    $options: 'i'
                }
            },
            project: 'username',
        })
        .then((response) => {
            this.addUsersFromDatabase = response.data;
            console.log(this.addUsersFromDatabase)
        })
        .catch((e) => {
            if (e.response.status === 400) {
                console.log("err", e);
            }
        })
        .finally(() => this.usersLoading = false)
    },
    getRemovedUsers() {
      this.usersLoading = true;
      axios
        .post("/user/admin/find/all", {
            criteria: {
                username: {
                    $regex: this.removeUserSearch,
                    $options: 'i'
                }
            },
            project: 'username',
        })
        .then((response) => {
            this.removeUsersFromDatabase = response.data;
            console.log(this.removeUsersFromDatabase)
        })
        .catch((e) => {
            if (e.response.status === 400) {
                console.log("err", e);
            }
        })
        .finally(() => this.usersLoading = false)
    },
    addGemToUSer() {
      axios
        .post("/gem/add", {
          criteria: {
              user: this.selectAddUser
          },
          data: {
            gem: this.adminAddValue,
            reason: "addedByAdmin",
          },
        })
        .then(() => {
          this.selectAddUser = "";
          this.adminAddValue = "";
          this.snackbar = true;
          this.snackbarText = "Gem Added Successfully";
          this.color = "#a8e063";
          this.timeout = 3000;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    removeGemToUSer() {
      axios
        .post("/gem/remove", {
          criteria: {
              user: this.selectRemoveUser
          },
          data: {
            gem: this.adminRemoveValue,
            reason: "removedByAdmin",
          },
        })
        .then(() => {
          this.selectRemoveUser = "";
          this.adminRemoveValue = "";
          this.color = "#a8e063";
          this.snackbar = true;
          this.snackbarText = "Gem Removed Successfully";
          this.timeout = 3000;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
  }
}
  
</script>

<style scoped>

.task{
margin:  5px 20px 10px 20px;
font-family: Poppins, sans-serif;
}
.top_bar{
display: flex;
justify-content: space-between;
}
.title_wrapper{
margin: 15px 0px 5px 15px;
text-align: left;
letter-spacing: 0px;
color: #FFFFFF;
font:500 22px/33px Poppins;
text-transform: capitalize;
}
button{
    border: 0.5px solid #FFFFFF;
    background: #180550;
    color: white;
    cursor: pointer;
    min-width: 70px;
    min-height: 30px;
    padding: 5px;
    margin: -39px 30px 10px 0px;
    text-transform: capitalize;
    border-radius: 4px;
}
.inner_container2{
overflow-x: auto;
}
.inner_container{
background: #1E0741;
border-radius: 8px;
}
.inner_subshell{
display: flex;
}
.inner_subwrap{
margin: 10px 0px 5px 10px;
min-width: 180px;
border-radius: 5px;
border: 0.25px solid #FFFFFF;
text-align: center;
font:300 16px//*25px*/ Poppins;
padding:5px;
letter-spacing: 0px;
color: #FFFFFF;
border-radius: 4px;
text-transform: capitalize;
}
.active{
background: #320C6A;
border: 0.25px solid #320C6A; 
margin: 10px 0px 0px 10px!important;
padding-bottom: 10px;
border-radius: 4px;
}
.outer_cover{
padding: 25px;
border-radius: 8px;
background: #320C6A;  
}

.list table{
  width: 100%;
  border-collapse: collapse;
  padding: 15px;
 }
.task_header{
border-radius: 9px 9px 0px 0px;
opacity: 0.99;
border-bottom: 5px solid #320C6A;
}
td{
  padding: 10px;
 text-align: center;
 background:#1E0741;
}
th{
background: #1E0741;
align-items: center;
font:17px/20px Josefin Sans;
letter-spacing: 0px;
color: #FDFDFD;
 padding: 10px;
text-transform: capitalize;
}
.Selection_wrap{
  font:15px/18px Josefin Sans;
  letter-spacing: 0px;
  color: #FDFDFD;
  /* border: 1px solid #fff; */
  border-radius: 5px;
}
input{
   background: #1E0741;
  font:15px/18px Josefin Sans;
  letter-spacing: 0px;
  /* color: #FDFDFD; */
  background: #fdfdfd;
  max-width: 90px;
  /* border: 1px solid var(--unnamed-color-ffffff);
  border: 1px solid #FFFFFF;  */
  border-radius: 4px;
  padding: 10px;
}
select{
min-width: 200px;
min-height: 30px;
background: #1E0741;
border: 1px solid var(--unnamed-color-ffffff);
border: 1px solid #FFFFFF;
letter-spacing: 0px;
color: #D6D6D6;
border-radius: 4px;
padding: 10px;
}
.gems_name{
text-transform: capitalize;
text-align: left;
font:15px/18px Josefin Sans;
letter-spacing: 0px;
color: #FDFDFD;
padding: 10px;
}
.dropbtn {
      top: 132px;
  background-color:#1E0741;
  color: white;
  position: absolute;
  font-size: 15px;
  border: 1px solid white;
  cursor: pointer;
  right: 38px;

  /* top: 224px;
  right: 17px; */
  text-transform: capitalize;
  margin: 0px;
  min-width: 100px;
  z-index: 1;
}

.dropdown {
  display: none;
}

.dropdown-content {
  display: none;
  position: fixed;
  right: 0;
  top: 290px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-transform: capitalize;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: white;
  color:#1e0741;
}
.button_wrap{
background: #320C6A;
min-width: 70px;
min-height: 40px;
text-transform: capitalize;
border: hidden;
margin: 6px;
border-radius: 4px;
}
::v-deep .v-application .primary--text {
    color: #fff !important;
    caret-color: #fff !important;
    /* caret-color: #1976d2 !important; */
}
@media screen and (max-width: 640px) {
.inner_subshell{
  display: none;
}
.inner_container2{
overflow-x: auto;
}
.dropdown {
  display:block;
  float:right;
}
.outer_cover, .full_cover{
  display: block;
  padding: 15px;
  overflow-x: auto;
}
}
</style>