<template>
  <div class="outer_cover">
    <div class="dropdown">
      <div class="dropdown-content">
        <a>download data</a>
        <a>users</a>
        <a>create task</a>
      </div>
    </div>
    <div class="inner_container">
      <div class="inner_cont">
        <div class="inner_wrapper">
          <div class="content_wrap">
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Type</label>
                <v-select
                  @change="selectType"
                  :items="types"
                  label="Select Type"
                  v-model="selectedType"
                  required
                  light
                  outlined
                  solo
                  :rules="[(v) => !!v || 'Type is required']"
                ></v-select>
              </v-col>
              <v-col v-if="selectedType === 'User'" class="column" cols="12" sm="6">
                <label for>Select Users</label>
                <v-autocomplete
                  v-model="selectedUsers"
                  :loading="usersLoading"
                  :items="usersFromDatabase"
                  item-text="username"
                  item-value="_id"
                  :search-input.sync="userSearch"
                  cache-items
                  multiple
                  chips
                  small-chips
                  hide-no-data
                  light
                  outlined
                  solo
                >
                  <template v-slot:selection="data">
                    <v-chip
                      v-bind="data.attrs"
                      :input-value="data.selected"
                      close
                      @click="data.select"
                      @click:close="removeUser(data.item)"
                      color="#210654"
                      text-color="white"
                    >{{ data.item.username }}</v-chip>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-col v-else class="column" cols="12" sm="6">
                <label for="">Select Name</label>
                <v-select
                  :items="nameList"
                  item-value="_id"
                  item-text="name"
                  label="Select Name"
                  v-model="selectedName"
                  required
                  light
                  outlined
                  solo
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="12">
                <label for="">Enter Text</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Text"
                  required
                  v-model="text"
                  :rules="[(v) => !!v || 'Text is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <br />
          </div>
          <div class="btn-holder">
            <v-btn outlined color="white" @click="sendNotification">Send</v-btn>
          </div>
        </div>
      </div>
    </div>
    <v-snackbar
      v-model="snackbar"
      top
      :color="color"
      elevation="24"
      :timeout="timeout"
    >
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "TaskSendNotification",
  data() {
    return {
      types: ["Team", "Tournament", "Leaderboard", "User"],
      selectedType: "",
      nameList: [],
      selectedName: "",
      email: "",
      text: "",
      message: "",
      userSearch: null,
      selectedUsers: [],
      usersFromDatabase: [],
      usersLoading: false,
      color: "",
      snackbar: false,
      snackbarText: "",
      timeout: "-1",

    };
  },
  watch: {
    userSearch(val) {
        val && this.getUsers()
    },
  },
  methods: {
    selectType() {
      if (this.selectedType == "Tournament") {
        this.getTournaments();
      }
      if (this.selectedType == "Leaderboard") {
        this.getLeaderboards();
      }
      if (this.selectedType == "Team") {
        this.getTeams();
      }
    },
    getLeaderboards() {
      axios
        .post("/leaderboard/find/all", {
          criteria: {},
          project: 'name -game'
        })
        .then((response) => {
          this.nameList = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    getTournaments() {
      axios
        .post("/tournament/find/all", {
          criteria: {},
          project: 'name -game'
        })
        .then((response) => {
          this.nameList = response.data;
          console.log(this.nameList);
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    getTeams() {
      axios
        .post("/team/find/all", {
          criteria: {},
          project: 'name -game -members -captain'
        })
        .then((response) => {
          this.nameList = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    getUsers() {
      this.usersLoading = true;
      axios
          .post("/user/find/all", {
              criteria: {
                  username: {
                      $regex: this.userSearch,
                      $options: 'i'
                  }
              },
              project: 'username',
              limit: 10
          })
          .then((response) => {
              this.usersFromDatabase = response.data;
              console.log(this.usersFromDatabase)
          })
          .catch((e) => {
              if (e.response.status === 400) {
                  console.log("err", e);
              }
          })
          .finally(() => this.usersLoading = false)
  },
  removeUser(userToBeRemoved) {
      this.selectedUsers = this.selectedUsers.filter(user => user !== userToBeRemoved._id)
  },

    clear() {
      (this.selectedType = ""), (this.selectedName = ""), (this.text = "");
    },
    sendNotification() {
      const criteria = {};
      criteria["type"] = this.selectedType;
      if (this.selectedType === "User") {
          criteria["users"] = this.selectedUsers
      } else {
          criteria['_id'] = this.selectedName
      }

      axios
        .post("/notification/custom", {
          criteria: criteria,
          data: {
            text: this.text,
          },
        })
        .then(() => {
          this.color = "green";
          this.snackbar = true;
          this.snackbarText = "Notification sent successfully";
          this.timeout = 3000;
          this.clear();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
  },
};
</script>

<style scoped>
body {
  display: block;
  margin: 10px;
  background: transparent
    linear-gradient(26deg, #45108a 2%, #3d065f 29%, #12054e 100%, #10054d 100%);
}
img {
  width: 100%;
  display: block;
}
.task {
  margin: 5px 20px 10px 20px;
  font-family: Poppins, sans-serif;
}
.top_bar {
  display: flex;
  justify-content: space-between;
}
.title_wrapper {
  margin: 15px 0px 5px 15px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  font: 500 22px/33px Poppins;
  text-transform: capitalize;
}
.inner_container {
  background: #1e0741;
  border-radius: 8px;
}
.inner_subshell {
  display: flex;
}
.inner_subwrap {
  margin: 10px 0px 5px 10px;
  min-width: 180px;
  border-radius: 5px;
  border: 0.25px solid #ffffff;
  text-align: center;
  font: 300 16px //*25px*/ Poppins;;
  padding: 5px;
  letter-spacing: 0px;
  color: #ffffff;
  border-radius: 4px;
  text-transform: capitalize;
}
.active {
  background: #320c6a;
  border: 0.25px solid #320c6a;
  margin: 10px 0px 0px 0px !important;
  padding-bottom: 10px;
  border-radius: 4px;
}
.inner_cont {
  padding: 25px;
  background: #320c6a;
}
.inner_wrapper {
  padding: 5px;
  margin: 0px 0px 5px 10px;
  background: #330e6b 0% 0%;
  border-radius: 5px;
}
select {
  width: 100%;
  min-height: 40px;
  background: #1e0741;
  color: #ffffff;
  border: hidden;
  padding: 10px;
}
.sub_heading {
  padding: 10px;
}
.option_bar {
  margin: 5px -5px -5px -5px;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 1px;
  text-align: right;
  font: bold 10px/16px Josefin Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px;
}
.content_wrap {
  margin: 5px -5px -5px -5px;
  box-shadow: 0px 3px 6px #0000000f;
  border-radius: 1px;
  text-align: left;
  /* font: bold 13px/16px Josefin Sans; */
  /* letter-spacing: 0px; */
  color: #ffffff;
  /* text-transform: uppercase; */
  /* padding: 10px; */
}
input,
.sub_area {
  width: 100%;
  min-height: 40px;
  background: #1e0741;
  color: #ffffff;
  border: hidden;
  padding: 10px;
}
.time_wrap {
  background: #ffffff;
  color: black;
  padding: 10px;
}
.datetime_wrap {
  width: 100%;
  min-height: 40px;
  background: #1e0741;
  color: #3f3434;
  display: flex;
  padding-left: 10px;
}
.btn-holder {
  justify-content: flex-end;
  display: flex;
}
.message_area {
  width: 100%;
  min-height: 80px;
  color: black;
  background: #ffffff;
  padding: 10px;
}
.dropbtn {
  background-color: #1e0741;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  cursor: pointer;
  right: 10px;
  text-transform: capitalize;
  min-width: 110px;
}

.dropdown {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-transform: capitalize;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: white;
  color: #1e0741;
}

button {
  border: 0.5px solid #ffffff;
  background: #180550;
  color: white;
  cursor: pointer;
  min-width: 70px;
  min-height: 30px;
  padding: 5px;
  margin: 15px 10px 10px 0px;
  text-transform: capitalize;
  border-radius: 4px;
}
@media screen and (max-width: 640px) {
  .inner_container {
    display: block;
  }
  .inner_cont,
  .inner_wrapper {
    display: block;
  }
  .inner_subshell {
    display: none;
  }
  .dropdown {
    display: block;
    float: right;
  }
}
</style>
