<template>
  <div class="download_country_date_wrap">
    <div class="download_country_date">
            <div class="dwnld_csv">
          <download-csv :data="heatMapArray" name= "Heatmap.csv"  :fetch="getHeatmapData">
            Download Csv
          </download-csv>
        </div>
        <div class="dwnld_pdf" @click="downloadPdf">download PDF</div>
    </div>
    <div class="date_country_wrap">
      <!-- <div class="date_wrapper">
            <input type="date" value="">
        </div> -->
    </div>
    <div class="user_details" id="heatmap" v-if="countryList">
      <div id="regions_div" style="width: 900px; height: 500px;"></div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "HeatMap",
  data() {
    return {
      heatMapArray:[],
      countryList: ''
    };
  },
  methods: {
     downloadPdf() {
      const elem = document.getElementById("heatmap");
      window.html2pdf().from(elem).save("Heatmap");
    },
    initializeMap() {
       window.google.charts.load('current', {
        'packages':['geochart'],
      });
    },
    getHeatmapData() {
      axios
        .get("/user/heatmap")
        .then((response) => {
          this.heatMapArray = response.data
          this.countryList = this.heatMapArray.map(element => [element.country, element.userCount])
          this.getHeatMap(this.countryList)
        })
        .catch((e) => {
          console.log("err", e);
        });
    },
    getHeatMap(countryList) {
   window.google.charts.setOnLoadCallback(drawRegionsMap);
      function drawRegionsMap() {
        const data = window.google.visualization.arrayToDataTable([
          ['Country','Popularity'],
          ...countryList
          // ['AU', 200],
          // ['IN', 300],
          // ['BR', 300],
          // ['RU', 400],
          // ['JP', 500],
          // ['MY', 600],
          // ['AR', 700]
        ]);

        const options = {};

        const chart = new window.google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    }
  },
  created() {
    this.initializeMap()
  },
  mounted() {
   this.getHeatmapData()
  //  this.getHeatMap()
  },
};
</script>
<style scoped>
.download_country_date {
  /* flex-direction: column; */
  row-gap: 8px;
  cursor: pointer;
}
.date_country_wrap {
  /* flex-direction: column; */
  row-gap: 10px;
}
.download_country_date_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
.user_details {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin: 20px auto;
}
.download_country_date {
  display: flex;
  column-gap: 10px;
}
.dwnld_csv,
.dwnld_pdf {
  background: #ffffff;
  border-radius: 4px;
  padding: 7px 15px;
  text-transform: capitalize;
  cursor: pointer;
}
/*----------------------------date----------------------*/
.date_wrapper input {
  border-radius: 4px;
  padding: 5.5px 10px;
  border: 1px solid #ffffff;
  transition: all 0.2s ease-in;
  color: #765d9b;
  position: relative;
  display: block;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.39;
}
/*--------------------select for country---------------------*/
select {
  background-color: transparent;
  border: none;
  width: 100%;
  color: #ffffff;
  padding: 6px 0 8px 5px;
  font-size: 14px;
  appearance: none;
  outline: 0;
  background-image: none;
}
.select {
  border-radius: 4px;
  /* padding: 0 10px; */
  border: 1px solid #ffffff;
  transition: all 0.2s ease-in;
  position: relative;
  display: block;
  overflow: hidden;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  cursor: pointer;
  text-transform: uppercase;
}
select::-ms-expand {
  display: none;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 0.8em;
  pointer-events: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: 0.39;
}
.select:hover::after {
  color: blue;
}
.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
#slct * {
  outline: none;
  border: transparent;
}
option {
  transition: all 0.2s ease-in;
  background-color: #131a22;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .download_country_date,
  .date_country_wrap {
    flex-direction: column;
  }
}
</style>
