<template>
  <div class="download_country_date_wrap">
    <div class="download_country_date">
           <div class="dwnld_csv">
          <download-csv :data="referralSummary" name= "ReferralSummary.csv"  :fetch="getReferralSummaryData">
            Download Csv
          </download-csv>
        </div>
        <div class="dwnld_pdf" @click="downloadPdf">download PDF</div>
    </div>
    <div class="user_details" id="referral-summary">
          <v-simple-table dark style="background: #1E0741;color: white;">
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            User Name
          </th>
          <th class="text-left">
            Points
          </th>
          <th class="text-left">
            Referred User Counts
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in referralSummary"
          :key="item.username"
        >
          <td>{{ item.username }}</td>
          <td>{{ item.points }}</td>
          <td>{{ item.referralCount }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
    </div>
  </div> 
</template>
<script>
import axios from "axios";
export default {
    name: "ReferralSummary",
      data() {
      return{
        referralSummary: [],   
      }
    },
    methods: {
      downloadPdf() {
      const elem = document.getElementById("referral-summary");
      window.html2pdf().from(elem).save("ReferralSummary");
    },
       getReferralSummaryData() {
      axios
        .get("/user/referral-summary")
        .then((response) => {
          this.referralSummary = response.data
        })
        .catch((e) => {
          console.log("err", e);
        });
    }
    },
    mounted() {
      this.getReferralSummaryData()
    }
}
</script>
<style scoped>
.theme--dark.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: unset;
}
.theme--dark.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
    font-size: 18px;
}
 .download_country_date {
  row-gap: 8px;
  cursor: pointer;
  }
  .date_country_wrap{
  row-gap: 10px;
  }
  .download_country_date_wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .user_details{
    display: block;
    width: 100%;
    overflow-x: auto;
    margin: 20px auto;
  }
  .download_country_date{
    display: flex;
    column-gap: 10px;
  }
  @media (min-width: 320px) and (max-width: 767px){
  .download_country_date, .date_country_wrap{
    flex-direction: column;
    }
  }
  .dwnld_csv,.dwnld_pdf{
    background: #FFFFFF;
    border-radius: 4px;
    padding: 7px 15px;
    text-transform: capitalize;
    cursor: pointer;
  }
  .date_country_wrap{
    display: flex;
    column-gap: 10px;
  }
  .country_wrap select{
    background-color: transparent;
    padding: 9px 40px 9px 35px;
    opacity: .39;
    border-radius: 4px;
    font-size: 0.8em;
    text-transform: capitalize;
  }
  /*----------------------------date----------------------*/
.date_wrapper input{
  border-radius: 4px;
  padding: 5.5px 10px;
  border: 1px solid #FFFFFF;
  transition: all 0.2s ease-in;
  color: #765d9b;
  position: relative;
  display: block;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.39;
}
  /*----------------------------date----------------------*/
.date_wrapper input{
  border-radius: 4px;
  padding: 5.5px 10px;
  border: 1px solid #FFFFFF;
  transition: all 0.2s ease-in;
  color: #765d9b;
  position: relative;
  display: block;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.39;
}
  /*--------------------table------------------------*/
  table, th, td {
    border: 0.5px solid #dddddd;
    border-collapse: collapse;
}
  /*--------------------select for country---------------------*/
  select{
    background-color: transparent;
    border: none;
    width: 100%;
    color:#FFFFFF;
    padding: 6px 0 8px 5px;
    font-size: 14px;
    appearance: none;
    outline: 0;
    background-image: none;
    }
  .select{
    border-radius: 4px;
    /* padding: 0 10px; */
    border: 1px solid #FFFFFF;
    transition: all 0.2s ease-in;
    position: relative;
    display: block;
    overflow: hidden;
  }
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    cursor: pointer;
    text-transform: uppercase;
}
select::-ms-expand {
  display: none;
} 
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 .8em;
  pointer-events: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: .39;
}
.select:hover::after {
  color: blue;

}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
#slct *{
  outline: none;
  border: transparent;
}
option{
  transition: all 0.2s ease-in;
  background-color: #131a22;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 465px){
  .tabs{
    display: grid;
    width: 100%;
    margin: 0 !important;
    text-align: center;
}
.content {
  top: 192px;
}
.user_registration_table tr, td, th{
  padding: 15px 0px 15px 10px;
}
.tab{
  font-size: 13px;
  }
}
</style>
