<template>
  <div>
    <div class="download_country_date_wrap">
      <div class="download_country_date">
        <div class="dwnld_csv">
          <download-csv
            :data="userSummary"
            name="Usersummary.csv"
            :fetch="filterTable"
          >
            Download Csv
          </download-csv>
        </div>
        <div class="dwnld_pdf" @click="downloadPdf">download PDF</div>
      </div>
      <div class="date_country_wrap">
        <div class="country_wrap">
          <div class="select">
            <select name="slct" v-model="country" id="slct">
              <option value="">Select country</option>
              <option
                v-for="(countryName, i) in countryList"
                :key="i"
                :value="countryName"
                >{{ countryName }}</option
              >
            </select>
          </div>
        </div>
        <div class="date_wrapper">
          <input
            type="text"
            onfocus="(this.type='date')"
            placeholder="Start date"
            v-model="startDate"
            value=""
          />
        </div>
        <div class="date_wrapper">
          <input
            type="text"
            onfocus="(this.type='date')"
            placeholder="End date"
            v-model="endDate"
            value=""
          />
        </div>
      </div>
    </div>
    <div class="user_details" id="usersummary">
      <v-simple-table dark style="background: #1E0741;color: white;">
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">
                Users
              </th>
              <th class="text-left">
                Total Counts
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in userSummary" :key="user._id">
              <td>{{ user.name }}</td>
              <td>{{ user.count }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "UserSummary",
  data() {
    return {
      countryList: [],
      country: "",
      startDate: "",
      endDate: "",
      userSummary: [],
    };
  },
  methods: {
    downloadPdf() {
      const elem = document.getElementById("usersummary");
      window
        .html2pdf()
        .from(elem)
        .save("Usersummary");
    },
    getCountryList() {
      axios
        .get("/user/summary/filter")
        .then((response) => {
          this.countryList = response.data.countries;
        })
        .catch((e) => {
          console.log("err", e);
        });
    },
    filterTable() {
      const criteria = {};
      if (this.country) {
        criteria["country"] = this.country;
      }
      if (this.startDate) {
        criteria["startDate"] = this.startDate;
      }
      if (this.endDate) {
        criteria["endDate"] = this.endDate;
      }
      axios
        .post("/user/summary", {
          criteria,
        })
        .then((response) => {
          this.userSummary = response.data;
        })
        .catch((e) => {
          console.log("err", e);
        });
    },
  },
  mounted() {
    this.getCountryList();
    this.filterTable();
  },
  watch: {
    country: {
      immediate: true,
      handler() {
        this.filterTable();
      },
    },
    startDate: {
      immediate: true,
      handler() {
        this.filterTable();
      },
    },
    endDate: {
      immediate: true,
      handler() {
        this.filterTable();
      },
    },
  },
};
</script>
<style scoped>
.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: unset;
}
.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  font-size: 18px;
}
.download_country_date {
  /* flex-direction: column; */
  row-gap: 8px;
  cursor: pointer;
}
.date_country_wrap {
  /* flex-direction: column; */
  row-gap: 10px;
}
.download_country_date_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
.user_details {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin: 20px auto;
}
.download_country_date {
  display: flex;
  column-gap: 10px;
}
.dwnld_csv,
.dwnld_pdf {
  background: #ffffff;
  border-radius: 4px;
  padding: 7px 15px;
  text-transform: capitalize;
  cursor: pointer;
}
.date_country_wrap {
  display: flex;
  column-gap: 10px;
}
.country_wrap select {
  background-color: transparent;
  padding: 9px 40px 9px 35px;
  opacity: 0.39;
  border-radius: 4px;
  font-size: 0.9em;
  text-transform: capitalize;
}
/*----------------------------date----------------------*/
.date_wrapper input {
  border-radius: 4px;
  padding: 8px 10px;
  border: 1px solid #ffffff;
  transition: all 0.2s ease-in;
  color: #765d9b;
  position: relative;
  display: block;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.39;
}
/*--------------------table------------------------*/
table,
th,
td {
  border: 0.5px solid #dddddd;
  border-collapse: collapse;
}
/*--------------------select for country---------------------*/
select {
  background-color: transparent;
  border: none;
  width: 100%;
  color: #ffffff;
  padding: 6px 0 8px 5px;
  font-size: 14px;
  appearance: none;
  outline: 0;
  background-image: none;
}
.select {
  border-radius: 4px;
  /* padding: 0 10px; */
  border: 1px solid #ffffff;
  transition: all 0.2s ease-in;
  position: relative;
  display: block;
  overflow: hidden;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  cursor: pointer;
  text-transform: uppercase;
}
select::-ms-expand {
  display: none;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 0.8em;
  pointer-events: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: 0.39;
}
.select:hover::after {
  color: blue;
}
.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
#slct * {
  outline: none;
  border: transparent;
}
option {
  transition: all 0.2s ease-in;
  background-color: #131a22;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .download_country_date,
  .date_country_wrap {
    flex-direction: column;
  }
}
</style>
