<template>
  <div class="main-container">
    <div class="inner-container">
      <v-card flat>
    <v-card-title>
      <!-- <v-btn
        @click="$emit('create')"
        :ripple="false"
        depressed
        color="#363636"
        dark
        class="text-none"
      >
        Create new
        <v-icon right>mdi-card-plus-outline</v-icon> 
      </v-btn> -->
        <v-btn 
        depressed
        color="#363636"
        dark
        class="text-none"
            ><download-excel
              :data="contacts"
              class="btn btn-default"
              worksheet="My Worksheet"
              :name="excelFileName"
              :fields="json_fields"
              >Download Excel</download-excel
            ><v-icon right>mdi-cloud-download</v-icon></v-btn
          >
      <v-spacer v-for="i in 4" :key="i"></v-spacer>
      <v-text-field
        v-model.lazy="search"
        @change="$emit('update:search', search)"
        label="Search"
        append-icon="mdi-magnify"
        single-line
        hide-details
        outlined
      ></v-text-field>
    </v-card-title>
    <v-card-text class="pa-4">
      <v-data-table
        :headers="headers"
        :items="contacts"
        :search="search"
        :options.sync="options"
        :server-items-length="dataCount"
        :footer-props="{
          'items-per-page-options': itemsPerPage,
        }"
        @page-count="pageCount = $event"
        item-key="company"
        v-model="selected"
        class="elevation-1"
      >
        <template v-slot:[`item.createdAt`]="{ item }">
          <div>{{ changeDate(item.createdAt) }}</div>
        </template>
         <template v-slot:[`item.action`]="{ item }">
          <v-icon class="pa-1 blue--text" small @click="edit(item)"
            >mdi-square-edit-outline</v-icon
          >
        </template>
      </v-data-table>
    </v-card-text>
    <v-card-actions class="justify-center">
      <v-pagination v-model="options.page" :length="pageCount"></v-pagination>
    </v-card-actions>
  </v-card>
    </div>
     <v-snackbar v-model="snackbar" :timeout="snachBarTimeout">
      {{ snackBarText }}
      <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <AddEditContact
      v-if="isAddEditOpen"
      @closePopup="closeDialog"
      :contact="contact"
      @update-item="updateItem"
    />
  </div>
</template>
<script>

import moment from "moment";
import axios from 'axios';
import JsonExcel from "vue-json-excel";
import AddEditContact from "../components/AddEditContact.vue";
export default {
  components: {
    AddEditContact,
    "download-excel": JsonExcel,
  },
  data() {
    return {
      contact: undefined,
      snackbar: false,
      snackBarText: "",
      snachBarTimeout: 2000,
      dataCount: undefined,
      itemsPerPage: [5, 10, 25, 50, 100],
      options: {},
      excelFileName: `Contact Us List ${new Date().toLocaleString()}.xls`,
      contacts: [
      ],
      json_fields: {
      Name: "name",
      Emai: "email",
      Company: "company",
      MobileNumber: "mobileNumber",
      Address: "address",
      Query: "query",
      Category: "category",
      Notes: "notes",
      UpdatedBy: "updatedBy.username",
      createdTs: {
        field: "createdAt",
        callback: value => moment(value).format("MMM DD YYYY, hh:mm A")
      }
    },
      pageCount: 0,
      search: "",
      selected: [],
      isDeleteConfirmationPopupOpen: false,
      isAddEditOpen: false,
      headers: [
        { text: "Name", align: "left", sortable: false, value: "name" },
        { text: "Company", value: "company", align: "left", sortable: false },
        {
          text: "Email",
          value: "email",
          align: "left",
          sortable: false,
        },
        { text: "MobileNumber", value: "mobileNumber", align: "left", sortable: false },
        { text: "Address", value: "address", align: "left", sortable: false },
        { text: "Query", value: "query", align: "left", sortable: false },
        { text: "Category", value: "category", align: "left", sortable: false },
        { text: "Notes", value: "notes", align: "left", sortable: false },
        // { text: "UpdatedBy", value: "updatedBy.username", align: "left", sortable: false },
        { text: "Date", value: "createdAt", align: "left" },
        { text: "Action", value: "action", align: "left", sortable: false },
      ],
      skip: 0,
      sort: { createdTs: 1 },
    };
  },
  computed: {
    isUserSuperAdmin() {
      return this.$store.getters.isUserSuperAdmin;
    },
  },
  created: function () {
  },
  mounted() {
    this.getContacts();
  },
  methods: {
     getContacts() {
      axios
        .post('/contactus/find/all', {
            criteria: {},
        })
        .then((response) => {
          this.contacts = response.data;
            let updatedObj = this.contacts.find((e) => e.updatedBy);
          if(updatedObj) {
            this.headers.splice(8,0,{ text: "UpdatedBy", value: "updatedBy.username", align: "left", sortable: false },)
          }
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
      changeDate(date) {
      return moment(date).format("MMM DD YYYY, hh:mm A");
    },
     edit(item) {
      this.contact = item;
      this.isAddEditOpen = true;
    },
     closeDialog() {
      this.isAddEditOpen = false;
    },
     updateItem(e) {
      this.contacts.forEach((element, index) => {
        if (element._id === e._id) {
          Object.assign(this.contacts[index], e);
          this.snackbar = true;
          this.snackBarText = "Notes updated successfully";
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.main-container {
  .inner-container {
    padding: inherit;
  }
}
</style>