<template>
   <div class="dashboard-container">
        <div class="card">
            <div class="card__innerleft">
                <div class="card__innerleft--bigtext">{{count.totalUsers}}</div>
                <div class="card__innerleft--smalltext">total user</div>
            </div>
            <div class="card__innerright"><i class="fas fa-user card__innerright--icon-big"></i></div>
        </div>
        <div class="card">
            <div class="card__innerleft">
                <div class="card__innerleft--bigtext">{{count.newUsers}}</div>
                <div class="card__innerleft--smalltext">new users</div>
            </div>
            <div class="card__innerright"><i class="fas fa-user-plus card__innerright--icon-big"></i></div>
        </div>
        <div class="card">
            <div class="card__innerleft">
                <div class="card__innerleft--bigtext">{{count.subscribedUsers}}</div>
                <div class="card__innerleft--smalltext">subscribers</div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__header">
                <div class="graph__header-lefttext">Total Revenue</div>
                <div class="graph__header-middletext">Month</div>
                <!-- <div class="graph__header-righttext">year</div> -->
            </div>
            <div>
                <LineChart/>
                </div>
        </div>
        <div class="prize-winners">
            <div class="prize-winners__header">
                <div class="prize-winners__header-lefttext">recent prize winners</div>
                <div class="prize-winners__header-righttext">see all</div>
            </div>
            <div class="prize-winners__content">
                <div class="prize-winners__content__card">
                    <img src="../assets/dashboard/profile.webp" height="47" width="47" class="prize-winners__content__card__image">
                    <div class="prize-winners__content__card__text">
                        <div class="prize-winners__content__card__text--player-name">Player Name</div>
                        <div class="prize-winners__content__card__text--game-details">Game Details</div>
                    </div>
                    <img src="../assets/dashboard/cup.webp" height="37" width="37" class="prize-winners__content__card__cup">
                </div>
                <div class="prize-winners__content__card">
                    <img src="../assets/dashboard/profile.webp" height="47" width="47" class="prize-winners__content__card__image">
                    <div class="prize-winners__content__card__text">
                        <div class="prize-winners__content__card__text--player-name">Player Name</div>
                        <div class="prize-winners__content__card__text--game-details">Game Details</div>
                    </div>
                    <img src="../assets/dashboard/cup.webp" height="37" width="37" class="prize-winners__content__card__cup">
                </div>
                <div class="prize-winners__content__card">
                    <img src="../assets/dashboard/profile.webp" height="47" width="47" class="prize-winners__content__card__image">
                    <div class="prize-winners__content__card__text">
                        <div class="prize-winners__content__card__text--player-name">Player Name</div>
                        <div class="prize-winners__content__card__text--game-details">Game Details</div>
                    </div>
                    <img src="../assets/dashboard/cup.webp" height="37" width="37" class="prize-winners__content__card__cup">
                </div>
                <div class="prize-winners__content__card">
                    <img src="../assets/dashboard/profile.webp" height="47" width="47" class="prize-winners__content__card__image">
                    <div class="prize-winners__content__card__text">
                        <div class="prize-winners__content__card__text--player-name">Player Name</div>
                        <div class="prize-winners__content__card__text--game-details">Game Details</div>
                    </div>
                    <img src="../assets/dashboard/cup.webp" height="37" width="37" class="prize-winners__content__card__cup">
                </div>
                <div class="prize-winners__content__card">
                    <img src="../assets/dashboard/profile.webp" height="47" width="47" class="prize-winners__content__card__image">
                    <div class="prize-winners__content__card__text">
                        <div class="prize-winners__content__card__text--player-name">Player Name</div>
                        <div class="prize-winners__content__card__text--game-details">Game Details</div>
                    </div>
                    <img src="../assets/dashboard/cup.webp" height="37" width="37" class="prize-winners__content__card__cup">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios";
import LineChart from "./LineChart.vue"

export default {
  name: "Dashboard",
  components: {
      LineChart
  },
  data: () => ({
    count: "",
  }),
  methods: {
  getCount() {
       axios
        .get('/admin/dashboard')
        .then((response) => {
          this.count = response.data;
          console.log('count', response.data)
        })
        .catch((e) => {
               if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },  
  },
  mounted() {
    this.getCount();
  }
};
</script>
<style lang="scss" scoped>
 *,
        *::after,
        *::before {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
        }

        .dashboard-container {
            color: #FFFFFF;
            font-family: Poppins, sans-serif;
            text-transform: capitalize;
            background-image: linear-gradient(26deg, #45108A 2%, #3D065F 29%, #12054E 100%, #10054D 100%);
            min-height: 100vh;
            padding: 15px;
        }

        .card {
            background-color: #330E6B;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 27px;
        }

        .card__innerleft--bigtext {
            font-size: 39px;
            line-height: 59px;
            font-weight: bold;
        }

        .card__innerleft--smalltext {
            font-size: 18px;
            line-height: 27px;
        }

        .card__innerright--icon-big {
            font-size: 36px;
        }

        .graph {
            background-color: #330E6B;
            padding: 15px;
        }

        .graph__header {
            display: flex;
            justify-content: space-between;
        }

        .graph__header-lefttext {
            font: bold 18px/22px 'Josefin Sans';
            flex: 1 1 auto;
        }

        .graph__header-middletext {
            font-size: 14px;
            line-height: 21px;
        }

        .graph__header-middletext::after {
            content: ' ';
            width: 10px;
            background-color: white;
        }

        .graph__header-righttext {
            font-size: 14px;
            line-height: 21px;
            color: #765D9B;
            padding-left: 38px;
        }

        .prize-winners {
            padding: 15px;
            background-color: #330E6B;
        }

        .prize-winners__header {
            display: flex;
            justify-content: space-between;
        }

        .prize-winners__header-lefttext {
            font-size: 18px;
            line-height: 27px;
        }

        .prize-winners__header-righttext {
            font-size: 14px;
            line-height: 21px;
            color: #765D9B;
        }

        .prize-winners__content {
            display: flex;
            flex-flow: column;
        }

        .prize-winners__content__card {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 15px;
            margin-top: 20px;
            background-color: #19003F;
            box-shadow: 0px 3px 6px #00000029;
        }

        .prize-winners__content__card__image {
            border-radius: 50%;
            object-fit: cover;
        }

        .prize-winners__content__card__text {
            text-align: left;
            flex: 1 1 auto;
            padding: 0 15px;
        }

        .prize-winners__content__card__text--player-name {
            font-size: 18px;
            line-height: 27px;
        }

        .prize-winners__content__card__text--game-details {
            font-size: 12px;
            line-height: 18px;
        }

        .prize-winners__content__card__cup {
            object-fit: contain;
        }

        @media screen and (min-width: 961px) {
            .dashboard-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 102px auto;
                grid-column-gap: 15px;
                grid-row-gap: 35px;
            }

            .graph {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        @media screen and (max-width: 960px) {
            .dashboard-container {
                display: grid;
                grid-row-gap: 15px;
            }

            .graph {
                min-height: 500px;
            }
        }
</style>
