<template>
  <div class="main-container">
    <div class="inner-container">
      <v-card flat>
    <v-card-title>
      <v-btn
        @click="create"
        :ripple="false"
        depressed
        color="#363636"
        dark
        class="text-none"
      >
        Create new
        <v-icon right>mdi-card-plus-outline</v-icon> 
      </v-btn>
      <v-spacer v-for="i in 4" :key="i"></v-spacer>
      <v-text-field
        v-model.lazy="search"
        @change="$emit('update:search', search)"
        label="Search"
        append-icon="mdi-magnify"
        single-line
        hide-details
        outlined
      ></v-text-field>
    </v-card-title>
    <v-card-text class="pa-4">
      <v-data-table
        :headers="headers"
        :items="galleryArray"
        :options.sync="options"
        :search="search"
        :server-items-length="dataCount"
        :footer-props="{
          'items-per-page-options': itemsPerPage,
        }"
        @page-count="pageCount = $event"
        item-key="_id"
        show-select
        v-model="selected"
        class="elevation-1"
      >
       <template v-slot:[`item.isFeatured`]="{ item }">
          <div>{{ changeData(item.isFeatured) }}</div>
        </template>
         <template v-slot:[`item.isDraft`]="{ item }">
          <div>{{ changeData(item.isDraft) }}</div>
        </template>
        <template v-slot:[`item.createdAt`]="{ item }">
          <div>{{ changeDate(item.createdAt) }}</div>
        </template>
        <template v-slot:[`item.action`]="{ item }">
          <v-icon class="pa-1 blue--text" small @click="edit(item)"
            >mdi-square-edit-outline</v-icon
          >
          <v-icon class="pa-1 red--text" small @click="deleteItem(item)"
            >mdi-trash-can</v-icon
          >
        </template>
      </v-data-table>
    </v-card-text>
    <v-card-actions class="justify-center">
      <v-pagination v-model="options.page" :length="pageCount"></v-pagination>
    </v-card-actions>
  </v-card>
    </div>
     <v-snackbar v-model="snackbar" :timeout="snachBarTimeout">
      {{ snackBarText }}
      <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <DeleteConfirmationPopup
      v-if="isDeletePopup"
      @cancelPopup="closeDeletePopup"
      @deleteRow="deleteSelectedItem"
    />
    <AddEditGallery
    @closePopup="closeDialog"
      v-if="isAddEditOpen"
      :gallery="gallery"
      @update-item="updateItem"
    />
    <AddEditGallery
    @closeCreatePopup="closeCreatePopup"
      v-if="createPopup"
      @add-item="addItem"
    />
  </div>
</template>
<script>

import moment from "moment";
import axios from 'axios';
import AddEditGallery from "../components/AddEditGallery.vue";
import DeleteConfirmationPopup from "../components/DeletePopup.vue";
export default {
  components: {
      AddEditGallery,
      DeleteConfirmationPopup,
  },
  data() {
    return {
      createPopup: false,
      snackbar: false,
      snackBarText: "",
      snachBarTimeout: 2000,
      isDeletePopup: false,
      dataCount: undefined,
      itemsPerPage: [5, 10, 25, 50, 100],
      options: {},
      galleryArray: [
      ],
      pageCount: 0,
      search: "",
      selected: [],
      excelFileName: `ProductList ${new Date().toLocaleString()}`,
      isDeleteConfirmationPopupOpen: false,
      isAddEditOpen: false,
      headers: [
        { text: "Name", align: "left", sortable: false, value: "name" },
        { text: "Description", value: "description", align: "left", sortable: false },
        { text: "Tags", value: "tags", align: "left", sortable: false },
        { text: "Is Featured", value: "isFeatured", align: "left", sortable: false },
         { text: "EventName", value: "eventName", align: "left", sortable: false },
        { text: "Year", value: "year", align: "left", sortable: false },
        { text: "IsDraft", value: "isDraft", align: "left", sortable: false },
        // { text: "CreatedBy", value: "createdBy.username", align: "left", sortable: false },
        // { text: "UpdatedBy", value: "updatedBy.username", align: "left", sortable: false },
        { text: "Date", value: "createdAt", align: "left" },
        { text: "Action", value: "action", align: "left", sortable: false },
      ],
      totalProductsCount: undefined,
      gallery: null,
      skip: 0,
      sort: { createdTs: 1 },
    };
  },
  computed: {
    isUserSuperAdmin() {
      return this.$store.getters.isUserSuperAdmin;
    },
  },
  watch: {
    options: {
      handler() {
        // this.getProducts();
      },
      deep: true,
    },
  },
  created: function () {
  },
  mounted() {
    this.getGallery();
  },
  methods: {
      getGallery() {
       axios
        .post('/galleryimage/find/all', {
            criteria: {},
        })
        .then((response) => {
            this.galleryArray = response.data;
           let createdObj = this.galleryArray.find((e) => e.createdBy);
            if(createdObj) {
            this.headers.splice(6,0,{ text: "CreatedBy", value: "createdBy.username", align: "left", sortable: false },)
          }
           let updatedObj = this.galleryArray.find((e) => e.updatedBy);
          if(updatedObj) {
            this.headers.splice(6,0,{ text: "UpdatedBy", value: "updatedBy.username", align: "left", sortable: false },)
          }
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log('err', e);
          }
        });
    },
     closeDeletePopup() {
      this.isDeletePopup = false;
    },
    deleteSelectedItem() {
       axios
        .post("/galleryimage/delete", {
          criteria: { _id: this.gallery._id },
        })
        .then(() => {
          const index = this.galleryArray
          .map((element) => element._id)
          .indexOf(this.gallery._id);
        this.galleryArray.splice(index, 1);
          this.snackbar = true;
          this.snackBarText = "Selected Gallery is deleted successfully";
          this.isDeletePopup = false;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
      closeDialog() {
          this.isAddEditOpen =false;
      },
       closeCreatePopup() {
      this.createPopup = false;
    },
      changeDate(date) {
      return moment(date).format("MMM DD YYYY, hh:mm A");
    },
     changeData(data) {
       if(data === true) {
         return 'YES'
       }
       if(data === false) {
         return 'NO'
       }
    },
    edit(item) {
      this.gallery = item ;
      this.isAddEditOpen = true;
    },
    deleteItem(item) {
      this.isDeletePopup = true;
      this.gallery = item;
    },
     create() {
      this.createPopup = true;
    },
     addItem(e) {
      this.galleryArray.push(e);
      this.snackbar = true;
      this.snackBarText = "Gallery added successfully";
    },
    updateItem(e) {
      this.galleryArray.forEach((element, index) => {
        if (element._id === e._id) {
          Object.assign(this.galleryArray[index], e);
          this.snackbar = true;
         this.snackBarText = "Gallery updated successfully";
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.main-container {
  .inner-container {
    padding: inherit;
  }
}
</style>