<template>
<div class="user_container">
    <div class="user_heading">Leaderboard</div>
    <div class="tabs_outer_wrapper">
        <div class="tabs_inner_wrapper">
            <router-link tag="div" active-class="active" :to="{ name: 'LeaderboardSummary' }" exact class="tab">overall summary</router-link>
        </div>
        <div class="content">
            <router-view />
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: "LeaderboardSummary"
}
</script>
<style scoped>
.tab{
    min-width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 0.25px solid #ffffff;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-right: 10px;
    cursor: pointer;
    padding: 1px 7px;
}
.user_container{
    padding: 12px;
    white-space: nowrap;
}
.user_heading{
    font-size: 1.5em;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-left: 10px;
}
.tabs_outer_wrapper{
    justify-content: space-between;
    border-radius: 8px;
}
.tabs_inner_wrapper{
    display: flex;
    padding: 0 10px;
    color: #FFFFFF;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 21px;
}
.content{
    background: #320C6A;
    padding: 25px;
    margin: 0px 10px 10px 10px;
}
.active {
    background: #320C6A;
    border: none;
    text-align: center;
}
.inner_subwrap {
    min-width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 0.25px solid #ffffff;
    text-align: center;
    font: normal normal 300 16px/25px Poppins;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-right: 10px;
    cursor: pointer;
}
.active {
    background: #320C6A;
    border: 0.25px solid #320C6A;
    text-align: center;
    border-radius: inherit;
}

</style>