<template>
  <div style="width: 100%;">
    <canvas id="myChart"></canvas>
  </div>
</template>

<script>
import Chart from "chart.js/auto";
export default {
  data() {
    return {
      config: {
        type: "line",
        data: {
          labels: [
            "JAN",
            "FEB",
            "MAR",
            "APR",
            "MAY",
            "JUN",
            "JUL",
            "AUG",
            "SEP",
            "OCT",
            "NOV",
            "DEC",
          ],
          datasets: [
            {
              label: "My First dataset",
              backgroundColor: "#427BD5",
              //   showLine: false,
              borderWidth: 5,
              tension: 0.4,
              borderColor: "#21f1e7",
              fill: true,
              data: [65, 59, 80, 81, 56, 55, 40, 20, 45, 18, 30, 10],
            },
          ],
        },
        options: {
          scales: {
            x: {
              grid: {
                color: "#427BD5",
                borderColor: "#427BD5",
              },
              ticks: {
                color: "white",
              },
            },
            y: {
              grid: {
                color: "#427BD5",
                borderColor: "#427BD5",
              },
              ticks: {
                color: "white",
              },
            },
          },
          plugins: {
            legend: {
              labels: {
                color: "white",
                font: {
                  size: 16,
                },
              },
            },
          },
        },
      },
    };
  },
  mounted() {
    const myChart = new Chart(document.getElementById("myChart"), this.config);
    Chart.defaults.color = "white";
    console.log(myChart);
  },
};
</script>
