<template>
  <div class="main-container">
    <div class="inner-container">
      <div class="login-container">
        <div class="image-container">
          <div class="logo">
            <span class="capitalletter">365</span>Games
            <span class="capitalletter">A</span>dmin
          </div>
        </div>
        <div class="login-form">
          <div class="login-header">Login</div>
          <div class="input-container">
            <v-text-field
              type="text"
              placeholder="Email"
              v-model="email"
              append-icon="mdi-account"
              :error-messages="emailError"
              solo
            >
            </v-text-field>
            <v-text-field  v-model="password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              placeholder="Password"
              :error-messages="passwordError"
              @click:append="show1 = !show1" solo
              @keyup.enter="validate"
              >
            </v-text-field>
          </div>
          <v-btn class="login-button" color="#1e0741" rounded @click="validate()">Login</v-btn>
        </div>
      </div>
    </div>
  </div>
</template> <script>
export default {
  name: "Login",
  data: function () {
    return {
      show1: false,
      email: "",
      password: "",
      emailError: undefined,
      passwordError: undefined,
      reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,/* eslint-disable-line */

    };
  },
  watch: {},
  methods: {
     validate() {
      if (!this.reg.test(this.email)) {
        this.emailError = 'Enter a valid mail id';
      } else {
        this.emailError = '';
      }

      if (this.password === '') {
        this.passwordError = 'Password is required.';
      } else {
        this.passwordError = '';
      }

      if (this.reg.test(this.email) && this.password !== '') {
        this.login();
      }
    },
    login() {
      if (this.email && this.password) {
        const body = {
          criteria: {
            email: this.email,
            password: this.password
          }
        }
        this.$store.dispatch('login', body).then(data => {
          if (data) {
            this.$store.dispatch('getRole')
            this.$router.push("/")
            }
        }) .catch((e) => {
            console.log("err", e.response.data);
             if (e.response.data.type === 'email_error') {
            const emailData = e.response.data.message;
            this.emailError = emailData;
          } else {
            this.emailError = '';
          }
          if (e.response.data.type === 'password_error') {
            const passwordData = e.response.data.message;
            this.passwordError = passwordData;
          } else {
            this.passwordError = '';
          }
        });
      }
    },
  },
};
</script> 

<style lang="scss" scoped>
::v-deep .v-input__slot {
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1) !important;
  height: 62px !important;
  border-radius: 20px !important;
  .v-text-field__slot {
    padding-left: 10px !important;
  }
}
.main-container {
  height: 100%;
  .inner-container {
    // width: 100%;
    // height: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    // background: linear-gradient(
    //   -9deg,
    //   rgb(32, 106, 93, 0.5),
    //   rgb(32, 106, 93, 1)
    // );
    background: transparent linear-gradient(26deg, #45108A 2%, #3D065F 29%, #12054E 100%, #10054D 100%);
    .login-container {
      padding: 60px 48px;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.361);
      .image-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
          font-weight: bolder;
          font-size: 24px;
          color: #9473cf;
          .capitalletter {
            font-size: 32px;
            color: #1E0453;
          }
        }
      }
      .login-form {
        width: 100%;
        text-align: center;
        .login-button {
          color: white;
          padding: 20px 50px;
        }
        .login-header {
          font-size: 24px;
          font-weight: 700;
          color: #1e0741;
          line-height: 1.2;
          text-align: center;
          width: 100%;
          padding-bottom: 54px;
        }
        .button-container {
          padding: 12px 0;
          .v-btn {
            font-size: 20px;
            line-height: 1.5;
            color: #fff;
            text-transform: uppercase;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            background: #57b846;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
            transition: all 0.4s;
          }
        }
      }
    }
  }
}
@media screen and(max-width: 767px) {
  .main-container {
    .inner-container {
      .login-container {
        display: flex;
        flex-direction: column;
        padding: 30px 48px;
        .image-container {
          padding-bottom: 10px;
        }
        .login-form {
          .login-header {
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}
@keyframes anim-shadow {
  to {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
}
</style>
