<template>
  <div class="mainlayout">
    <div class="user_container">
      <div class="user_buttons_wrap">
        <div class="user_title">
          Orders
        </div>
         <div class="side_buttons">
          <div class="button_wrapper">
            <div class="button_wrapper_hover">filter</div>
            <div class="filter_wrap" id="myDIV">
              <div class="tooltip"></div>
              <div class="filter_popup">
                <div class="checkbox">
                     <v-checkbox 
              v-model="selectedStatus"
              label="Success"
              value="success"
              color="indigo darken-3"
              @click="getOrders"
              hide-details
            ></v-checkbox>
                </div>
                <div class="checkbox">
                    <v-checkbox
              v-model="selectedStatus"
              label="Pending"
              value="pending"
              color="indigo darken-3"
              @click="getOrders"
              hide-details
            ></v-checkbox>
                </div>
              </div>
            </div>
          </div>
          <!-- <router-link
            class="button_wrapper"
            tag="div"
            :to="{ name: 'UserSummary' }"
            exact
            >summary</router-link
          > -->
        </div>
      </div>
      <div class="user user-details-table">
        <div class="user_content" id="blur">
          <div class="user_table_responsive">
            <v-data-table
              dark
              style="background: rgb(48, 11, 105); margin-top: 1rem;color: white;"
              :headers="headers"
              :items="orders"
              :search="search"
            >
              <template v-slot:[`item._id`]="{ item }">
                {{ displayIndex(item) }}
              </template>
              <template v-slot:[`item.isDraft`]="{ item }">
                <div>{{ changeData(item.isDraft) }}</div>
              </template>
              <template v-slot:[`item.createdAt`]="{ item }">
                <div>{{ changeDate(item.createdAt) }}</div>
              </template>
              <!-- <template v-slot:[`item.action`]="{ item }">
                <img class="edit_icon" src="../assets/user/Edit@2x.png" @click="edit(item)" />
                <v-icon>mdi-eye-outline</v-icon>
              </template> -->
            </v-data-table>
          </div>
        </div>
      </div>
    </div>
    <AddEditRewards
      v-if="isAddEditOpen"
      @closePopup="closeDialog"
      :partner="partner"
      @update-item="updateItem"
    />
    <AddEditRewards
      v-if="createPopup"
      @closeCreatePopup="closeCreatePopup"
      @add-item="addItem"
    />
  </div>
</template>
<script>
import moment from "moment";
import axios from "axios";
import AddEditRewards from "../components/AddEditRewards.vue";
export default {
  components: {
    AddEditRewards,
  },
  data() {
    return {
      selectedStatus: "",
      snackbar: false,
      snackBarText: "",
      snachBarTimeout: 2000,
      createPopup: false,
      isDeletePopup: false,
      dataCount: undefined,
      itemsPerPage: [5, 10, 25, 50, 100],
      options: {},
      orders: [],
      pageCount: 0,
      search: "",
      selected: [],
      excelFileName: `ProductList ${new Date().toLocaleString()}`,
      isDeleteConfirmationPopupOpen: false,
      isAddEditOpen: false,
      headers: [
           {
          text: "S.No",
          align: "left",
          sortable: false,
          value: "_id",
        },
        { text: "Product", align: "left", sortable: false, value: "products[0].product.name" },
        { text: "Quantity", align: "left", sortable: false, value: "products[0].quantity" },
        {
          text: "User",
          value: "user",
          align: "left",
          sortable: false,
        },
        //   {
        //   text: "Payment Status",
        //   value: "name",
        //   align: "left",
        //   sortable: false,
        // },
         {
          text: "Order Status",
          value: "orderStatus",
          align: "left",
          sortable: false,
        },
        { text: "Payment Status", value: "paymentStatus", align: "left", sortable: false },
        { text: "Date", value: "createdAt", align: "left" },
        // { text: "Action", value: "action", align: "left", sortable: false },
      ],
      totalProductsCount: undefined,
      partner: null,
      skip: 0,
      sort: { createdTs: 1 },
    };
  },
  computed: {
    isUserSuperAdmin() {
      return this.$store.getters.isUserSuperAdmin;
    },
  },
  watch: {
    options: {
      handler() {},
      deep: true,
    },
  },
  mounted() {
    this.getOrders();
  },
  methods: {
    displayIndex(item) {
      return this.orders.indexOf(item) + 1;
    },
      changeStatus(status) {
      switch (status) {
        case true:
          return "Success";
        case false:
          return "Failed";
        default:
          return "Processing";
      }
    },
     getColor(status) {
      switch (status) {
        case true:
          return "green";
        case false:
          return "red";
        default:
          return "orange";
      }
    },

    getOrders() {
         const criteria = {};
      if (this.selectedStatus ) {
        criteria["orderStatus"] = this.selectedStatus;
      }
      axios
        .post("/order/admin/find/all", {
          criteria,
        })
        .then((response) => {
          this.orders = response.data;
          console.log('orders', this.orders)
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    closeDialog() {
      this.isAddEditOpen = false;
    },
    closeCreatePopup() {
      this.createPopup = false;
    },
    changeDate(date) {
      return moment(date).format("MMM DD YYYY, hh:mm A");
    },
    edit(item) {
      this.partner = item;
      this.isAddEditOpen = true;
    },
    viewOrders(item) {
        localStorage.setItem(item,  'orderDetails')
        this.$router.push("/order/details");
    },
    create() {
      this.createPopup = true;
    },
     changeData(data) {
       if(data === true) {
         return 'YES'
       }
       if(data === false) {
         return 'NO'
       }
    },
    addItem(e) {
      this.orders.push(e);
      this.snackbar = true;
      this.snackBarText = "Partner added successfully";
    },
    updateItem(e) {
      this.orders.forEach((element, index) => {
        if (element._id === e._id) {
          Object.assign(this.orders[index], e);
          this.snackbar = true;
          this.snackBarText = "Partner updated successfully";
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.edit_icon{
  cursor: pointer;
}
::v-deep.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: unset !important;
}
::v-deep.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  font-size: 16px;
  color: white;
}
.mdi:before,
.mdi-set {
  color: white;
}
.mainlayout {
  padding: 1em;
}
.user_buttons_wrap {
  display: flex;
  justify-content: space-between;
}
.user_title {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1.7em;
  margin-right: 10px;
}
.side_buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  column-gap: 10px;
  white-space: nowrap;
}
.button_wrapper{
    cursor: pointer;
    border: 0.5px solid #FFF;
    border-radius: 4px;
    align-items: center;
    display: flex;
    padding: 0px 25px;
    text-transform: capitalize;
    font-size: 16px;
}
.button_wrapper:hover{
    background-color: #FFFFFF;
    color: #210654;
}
.filter_wrap{
        right: 135px;
    }
     .tooltip{
        position: absolute;
        transform: translate(-58px, 0%);
        right:-10px;
    }

.button_wrapper:hover .filter_wrap{
    display:block;
}
.filter_wrap:before {
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    top: -20px;
    width: 100%;
}
.user_table {
  margin-top: 12px;
}
.user_responsive_table {
  background-color: #320c6a;
  font-size: 1em;
  box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
  width: 100%;
  border-collapse: collapse;
  text-transform: capitalize;
  color: #fdfdfd;
  white-space: nowrap;
}
td,
th {
  padding: 1em 0.5em;
  vertical-align: middle;
}
th {
  text-align: left;
}
.flag_in img {
  width: 30px;
}
tr {
  border-bottom: 1px solid #49277b;
}
.user_img img {
  border-radius: 4px;
  width: 30px;
}
.bottom::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.89;
  /* margin-top: 58px; */
}
.filter_wrap {
  display: none;
  padding: 12px 19px 13px 10px;
  position: absolute;
  top: 53px;
  z-index: 1;
  right: 5px;
  background: #ffffff;
  color: #030109;
  border-radius: 4px;
}
.checkbox label input {
  margin-right: 8px;
}
.tooltip {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  transform: matrix(1.2, 1, -1, 2, 6, 3);
  top: -18px;
  right: 0px;
  border-bottom: 11px solid #ffffff;
}
.adduser_container {
  display: none;
  position: absolute;
  top: 180px;
}

.user_form_container {
  left: 0;
  bottom: 0;
  margin: 150px auto;
  right: 0;
  position: absolute;
  padding: 25px;
  background: #fff;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  background-color: #1e0453;
  z-index: 1;
  width: 781px;
  box-shadow: 0px 0px 7px 1px #5c6373;
}
.user_heading_top {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.close_button {
  cursor: pointer;
}
.user_form_fields_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  grid-column-gap: 44px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .user_form_fields_wrapper {
    flex-direction: column;
  }
  .input_wrapper input {
    padding: 5px 25px !important;
    margin-bottom: 15px !important;
    font-size: 0.8em;
  }
  .user_heading_top {
    font-size: 17px;
  }
}
.input_wrapper input {
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 16px;
  margin-bottom: 25px;
  outline: none;
  text-transform: capitalize;
  border: none;
}
.column1 .input_wrapper input:nth-child(2) {
  width: -webkit-fill-available;
}
.input_wrapper .checkbox {
  color: #ffffff;
}
label {
  text-transform: capitalize;
}
.column3 .input_wrapper {
  text-align: right;
}
button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  padding: 5px 45px;
  font-size: 16px;
  text-transform: capitalize;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_form_fields_wrapper {
    width: fit-content;
    text-align: center;
  }
  .user_form_container {
    right: 0px;
    width: max-content;
    margin: 1px auto;
    padding: 10px 35px;
  }
}
/*--------------------------------------responsive table-------------------*/
.user_table_responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}
/* width */
.user_table_responsive::-webkit-scrollbar {
  width: 25px;
}

/* Track */
.user_table_responsive::-webkit-scrollbar-track {
  background: #35136f 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

/* Handle */
.user_table_responsive::-webkit-scrollbar-thumb {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  height: 50px;
}

/* Handle on hover */
.user_table_responsive::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 144, 180);
}
</style>
