<template>
  <div class="mainlayout">
    <div class="user_container">
      <div class="user_buttons_wrap">
        <div class="user_title">
          Prizes({{randomDropName}})
        </div>
        <div class="side_buttons">
          <div class="button_wrapper" @click="create()">+ add Prizes</div>
        </div>
      </div>
      <div class="user user-details-table">
        <div class="user_content" id="blur">
          <div class="user_table_responsive">
            <v-data-table
              dark
              style="background: rgb(48, 11, 105); margin-top: 1rem;color: white;"
              :headers="headers"
              :items="rewardsArray"
              :search="search"
            >
              <template v-slot:[`item._id`]="{ item }">
                {{ displayIndex(item) }}
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <v-btn small color="rgb(146 111 196)">{{item.status}}<v-icon
        right
        dark
      >
        mdi-menu-down
      </v-icon></v-btn>
              </template>
              <template v-slot:[`item.createdAt`]="{ item }">
                <div>{{ changeDate(item.createdAt) }}</div>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="action">
                  <img class="edit_icon" src="../assets/user/Edit@2x.png" @click="edit(item)" />
                  <span  @click="addWinner(item)"><v-icon > mdi-trophy-award</v-icon></span>
                </div>
              </template>
            </v-data-table>
          </div>
        </div>
      </div>
    </div>
    <AddEditRandomdropPrizes
    @closePopup="closeDialog"
      v-if="isAddEditOpen"
      :reward="reward"
      @update-item="updateItem"
    />
    <AddEditRandomdropPrizes
    @closeCreatePopup="closeCreatePopup"
      v-if="createPopup"
      @add-item="addItem"
    />
    <AddEditRandomdropWinners
      v-if="isWinnerPopup"
      @closeWinnerPopup="closeWinnerPopup"
      :tournament="randomDropPlayer"
      :rewardDetail ="selectedRewardWinner"
      @updateWinnerItem="updateWinnerData"
     />
    <v-snackbar
      v-model="snackbar"
      top
      :color="color"
      elevation="24"
      :timeout="timeout"
    >
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>

import moment from "moment";
import axios from 'axios';
import AddEditRandomdropPrizes from "../components/AddEditRandomdropPrizes.vue";
import AddEditRandomdropWinners from "../components/AddEditRandomdropWinners.vue";

export default {
  components: {
      AddEditRandomdropPrizes,
      AddEditRandomdropWinners
  },
  data() {
    return {
      randomDropName: '',
      createPopup: false,
      isWinnerPopup: false,
      selectedRewardWinner:'',
      color: "",
      snackbar: false,
      snackbarText: "",
      timeout: "-1",
      isDeletePopup: false,
      dataCount: undefined,
      itemsPerPage: [5, 10, 25, 50, 100],
      options: {},
      rewardsArray: [],
      randomDrop: {},
      randomDropPlayer:[],
      pageCount: 0,
      search: "",
      selected: [],
      excelFileName: `ProductList ${new Date().toLocaleString()}`,
      isDeleteConfirmationPopupOpen: false,
      isAddEditOpen: false,
      headers: [
           {
          text: "S.No",
          align: "left",
          sortable: false,
          value: "_id",
        },
        { text: "Name", align: "left", sortable: false, value: "name" },
        // { text: "Type", align: "left", sortable: false, value: "type" },
        // { text: "Cash", value: "cash", align: "left", sortable: false },
        { text: "Gem", value: "gem", align: "left", sortable: false },
        { text: "Rank", value: "rank", align: "left", sortable: false },
        { text: "Winner", value: "winner.username", align: "left", sortable: false },
        // { text: "Status", value: "status", align: "left", sortable: false },
        { text: "Date", value: "createdAt", align: "left" },
        { text: "Action", value: "action", align: "left", sortable: false },
      ],
      totalProductsCount: undefined,
      reward: null,
      skip: 0,
      sort: { createdTs: 1 },
    };
  },
  computed: {
    isUserSuperAdmin() {
      return this.$store.getters.isUserSuperAdmin;
    },
  },
  watch: {
    options: {
      handler() {
        // this.getProducts();
      },
      deep: true,
    },
  },
  mounted() {
    this.getRewards();
    this.getLeaderboard();
  },
  methods: {
    displayIndex(item) {
      return this.rewardsArray.indexOf(item) + 1;
    },
    getLeaderboard() {
      axios
        .get("/random-drop/admin/find/".concat(this.$route.params.id))
        .then((response) => {
          this.randomDropName = response.data.name
         this.randomDropPlayer = response.data.participants.map(participant => participant.user);
         this.randomDrop = response.data;
         console.log('response RandomDrop prize', response.data)
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
      getRewards() {
       axios
        .post('/reward/admin/find/all', {
            criteria: {
                type: 'RandomDrop',
                rewardFor: this.$route.params.id
            },
        })
        .then((response) => {
            this.rewardsArray = response.data;
            console.log('rewards',response.data)
         
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log('err', e);
          }
        });
    },
    addWinner(item) {
      this.selectedRewardWinner = item;
      this.isWinnerPopup = true;
    },
    closeDialog() {
        this.isAddEditOpen =false;
        var element = document.getElementById("blur");
        element.classList.remove("bottom");
    },
    closeCreatePopup() {
        this.createPopup = false;
        var element = document.getElementById("blur");
        element.classList.remove("bottom");
    },
    closeWinnerPopup() {
        this.isWinnerPopup = false;
        var element = document.getElementById("blur");
        element.classList.remove("bottom");
    },
    changeDate(date) {
      return moment(date).format("MMM DD YYYY, hh:mm A");
    },
     changeData(data) {
       if(data === true) {
         return 'YES'
       }
       if(data === false) {
         return 'NO'
       }
    },
    edit(item) {
      this.reward = item ;
      this.isAddEditOpen = true;
       var element = document.getElementById("blur");
      element.classList.add("bottom")
    },
     create() {
      this.createPopup = true;
       var element = document.getElementById("blur");
      element.classList.add("bottom")
    },
     addItem(e) {
      this.rewardsArray.push(e);
      this.snackbar = true;
      this.snackbarText = "RandomDrop prize added successfully";
      this.color = "#a8e063";
      this.timeout = 3000;
    },
    updateItem(e) {
      this.rewardsArray.forEach((element, index) => {
        if (element._id === e._id) {
          Object.assign(this.rewardsArray[index], e);
          this.snackbar = true;
         this.snackbarText = "RandomDrop prize updated successfully";
         this.color = "#a8e063";
         this.timeout = 3000;
        }
      });
    },
    updateWinnerData(e) {
      this.rewardsArray.forEach((element, index) => {
        if (element._id === e._id) {
          Object.assign(this.rewardsArray[index], e);
          this.color = "green";
          this.snackbar = true;
          this.snackbarText = "Winner updated successfully";
          this.timeout = 3000;
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.action{
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
}
.edit_icon{
  cursor: pointer;
}
::v-deep.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: unset !important;
}
::v-deep.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  font-size: 16px;
  color: white;
}
.mdi:before,
.mdi-set {
  color: white;
}
.mainlayout {
  padding: 1em;
}
.user_buttons_wrap {
  display: flex;
  justify-content: space-between;
}
.user_title {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1.7em;
  margin-right: 10px;
}
.side_buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  column-gap: 10px;
  white-space: nowrap;
}
.button_wrapper{
    cursor: pointer;
    border: 0.5px solid #FFF;
    border-radius: 4px;
    align-items: center;
    display: flex;
    padding: 0px 25px;
    text-transform: capitalize;
    font-size: 16px;
}
.button_wrapper:hover{
    background-color: #FFFFFF;
    color: #210654;
}
.user_table {
  margin-top: 12px;
}
.user_responsive_table {
  background-color: #320c6a;
  font-size: 1em;
  box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
  width: 100%;
  border-collapse: collapse;
  text-transform: capitalize;
  color: #fdfdfd;
  white-space: nowrap;
}
td,
th {
  padding: 1em 0.5em;
  vertical-align: middle;
}
th {
  text-align: left;
}
.flag_in img {
  width: 30px;
}
tr {
  border-bottom: 1px solid #49277b;
}
.user_img img {
  border-radius: 4px;
  width: 30px;
}
.bottom::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.89;
  /* margin-top: 58px; */
}
.adduser_container {
  display: none;
  position: absolute;
  top: 180px;
}

.user_form_container {
  left: 0;
  bottom: 0;
  margin: 150px auto;
  right: 0;
  position: absolute;
  padding: 25px;
  background: #fff;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  background-color: #1e0453;
  z-index: 1;
  width: 781px;
  box-shadow: 0px 0px 7px 1px #5c6373;
}
.user_heading_top {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.close_button {
  cursor: pointer;
}
.user_form_fields_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  grid-column-gap: 44px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .user_form_fields_wrapper {
    flex-direction: column;
  }
  .input_wrapper input {
    padding: 5px 25px !important;
    margin-bottom: 15px !important;
    font-size: 0.8em;
  }
  .user_heading_top {
    font-size: 17px;
  }
}
.input_wrapper input {
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 16px;
  margin-bottom: 25px;
  outline: none;
  text-transform: capitalize;
  border: none;
}
.column1 .input_wrapper input:nth-child(2) {
  width: -webkit-fill-available;
}
.input_wrapper .checkbox {
  color: #ffffff;
}
label {
  text-transform: capitalize;
}
.column3 .input_wrapper {
  text-align: right;
}
button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  padding: 5px 45px;
  font-size: 16px;
  text-transform: capitalize;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_form_fields_wrapper {
    width: fit-content;
    text-align: center;
  }
  .user_form_container {
    right: 0px;
    width: max-content;
    margin: 1px auto;
    padding: 10px 35px;
  }
  .button_wrapper {
    padding: 0px 12px;
    font-size: 11px;
  }
}
/*--------------------------------------responsive table-------------------*/
.user_table_responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}
/* width */
.user_table_responsive::-webkit-scrollbar {
  width: 25px;
}

/* Track */
.user_table_responsive::-webkit-scrollbar-track {
  background: #35136f 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

/* Handle */
.user_table_responsive::-webkit-scrollbar-thumb {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  height: 50px;
}

/* Handle on hover */
.user_table_responsive::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 144, 180);
}
</style>