<template>
   <div class="task">
        <div class="top_bar">
            <div class="title_wrapper">Task status</div>
            <div class="button_wrapper"><button class="filter_wrap">filter</button></div>
        </div>
         <div class="inner_container2">
            <div class="outer_cover">
                <div class="full_cover">

                        <div class="list">
                            <table class="Task_status_table">
                                 
                                    <tr class="task_header">
                                        <th>s.no</th> 
                                        <th>task name</th>
                                        <th>task type</th>
                                        <th>task status</th>
                                        <th>action</th>
                                    </tr>
                                    <tr>
                                    <td><div class="task_text">1</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>

                                    <tr>
                                    <td><div class="task_text">2</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>

                                    <tr>
                                    <td><div class="task_text">3</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>

                                    <tr>
                                    <td><div class="task_text">4</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>

                                    <tr>
                                    <td><div class="task_text">5</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>


                                    <tr>
                                    <td><div class="task_text">6</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>
                                    <tr>
                                    <td><div class="task_text">7</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>
                                    <tr>
                                    <td><div class="task_text">8</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>
                                    <tr>
                                    <td><div class="task_text">9</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>
                                    <tr>
                                    <td><div class="task_text">10</div></td>
                                    <td><div class="task_text">emailer</div></td>
                                    <td><div class="task_text">send emailers</div></td>
                                    <td><div class="task_text">completed</div></td>
                                    <td><div class="task_text"><i class="fas fa-history"></i></div></td>
                                    </tr>



                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
name: "TaskStatus"
}
</script>

<style scoped>
body{
  display: block;
  margin: 10px;
  background: transparent linear-gradient(26deg, #45108A 2%, #3D065F 29%, #12054E 100%, #10054D 100%);
}
img{
  width: 100%;
  display: block;
}
.task{
margin:  5px 20px 10px 20px;
font-family: Poppins, sans-serif;
}
.top_bar{
display: flex;
justify-content: space-between;
}
.title_wrapper{
margin: 15px 0px 5px 15px;
text-align: left;
letter-spacing: 0px;
color: #FFFFFF;
font:500 22px/33px Poppins;
text-transform: capitalize;
}
button{
border: 0.5px solid #FFFFFF;
background: #180550;
color: white;
cursor: pointer;
min-width: 90px;
min-height:30px;
text-transform: capitalize;
padding: 5px;
margin: 15px 10px 10px 0px;
border-radius: 4px;
}
.inner_container2{
overflow-x: auto;
}
.inner_container{
background: #1E0741;
border-radius: 8px;
}
.inner_subshell{
display: flex;
}
.inner_subwrap{
margin: 10px 0px 5px 10px;
min-width: 180px;
border-radius: 5px;
border: 0.25px solid #FFFFFF;
text-align: center;
font:300 16px//*25px*/ Poppins;
padding:5px;
letter-spacing: 0px;
color: #FFFFFF;
border-radius: 4px;
text-transform: capitalize;
}
.active{
background: #320C6A;
border: 0.25px solid #320C6A; 
margin: 10px 0px 0px 10px!important;
padding-bottom: 10px;
border-radius: 4px;
}
.list table{
  width: 100%;
  border-collapse: collapse;
  padding: 15px;
 }
.task_header{
border-radius: 9px 9px 0px 0px;
opacity: 0.99;
}
td{
  padding: 12px;
  text-align: center;
 background: #320C6A;
}
th{
background:  #320C6A;
font:15px/18px Josefin Sans;
letter-spacing: 0px;
text-align:left!important;
color: #FDFDFD;
text-transform: capitalize;
padding: 15px;
border-bottom: 5px solid #10054D;
}
.task_text{
text-transform: capitalize;
text-align: left;
font:15px/18px Josefin Sans;
letter-spacing: 0px;
color: #FDFDFD;
padding: 5px;
}
@media screen and (max-width: 640px) {
.top_bar{
margin: 0px!important;
}
}
</style>