<template>
    <div class="task">
        <div class="top_bar">
            <div class="title_wrapper">Task</div>
            <!-- <button class="filter_wrap">filter</button> -->
        </div>
        <div class="inner_subshell">
            <router-link tag="div" active-class="active" :to="{ name: 'TaskSendemail' }" exact class="inner_subwrap">send email</router-link>
            <router-link tag="div" active-class="active" :to="{ name: 'TaskCreate' }" exact class="inner_subwrap">Send Notification</router-link>
            <router-link tag="div" active-class="active" :to="{ name: 'TaskDownloaddata' }" exact class="inner_subwrap">download data</router-link>
            <router-link tag="div" active-class="active" :to="{ name: 'TaskGems' }" exact class="inner_subwrap">users</router-link>
        </div>
        <div class="inner_container2">
            <router-view />
        </div>
    </div>    
</template>
<script>
export default {
    name:"Task"
}
</script>
<style scoped>
.task{
margin:  5px 20px 10px 20px;
font-family: Poppins, sans-serif;
}
.top_bar{
display: flex;
justify-content: space-between;
}
.title_wrapper{
margin: 15px 0px 5px 15px;
text-align: left;
letter-spacing: 0px;
color: #FFFFFF;
font:500 22px/33px Poppins;
text-transform: capitalize;
}
.inner_subshell{
    display: flex;
    color: #FFFFFF;
    flex-wrap: wrap;
    cursor: pointer;
}
.inner_subwrap{
margin: 10px 0px 5px 10px;
min-width: 180px;
border-radius: 5px;
border: 0.25px solid #FFFFFF;
text-align: center;
font:300 16px//*25px*/ Poppins;
padding:5px;
letter-spacing: 0px;
color: #FFFFFF;
border-radius: 4px;
text-transform: capitalize;
}
.active{
background: #320C6A;
border: 0.25px solid #320C6A; 
margin: 10px 0px 0px 0px!important;
padding-bottom: 10px;
border-radius: 4px;
}
button{
border: 0.5px solid #FFFFFF;
background: #180550;
color: white;
cursor: pointer;
min-width: 70px;
min-height:30px;
padding: 5px;
margin: 15px 10px 10px 0px;
text-transform: capitalize;
border-radius:4px;
}
@media screen and (max-width: 640px) {
.inner_container{
display: block; 
}
.inner_cont,.inner_wrapper{
display: block;
}
/* .inner_subshell{
  display: none;
} */
}
</style>