<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <!-- <v-dialog persistent max-width="1100px" v-model="isDialogOpen" dark> -->
      <v-card style="background:#1e0453" dark>
        <v-card-title class="justify-center"> Add Edit Leaderboard </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="8">
                <label for="">Enter Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isDraft"
                  :label="`Is Draft: ${isDraft}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Game</label>
                <v-select
                  :items="gamesList"
                  item-text="shortName"
                  item-value="_id"
                  label="Select Game"
                  v-model="game"
                  required
                  light
                  outlined
                  solo
                  :rules="[(v) => !!v || 'Game is required']"
                ></v-select>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Prize Pool</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Prize Pool"
                  required
                  v-model="prizePool"
                  :rules="[(v) => !!v || 'Prize Pool is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Entry cash</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Entry cash"
                  required
                  v-model="entryCash"
                  :rules="[(v) => !!v || 'Entry cash is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Entry Fee Gem</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Entry Fee Gem*"
                  required
                  v-model="entryFeeGem"
                  :rules="[(v) => !!v || 'Entry Fee Gem is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select platform</label>
                <v-select
                  :items="platforms"
                  label="Select Platform"
                  v-model="platform"
                  required
                  light
                  outlined
                  solo
                  :rules="[(v) => !!v || 'Platform is required']"
                ></v-select>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Duration</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Duration"
                  required
                  v-model="duration"
                  :rules="[(v) => !!v || 'Duration is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Registration Start Time</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="schedule.registrationStart"
                />
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Registration End Time</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="schedule.registrationEnd"
                />
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isFeatured"
                  :label="`Is Featured: ${isFeatured}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
             <v-col class="column" cols="12" sm="4">
                <label for="">Select Leaderboard Start Time</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="schedule.leaderboardStart"
                />
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Leaderboard End Time</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="schedule.leaderboardEnd"
                />
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isRegistrationFree"
                  :label="`Is Registration Free: ${isRegistrationFree}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <label for="">Enter Description</label>
                <Editor v-if="isCreatePage || description" :content.sync="description" />
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <label for="">Enter Short Description</label>
                <Editor v-if="isCreatePage || shortDescription" :content.sync="shortDescription" />
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="12">
                <label for="">Select Desktop Poster</label>
                <v-file-input
                :disabled = " !$store.getters.checkRoleAccess('leaderboard-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Desktop Poster(1300*350)"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'desktop')"
                  multiple
                  :rules="[(v) => !!v || 'Desktop Poster is required']"
                >
                </v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <v-slide-group v-if="desktopPoster" multiple show-arrows>
                  <v-img
                    class="mx-4"
                    max-width="200px"
                    :src="'https://ps-mg.s3.amazonaws.com/' + desktopPoster"
                  >
                  </v-img>
                </v-slide-group>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Mobile Poster</label>
                <v-file-input
                :disabled = " !$store.getters.checkRoleAccess('leaderboard-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Mobile Poster(600*320)"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'mobile')"
                  multiple
                  :rules="[(v) => !!v || 'Mobile Poster is required']"
                >
                </v-file-input>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Logo</label>
                <v-file-input
                :disabled = " !$store.getters.checkRoleAccess('leaderboard-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Logo"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'logo')"
                  multiple
                  :rules="[(v) => !!v || 'logo is required']"
                >
                </v-file-input>
              </v-col>
            </v-row>

            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-slide-group v-if="mobilePoster" multiple show-arrows>
                  <v-img
                    class="mx-4"
                    max-width="200px"
                    :src="'https://ps-mg.s3.amazonaws.com/' + mobilePoster"
                  >
                  </v-img>
                </v-slide-group>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="logo" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="150px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + logo"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            v-if="!leaderboard"
            outlined
            color="white"
            @click="createLeaderboardAndClear"
            :disabled="!logo"
            >Save and add another</v-btn
          >
            <v-btn
            v-if="!leaderboard"
            outlined
            color="white"
            @click="createLeaderboard"
            :disabled="!logo"
            >Save and continue editing</v-btn
          >
             <v-btn
            v-if="!leaderboard"
            outlined
            color="white"
            :disabled="!logo"
            @click="createAndSaveLeaderboard"
            >Save</v-btn
          >
                 <v-btn
            v-if="leaderboard && $store.getters.checkRoleAccess('leaderboard-update')"
            outlined
            color="white"
            @click="updateLeaderboard"
            :disabled="!logo"
            >Save and continue editing</v-btn
          >
             <v-btn
             v-if="leaderboard && $store.getters.checkRoleAccess('leaderboard-update')"
            outlined
            color="white"
            :disabled="!logo"
            @click="updateAndSaveLeaderboard"
            >Save</v-btn
          >
        </v-card-actions>
      </v-card>
      <v-snackbar
         :timeout=3000
        v-model="snackbar"
        absolute
        top
        color="red darken-4"
        elevation="24"
      >
        Select schedule date && time
      </v-snackbar>
    <!-- </v-dialog> -->
  </v-form>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { AwsService } from "@/service/aws-service";
import Editor from "../views/Editor.vue";

export default {
  components: {
    Editor,
  },
//   props: {
//     leaderboard: {},
//   },
  data: () => ({
    leaderboardId: "",
    leaderboard: "",
    snackbar: false,
    isEditPartners: false,
    valid: true,
    items: [],
    value: null,
    isDialogOpen: true,
    name: undefined,
    game: "",
    isDraft: false,
    isFeatured: false,
    isRegistrationFree: false,
    duration: undefined,
    prizePool: undefined,
    mode: undefined,
    entryFeeGem: undefined,
    platform: undefined,
    logo: undefined,
    desktopPoster: undefined,
    mobilePoster: undefined,
    shortDescription: undefined,
    description: undefined,
    content: "",
    entryCash: undefined,
    partner: undefined,
    schedule: {
      registrationStart: undefined,
      registrationEnd: undefined,
      leaderboardStart: undefined,
      leaderboardEnd: undefined,
    },
    gamesList: [],
    platforms: ["pc", "xbox", "playstation", "mobile"],
  }),
   created() {
    this.leaderboardId= this.$route.params.id
    if(this.leaderboardId) this.isCreatePage = false;
    else{this.isCreatePage = true}
  },
  methods: {
      getLeaderboardDetails() {
          axios
        .get("/leaderboard/admin/find/".concat(this.leaderboardId))
        .then((response) => {
         this.leaderboard = response.data;
         console.log('ledrbrd', this.leaderboard)
         if (this.leaderboard) {
      (this.game = this.leaderboard?.game._id),
        (this.name = this.leaderboard?.name),
        (this.isDraft = this.leaderboard?.isDraft),
        (this.duration = this.leaderboard?.duration),
        (this.prizePool = this.leaderboard?.prizePool),
        (this.logo = this.leaderboard?.logo),
        (this.desktopPoster = this.leaderboard?.desktopPoster),
        (this.mobilePoster = this.leaderboard?.mobilePoster),
        (this.shortDescription = this.leaderboard?.shortDescription),
        (this.description = this.leaderboard?.description),
        (this.content = this.leaderboard?.content),
        (this.entryCash = this.leaderboard?.entryCash),
        (this.mode = this.leaderboard?.mode),
        (this.platform = this.leaderboard?.platform);
      this.entryFeeGem = this.leaderboard?.entryFeeGem;
      const schedule = {
        leaderboardStart: moment(
          new Date(this.leaderboard.schedule?.leaderboardStart)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
        registrationStart: moment(
          new Date(this.leaderboard.schedule?.registrationStart)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
        registrationEnd: moment(
          new Date(this.leaderboard.schedule?.registrationEnd)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
        leaderboardEnd: moment(
          new Date(this.leaderboard.schedule?.leaderboardEnd)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
      };
      this.schedule = schedule;
      this.isFeatured = this.leaderboard?.isFeatured;
      this.isRegistrationFree = this.leaderboard?.isRegistrationFree;
    } else {
      this.clear();
    }
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
      },
    validate() {
      this.$refs.form.validate();
    },
     validation() {
      this.validate();
      if (
        this.schedule.registrationStart &&
        this.schedule.registrationEnd &&
        this.schedule.leaderboardStart &&
        this.schedule.leaderboardEnd
      ) {
        this.createLeaderboard();
      } else {
        this.snackbar = true;
      }
    },
    createAndSaveLeaderboard() {
      this.createLeaderboard();
      this.moveToLeaderboardPage();
    },
    createLeaderboardAndClear() {
      this.createLeaderboard();
      this.clear();
    },
     updateAndSaveLeaderboard() {
      this.updateLeaderboard();
      this.moveToLeaderboardPage();
    },
    moveToLeaderboardPage() {
      this.$router.push({ name: 'Leaderboards'});
    },
    createLeaderboard() {
       const schedule = {
        registrationStart: new Date(this.schedule.registrationStart),
        registrationEnd: new Date(this.schedule.registrationEnd),
        leaderboardStart: new Date(this.schedule.leaderboardStart),
        leaderboardEnd: new Date(this.schedule.leaderboardEnd),
      };
      axios
        .post("/leaderboard/admin/create", {
          data: {
            name: this.name,
            game: this.game,
            isDraft: this.isDraft,
            isFeatured: this.isFeatured,
            isRegistrationFree: this.isRegistrationFree,
            duration: this.duration,
            prizePool: this.prizePool,
            mode: this.mode,
            platform: this.platform,
            entryFeeGem: this.entryFeeGem,
            schedule: schedule,
            logo: this.logo,
            desktopPoster: this.desktopPoster,
            mobilePoster: this.mobilePoster,
            shortDescription: this.shortDescription,
            description: this.description,
            // entryCash: this.entryCash,
          },
        })
        .then((response) => {
          this.$emit("add-item", response.data);
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updateLeaderboard() {
      this.validate();
       const schedule = {
        registrationStart: new Date(this.schedule.registrationStart),
        registrationEnd: new Date(this.schedule.registrationEnd),
        leaderboardStart: new Date(this.schedule.leaderboardStart),
        leaderboardEnd: new Date(this.schedule.leaderboardEnd),
      };
      axios
        .post("/leaderboard/admin/update", {
          criteria: { _id: this.leaderboardId },
          data: {
            name: this.name,
            game: this.game,
            isDraft: this.isDraft,
            duration: this.duration,
            prizePool: this.prizePool,
            mode: this.mode,
            platform: this.platform,
            entryFeeGem: this.entryFeeGem,
            schedule: schedule,
            logo: this.logo,
            desktopPoster: this.desktopPoster,
            mobilePoster: this.mobilePoster,
            shortDescription: this.shortDescription,
            description: this.description,
            // entryCash: this.entryCash,
            isFeatured: this.isFeatured,
            isRegistrationFree: this.isRegistrationFree,
          },
        })
        .then((response) => {
          this.$emit("update-item", response.data);
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    clear() {
      this.name = null;
      (this.game = null),
        (this.duration = null),
        (this.prizePool = null),
        (this.desktopPoster = null),
        (this.mobilePoster = null),
        (this.logo = null),
        (this.shortDescription = null),
        (this.description = null),
        (this.content = null),
        (this.entryCash = null),
        (this.entryFeeGem = null),
        (this.location = null),
        (this.partner = null),
        (this.date = null);
      this.tags = null;
      this.isDraft = false;
      this.isFeatured = false;
      this.isRegistrationFree = false;
      this.partners = null;
    },
    slectFile(event, item) {
      this.selectedFile = item;
      this.onFileSelect(event);
    },
    onFileSelect(event) {
      event.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `leaderboard ${path}`)
        .then((response) => {
          let url = response.data.location;
          if (this.selectedFile === "desktop") {
            this.desktopPoster = url.substr(url.indexOf("/", 10) + 1);
            console.log("link1>>>>>", this.desktopPoster);
          }
          if (this.selectedFile === "mobile") {
            this.mobilePoster = url.substr(url.indexOf("/", 10) + 1);
            console.log("link2>>>>>", this.mobilePoster);
          }
          if (this.selectedFile === "logo") {
            this.logo = url.substr(url.indexOf("/", 10) + 1);
            console.log("link2>>>>>", this.logo);
          }
        })
        .catch((err) => console.log(err));
    },
    getGamesList() {
      axios
        .post("/game/admin/find/all", {
          criteria: {},
        })
        .then((response) => {
          this.gamesList = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
  },
  mounted() {
    this.getGamesList();
    if(this.leaderboardId) this.getLeaderboardDetails();
  },
};
</script>

<style lang="scss" scoped>
label{
//   color: rgba(255, 255, 255, 0.7);
}
::v-deep .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    height: 250px;
}
input {
  background: white;
  padding: 10px;
  width: 100%;
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
