<template>
    <v-form ref="form" v-model="valid">
        <v-dialog persistent max-width="900px" v-model="isDialogOpen" dark>
            <v-card style="background:#1e0453">
                <v-card-title>Add Edit Slider</v-card-title>
                <v-card-text>
                    <v-container fluid>
                        <v-row>
                            <v-col class="column" cols="12" sm="8">
                                <label for>Enter name</label>
                                <v-text-field
                                    light
                                    outlined
                                    solo
                                    label="Name*"
                                    required
                                    v-model="name"
                                    :rules="[(v) => !!v || 'Name is required']"
                                ></v-text-field>
                            </v-col>
                            <v-col class="column" cols="12" sm="4">
                                <v-switch v-model="isDraft" :label="`Is Draft: ${isDraft}`"></v-switch>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="column" cols="12" sm="12">
                                <label for="url">Enter Redirect Url</label>
                                <v-text-field
                                    light
                                    outlined
                                    solo
                                    label="Redirect Url"
                                    required
                                    v-model="redirectUrl"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="column" cols="12" sm="6">
                                <label for>Select Deskstop image</label>
                                <v-file-input
                                    :disabled="slider && !$store.getters.checkRoleAccess('slider-update')"
                                    prepend-icon="mdi-image-plus"
                                    label="Select Deskstop image(1290*200)"
                                    light
                                    outlined
                                    solo
                                    @change="slectFile($event, 'desktop')"
                                    :rules="[() => !!imageDesktopUrl || 'Required']"
                                ></v-file-input>
                            </v-col>
                            <v-col class="column" cols="12" sm="6">
                                <label for>Select Mobile image</label>
                                <v-file-input
                                    :disabled="slider && !$store.getters.checkRoleAccess('slider-update')"
                                    prepend-icon="mdi-image-plus"
                                    label="Select mobile image(600*320)"
                                    light
                                    outlined
                                    solo
                                    @change="slectFile($event, 'mobile')"
                                    :rules="[() => !!imageMobileUrl || 'Image is Required']"
                                ></v-file-input>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="column" cols="12" sm="6">
                                <v-col class="column" cols="12">
                                    <v-slide-group v-if="imageDesktopUrl" multiple show-arrows>
                                        <v-img
                                            class="mx-4"
                                            max-width="200px"
                                            :src="'https://ps-mg.s3.amazonaws.com/' + imageDesktopUrl"
                                        ></v-img>
                                    </v-slide-group>
                                </v-col>
                            </v-col>
                            <v-col class="column" cols="12" sm="6">
                                <v-col class="column" cols="12">
                                    <v-slide-group v-if="imageMobileUrl" multiple show-arrows>
                                        <v-img
                                            class="mx-4"
                                            max-width="200px"
                                            :src="'https://ps-mg.s3.amazonaws.com/' + imageMobileUrl"
                                        ></v-img>
                                    </v-slide-group>
                                </v-col>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn v-if="slider" outlined color="white" @click="close">Close</v-btn>
                    <v-btn v-if="!slider" outlined color="white" @click="closeCreatePopup">Cancel</v-btn>
                    <v-btn
                        v-if="slider && $store.getters.checkRoleAccess('slider-update')"
                        outlined
                        color="white"
                        @click="updateslider"
                    >Update</v-btn>
                    <v-btn
                        v-if="!slider"
                        outlined
                        color="white"
                        @click="createslider"
                    >Create</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-form>
</template>

<script>
import axios from "axios";
import { AwsService } from "@/service/aws-service";

export default {
    props: {
        // isDialogOpen: Boolean,
        slider: {},
    },
    data: () => ({
        valid: true,
        isDialogOpen: true,
        isEdit: false,
        name: undefined,
        isImage: Boolean,
        isDraft: Boolean,
        redirectUrl: undefined,
        imageDesktopUrl: undefined,
        imageMobileUrl: undefined,
    }),
    created() {
        if (this.slider) {
            this.isEdit = true;
            this.name = this.slider.name;
            this.isDraft = this.slider.isDraft;
            this.imageDesktopUrl = this.slider.imageDesktop;
            this.imageMobileUrl = this.slider.imageMobile;
            this.redirectUrl = this.slider.redirectionLink;
        } else {
            this.clear();
        }
    },
    methods: {
        createslider() {
            this.$refs.form.validate();
            if (this.valid) {
                axios
                    .post("/slider/admin/create", {
                        data: {
                            name: this.name,
                            isDraft: this.isDraft,
                            redirectionLink: this.redirectUrl,
                            imageDesktop: this.imageDesktopUrl,
                            imageMobile: this.imageMobileUrl,
                        },
                    })
                    .then((response) => {
                        console.log("slider", response.data);
                        this.$emit("add-item", response.data);
                        this.closeCreatePopup();
                    })
                    .catch((e) => {
                        if (e.response.status === 400) {
                            console.log("err", e.response.data);
                        }
                    });
            }
        },
        updateslider() {
            this.$refs.form.validate();
            if (this.valid) {
                axios
                    .post("/slider/admin/update", {
                        criteria: { _id: this.slider._id },
                        data: {
                            name: this.name,
                            isDraft: this.isDraft,
                            redirectionLink: this.redirectUrl,
                            imageDesktop: this.imageDesktopUrl,
                            imageMobile: this.imageMobileUrl,
                        },
                    })
                    .then((response) => {
                        this.$emit("update-item", response.data);
                        this.close();
                    })
                    .catch((e) => {
                        if (e.response.status === 400) {
                            console.log("err", e.response.data);
                        }
                    });
            }
        },
        close() {
            this.$emit("closePopup");
        },
        closeCreatePopup() {
            this.$emit("closeCreatePopup");
        },
        clear() {
            this.name = null;
            this.isDraft = false;
            this.redirectUrl = null;
            this.imageDesktopUrl = null;
            this.imageMobileUrl = null;
        },
        slectFile(event, item) {
            this.selectedFile = item;
            this.onFileSelect(event);
        },
        onFileSelect(event) {
            this.upload(event)
        },
        async upload(file) {
            let path = Date.now();
            let formData = new FormData();
            formData.append("file", file);
            await AwsService.uploadImage(formData, `slider ${path}`)
                .then((response) => {
                    let url = response.data.location;
                    if (this.selectedFile === "desktop") {
                        this.imageDesktopUrl = url.substr(url.indexOf("/", 10) + 1);
                        console.log("link>>>>>", this.imageDesktopUrl);
                    }
                    if (this.selectedFile === "mobile") {
                        this.imageMobileUrl = url.substr(url.indexOf("/", 10) + 1);
                        console.log("link>>>>>", this.imageMobileUrl);
                    }
                })
                .catch((err) => console.log(err));
        },
    },
};
</script>

<style lang="scss" scoped>
::v-deep {
    .v-slide-group__prev,
    .v-slide-group__next {
        display: flex !important;
        pointer-events: unset !important;
    }
    .mdi:before,
    .mdi-set {
        color: white;
    }
}
</style>
