<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <!-- <v-dialog persistent max-width="1100px" v-model="isDialogOpen" dark> -->
      <v-card style="background:#1e0453" dark>
        <v-card-title class="justify-center"> Add Edit Tournament </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter City</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="City*"
                  required
                  v-model="city"
                  :rules="[(v) => !!v || 'City is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isOnline"
                  :label="`Is Online: ${isOnline}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Country</label>
                <div class="input-wraper">
                  <country-select
                    v-model="country"
                    :country="country"
                    topCountry="IN"
                  />
                </div>
                <!-- <v-text-field
                  light
                  outlined
                  solo
                  label="Country"
                  required
                  v-model="country"
                  :rules="[(v) => !!v || 'Country is required']"
                ></v-text-field> -->
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Prize Pool</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Prize Pool"
                  required
                  v-model="prizePool"
                  :rules="[(v) => !!v || 'Prize Pool is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isDraft"
                  :label="`Is Draft: ${isDraft}`"
                ></v-switch>
              </v-col>
            </v-row>
             <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Game</label>
                <v-select
                  :items="gamesList"
                  item-text="shortName"
                  item-value="_id"
                  label="Select Game"
                  v-model="game"
                  @change="getAllowedModes(game)"
                  required
                  light
                  outlined
                  solo
                  :rules="[(v) => !!v || 'Game is required']"
                ></v-select>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Country Manual</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Country Manual"
                  required
                  v-model="countryManual"
                  :rules="[(v) => !!v || 'Country Manual is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Mode</label>
                 <v-select
                  :items="allowedModes"
                  item-text="name"
                  item-value="value"
                  label="Select Mode"
                  v-model="mode"
                  required
                  light
                  outlined
                  solo
                  :rules="[(v) => !!v || 'Mode is required']"
                ></v-select>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Format</label>
                 <v-text-field
                  light
                  outlined
                  solo
                  label="Format*"
                  required
                  v-model="format"
                  :rules="[(v) => !!v || 'Format is required']"
                ></v-text-field>
               
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select platform</label>
                <v-select
                  :items="platforms"
                  label="Select platform"
                  v-model="platform"
                  required
                  light
                  outlined
                  solo
                  :rules="[(v) => !!v || 'Platform is required']"
                ></v-select>
              </v-col>
            </v-row>
               <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Entry fee gems</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Entry fee gems*"
                  required
                  type="number"
                  v-model="entryFeeGem"
                  :rules="[(v) => !!v || 'Entry fee gems is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Entry cash</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Entry cash*"
                  required
                  type="number"
                  v-model="entryCash"
                  :rules="[(v) => !!v || 'Entry cash is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Registration Start Time</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="schedule.registrationStart"
                />
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Registration End Time</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="schedule.registrationEnd"
                />
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isFeaturedInApp"
                  :label="`Is Featured App: ${isFeaturedInApp}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Tournament Start Time</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="schedule.tournamentStart"
                />
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Select Tournament End Time</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="schedule.tournamentEnd"
                />
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isFeaturedInWeb"
                  :label="`Is Featured Web: ${isFeaturedInWeb}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <label for="">Enter Description</label>
                <!-- <Editor :content.sync="description" /> -->
                                <Editor v-if="isCreatePage || shortDescription" :content.sync="description" />

              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <label for="">Enter Short Description</label>
                <!-- <Editor :content.sync="shortDescription" /> -->
                                <Editor v-if="isCreatePage || shortDescription" :content.sync="shortDescription" />

              </v-col>
            </v-row>
             <v-row>
              <v-col class="column" cols="12" sm="12">
                <label for="">Select Desktop Poster</label>
                <v-file-input
                :disabled = "!$store.getters.checkRoleAccess('tournament-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Desktop Poster(1300*350)"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'desktop')"
                  multiple
                  :rules="[(v) => !!v || 'Desktop Poster is required']"
                >
                </v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <v-slide-group v-if="assets.desktopPoster" multiple show-arrows>
                  <v-img
                    class="mx-4"
                    max-width="200px"
                    :src="'https://ps-mg.s3.amazonaws.com/' + assets.desktopPoster"
                  >
                  </v-img>
                </v-slide-group>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Mobile Poster</label>
                <v-file-input
                :disabled = "!$store.getters.checkRoleAccess('tournament-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Mobile Poster(600*320)"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'mobile')"
                  multiple
                  :rules="[(v) => !!v || 'Mobile Poster is required']"
                >
                </v-file-input>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Logo</label>
                <v-file-input
                :disabled = "!$store.getters.checkRoleAccess('tournament-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Logo"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'logo')"
                  multiple
                  :rules="[(v) => !!v || 'Logo is required']"
                >
                </v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="assets.mobilePoster" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="200px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + assets.mobilePoster"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="assets.logo" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="150px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + assets.logo"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <!-- <v-btn v-if="tournament" outlined color="white" @click="close"
            >Close</v-btn
          > -->
          <v-btn
            v-if="!tournament"
            outlined
            color="white"
              @click="createTournamentAndClear"
            :disabled="!assets.logo"
            >Save and add another</v-btn
          >

          <v-btn
           v-if="!tournament"
            outlined
            color="white"
            @click="createTournament"
            :disabled="!assets.logo"
             >Save and continue editing</v-btn
          >
          <v-btn
            v-if="!tournament"
            outlined
            color="white"
           
            :disabled="!assets.logo"
             @click="createAndSaveTournament"
             >Save</v-btn
          >

          <v-btn
            v-if="tournament && $store.getters.checkRoleAccess('tournament-update')"
            outlined
            color="white"
            @click="updateTournament"
            :disabled="!assets.logo"
            >Save and continue editing</v-btn
          >
             <v-btn
             v-if="tournament && $store.getters.checkRoleAccess('tournament-update')"
            outlined
            color="white"
            :disabled="!assets.logo"
            @click="updateAndSaveTournament"
            >Save</v-btn
          >



        </v-card-actions>
      </v-card>
      <v-snackbar
         :timeout=3000
        v-model="snackbar"
        absolute
        top
        color="red darken-4"
        elevation="24"
      >
        Select schedule date && time
      </v-snackbar>
    <!-- </v-dialog> -->
  </v-form>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { AwsService } from "@/service/aws-service";
import Editor from "../views/Editor.vue";

export default {
  components: {
    Editor,
  },
  // props: {
  //   tournament: {},
  // },
  data: () => ({
    snackbar: false,
    isEditPartners: false,
    tournament:"",
    tournamentId:"",
    partners: [],
    valid: true,
    tags: [],
    items: [],
    value: null,
    isDialogOpen: true,
    name: undefined,
    city: undefined,
    game: "",
    isOnline: false,
    isDraft: false,
    isFeaturedInApp: false,
    isFeaturedInWeb: false,
    countryManual: undefined,
    prizePool: undefined,
    mode: undefined,
    format: undefined,
    platform: undefined,
    entryFeeGem: undefined,
    entryCash: undefined,
    assets: {
      logo:  undefined,
      desktopPoster: undefined,
      mobilePoster:undefined 
    },
    shortDescription: undefined,
    description: undefined,
    content: "",
    country: undefined,
    partner: undefined,
    schedule: {
      registrationStart: "",
      registrationEnd: "",
      tournamentStart: "",
      tournamentEnd: "",
    },
    gamesList: [],
    platforms: ["pc", "xbox", "playstation", "mobile"],
    allowedModes: []
  }),
  created(){
    this.tournamentId= this.$route.params.id
    if(this.tournamentId) this.isCreatePage = false;
    else{this.isCreatePage = true}
  },
  methods: {
         getTournamentDetails() {
          axios
        .get("/tournament/admin/find/".concat(this.tournamentId))
        .then((response) => {
         this.tournament = response.data;
         console.log('tournament', this.tournament)
    if (this.tournament) {
      (this.game = this.tournament.game._id),
        (this.name = this.tournament.name),
        (this.city = this.tournament.city),
        (this.isOnline = this.tournament.isOnline),
        (this.isDraft = this.tournament.isDraft),
        (this.countryManual = this.tournament.countryManual),
        (this.prizePool = this.tournament.prizePool),
        this.assets = this.tournament.assets,
        (this.shortDescription = this.tournament.shortDescription),
        (this.description = this.tournament.description),
        (this.content = this.tournament.content),
        (this.country = this.tournament.country),
        (this.mode = this.tournament.mode),
        (this.platform = this.tournament.platform);
        this.entryFeeGem = this.tournament.entryFeeGem
        this.entryCash = this.tournament.entryCash
      this.format = this.tournament.format;
      const schedule = {
        tournamentStart: moment(
          new Date(this.tournament.schedule.tournamentStart)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
        registrationStart: moment(
          new Date(this.tournament.schedule.registrationStart)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
        registrationEnd: moment(
          new Date(this.tournament.schedule.registrationEnd)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
        tournamentEnd: moment(
          new Date(this.tournament.schedule.tournamentEnd)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
      };
      this.schedule = schedule;
      this.isFeaturedInApp = this.tournament.isFeaturedInApp;
      this.isFeaturedInWeb = this.tournament.isFeaturedInWeb;
    } else {
      this.clear();
    }
     })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
  },
    getAllowedModes(gameId) {
       axios
        .get("/game/find/".concat(gameId))
        .then((response) => {
          this.allowedModes = response.data.allowedModes
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    validate() {
      this.$refs.form.validate();
    },
    validation() {
      this.validate();
      if (
        this.schedule.registrationStart &&
        this.schedule.registrationEnd &&
        this.schedule.tournamentStart &&
        this.schedule.tournamentEnd
      ) {
        this.createTournament();
      } else {
        this.snackbar = true;
      }
    },
    createAndSaveTournament() {
      this.createTournament();
      this.moveToTournamentPage();
    },
    createTournamentAndClear() {
      this.createTournament();
      this.clear();
    },
     updateAndSaveTournament() {
      this.updateTournament();
      this.moveToTournamentPage();
    },
    moveToTournamentPage() {
      this.$router.push({ name: 'Tournaments'});
    },

    createTournament() {
      const schedule = {
        registrationStart: new Date(this.schedule.registrationStart),
        registrationEnd: new Date(this.schedule.registrationEnd),
        tournamentStart: new Date(this.schedule.tournamentStart),
        tournamentEnd: new Date(this.schedule.tournamentEnd),
      };
      axios
        .post("/tournament/admin/create", {
          data: {
            name: this.name,
            city: this.city,
            game: this.game,
            isOnline: this.isOnline,
            isDraft: this.isDraft,
            isFeaturedInApp: this.isFeaturedInApp,
            isFeaturedInWeb: this.isFeaturedInWeb,
            countryManual: this.countryManual,
            prizePool: this.prizePool,
            mode: this.mode,
            platform: this.platform,
            format: this.format,
            schedule: schedule,
            assets: this.assets,
            shortDescription: this.shortDescription,
            description: this.description,
            country: this.country,
            entryFeeGem: this.entryFeeGem,
            // entryCash: this.entryCash
          },
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          // this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updateTournament() {
      this.validate();
      const schedule = {
        registrationStart: new Date(this.schedule.registrationStart),
        registrationEnd: new Date(this.schedule.registrationEnd),
        tournamentStart: new Date(this.schedule.tournamentStart),
        tournamentEnd: new Date(this.schedule.tournamentEnd),
      };
      console.log("assets", this.assets);
      axios
        .post("/tournament/admin/update", {
          criteria: { _id: this.tournament._id },
          data: {
            name: this.name,
            city: this.city,
            game: this.game,
            isOnline: this.isOnline,
            isDraft: this.isDraft,
            countryManual: this.countryManual,
            prizePool: this.prizePool,
            mode: this.mode,
            platform: this.platform,
            format: this.format,
            schedule: schedule,
            assets: this.assets,
            shortDescription: this.shortDescription,
            description: this.description,
            country: this.country,
            isFeaturedInApp: this.isFeaturedInApp,
            isFeaturedInWeb: this.isFeaturedInWeb,
            entryFeeGem: this.entryFeeGem,
            // entryCash: this.entryCash
          },
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          // this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    // close() {
    //   this.$emit("closePopup");
    // },
    // closeCreatePopup() {
    //   this.$emit("closeCreatePopup");
    // },
    clear() {
      this.name = null;
      (this.city = null),
        (this.game = null),
        (this.isOnline = false),
        (this.countryManual = null),
        (this.prizePool = null),
        (this.assets.mobilePoster = null),
        (this.assets.desktopPoster = null),
        (this.assets.logo = null),
        (this.shortDescription = null),
        (this.description = null),
        (this.content = null),
        (this.country = null),
        (this.location = null),
        (this.partner = null),
        (this.isDraft = false);
      this.isFeaturedInApp = false;
      this.isFeaturedInWeb = false;
    },
    slectFile(event, item) {
      this.selectedFile = item;
      this.onFileSelect(event);
    },
    onFileSelect(event) {
      event.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `tournament ${path}`)
        .then((response) => {
          let url = response.data.location;
          if (this.selectedFile === "desktop") {
            this.assets.desktopPoster = url.substr(url.indexOf("/", 10) + 1);
            console.log("link1>>>>>", this.assets.desktopPoster);
          }
          if (this.selectedFile === "mobile") {
            this.assets.mobilePoster = url.substr(url.indexOf("/", 10) + 1);
            console.log("link2>>>>>", this.assets.mobilePoster);
          }
          if (this.selectedFile === "logo") {
            this.assets.logo = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.assets.logo);
          }
        })
        .catch((err) => console.log(err));
    },
    getGamesList() {
      axios
        .post("/game/find/all", {
          criteria: {},
        })
        .then((response) => {
          this.gamesList = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
  },
  mounted() {
    this.getGamesList();
    if(this.game) {
      this.getAllowedModes(this.game)
    }
    if(this.tournamentId) this.getTournamentDetails();
  },
};
</script>

<style lang="scss" scoped>
::v-deep .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    height: 250px;
}
input {
  background: white;
  padding: 10px;
  width: 100%;
}
.input-wraper {
  background: white;
  padding: 16px;
  border-radius: 4px;
}
select {
    outline: none;
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
