<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="1100px" v-model="isDialogOpen" dark>
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Subscription </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="8">
                <label for="">Enter Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isDraft"
                  :label="`Is Draft: ${isDraft}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Price</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Price"
                  required
                  v-model="price"
                  type="number"
                  :rules="[(v) => !!v || 'price is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Offer</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Offer"
                  required
                  v-model="offer"
                  :rules="[(v) => !!v || 'Offer is required']"
                ></v-text-field>
              </v-col>
              
            </v-row>
              <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Duration</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Duration"
                  required
                  v-model="duration"
                  type="number"
                  :rules="[(v) => !!v || 'Duration is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Available Quantity</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Quantity Available"
                  required
                  v-model="quantityAvailable"
                  :rules="[(v) => !!v || 'Quantity Available is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <label for="">Description</label>
                <Editor :content.sync="description" />
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="12">
                <label for="">Select Poster</label>
                <v-file-input
                  prepend-icon="mdi-image-plus"
                  label="Select Poster"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'big')"
                  multiple
                  :rules="[() => !!poster || 'Poster is required']"
                >
                </v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="12">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="poster" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="200px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + poster"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="subscription" outlined color="white" @click="close"
            >Close</v-btn
          >
          <v-btn
            v-if="!subscription"
            outlined
            color="white"
            @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn
            v-if="subscription && $store.getters.checkRoleAccess('subscription-update')"
            outlined
            color="white"
            @click="updatesubscription"
            :disabled="!poster"
            >Update</v-btn
          >
          <v-btn
            v-if="!subscription"
            outlined
            color="white"
            @click="createSubscription"
            :disabled="!poster"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
      <v-snackbar
         :timeout=3000
        v-model="snackbar"
        absolute
        top
        color="red darken-4"
        elevation="24"
      >
        Select schedule date && time
      </v-snackbar>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import { AwsService } from "@/service/aws-service";
import Editor from "../views/Editor.vue";

export default {
  components: {
    Editor,
  },
  props: {
    subscription: {},
  },
  data: () => ({
    snackbar: false,
    valid: true,
    value: null,
    isDialogOpen: true,
    name: undefined,
    isDraft: Boolean,
    offer: undefined,
    price: undefined,
    quantityAvailable: undefined,
    poster: undefined,
    duration: undefined,
    description: undefined,
  }),
  created() {
    if (this.subscription) {
        (this.name = this.subscription.name),
        (this.isDraft = this.subscription.isDraft),
        (this.offer = this.subscription.offer),
        (this.quantityAvailable = this.subscription.quantityAvailable),
        (this.poster = this.subscription.coverImage),
        (this.duration = this.subscription.duration),
        (this.description = this.subscription.description),
        (this.price = this.subscription.price)
    } else {
      this.clear();
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    createSubscription() {
      this.validate();
      axios
        .post("/subscription-pack/admin/create", {
          data: {
            name: this.name,
            isDraft: this.isDraft,
            offer: this.offer,
            coverImage: this.poster,
            quantityAvailable:this.quantityAvailable,
            duration: this.duration,
            description: this.description,
            price: this.price,
          },
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updatesubscription() {
      this.validate();
      axios
        .post("/subscription-pack/admin/update", {
          criteria: { _id: this.subscription._id },
          data: {
              name: this.name,
            isDraft: this.isDraft,
            offer: this.offer,
            coverImage: this.poster,
            quantityAvailable:this.quantityAvailable,
            duration: this.duration,
            description: this.description,
            price: this.price,
          },
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.name = null;
        (this.offer = null),
        (this.poster = null),
        (this.logo = null),
        this.poster = null,
        (this.duration = null),
        (this.description = null),
        (this.price = null),
        (this.isDraft = false);
    },
    slectFile(event, item) {
      this.selectedFile = item;
      this.onFileSelect(event);
    },
    onFileSelect(event) {
      event.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `subscription ${path}`)
        .then((response) => {
          let url = response.data.location;
          if (this.selectedFile === "big") {
            this.poster = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.poster);
          }
          if (this.selectedFile === "small") {
            this.logo = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.logo);
          }
        })
        .catch((err) => console.log(err));
    },
  }
};
</script>

<style lang="scss" scoped>
::v-deep .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    height: 250px;
}
input {
  background: white;
  padding: 10px;
  width: 100%;
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
