<template>
  <v-form ref="form" lazy-validation>
    <v-dialog persistent max-width="800px" v-model="isDialogOpen" dark>
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit support </v-card-title>
        <v-card-text>
          <div class="chat_outer_container">
            <div class="chat_topcontainer">
              <div class="title_wrapper">Ticket id: {{ support._id }}</div>
            </div>
            <div class="chat_topwrap">
               <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-text-field
                  light
                  outlined
                  solo
                  label="status"
                  required
                  v-model="status"
                  :rules="[(v) => !!v || 'status is required']"
                ></v-text-field>
              </v-col>
                <v-col class="column" cols="12" sm="6">
                  <v-btn v-if="support" outlined color="white" @click="updateStatus">Update</v-btn>
              </v-col>
               </v-row>
              <div class="chat_headerwrap">
                <div class="header_wrapper">{{support.query}}</div>
              </div>
            </div>
            <div class="chat-container">
                <div class="chat_container_inner">
              <div
                v-for="(message, index) in messages"
                :key="index"
                :class="[message.userType === 'User' && 'receiver']"
                class="messages"
              >
                <div class="messages__user">
                  <img src="@/assets/support/unnamed.jpg" />
                </div>
                <div class="messages__text-area">
                  <div class="text">{{ message.body }}</div>
                </div>
                <div class="messages__empty-space"></div>
              </div>
                    </div>
              <div class="send-text">
                <div class="send-text__empty-space"></div>
                <div class="send-text__text-area">
                  <textarea required v-model="message" type="text"> </textarea>
                  <div @click="sendMessage"  v-if="$store.getters.checkRoleAccess('support-update')" class="send_icon">
                    <v-icon>mdi-send</v-icon>
                  </div>
                </div>
                <div class="send-text__sender">
                  <img src="@/assets/support/unnamed.jpg" />
                </div>
              </div>
            </div>
          </div>
    
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn v-if="support" outlined color="white" @click="close"
            >Close</v-btn
          >
          <!-- <v-btn v-if="support" outlined color="white">Update</v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import socket from '../service/socket'
export default {
  props: {
    support: {},
  },
  name: "AddEditSupport",
  data() {
    return {
      ticketId: this.$route.query.ticketId,
      messages: [],
      message: "",
      isDialogOpen: true,
      status: "",
      queries: [],
    };
  },
  created() {
    if (this.support) {
      this.status = this.support.status;
    }
  },
  mounted() {
    this.getTicket()
    socket.on("supportUserReply", data => {
      console.log('socket', data)
      this.messages.push(data)
    });
  },
  methods: {
    updateStatus() {
      axios
        .post("/support/update", {
          criteria: {
            _id: this.support._id,
          },
          data: {
            status: this.status,
          },
        })
        .then(() => {
          this.$emit("closePopup");
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    getTicket() {
      axios.get(`/support/admin/find/${this.support._id}`).then((res) => {
        this.messages = res.data.messages;
      });
    },
    sendMessage() {
      axios
        .post("/support/admin/chat", {
          criteria: {
            _id: this.support._id,
          },
          data: {
            message: this.message,
          },
        })
        .then((res) => {
          console.log("message sent", res.data);
          this.messages = res.data.messages;
          this.message = "";
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
  },
};
</script>

<style lang="scss" scoped>
.chat_outer_container {
  background: transparent
    linear-gradient(26deg, #45108a 2%, #3d065f 29%, #12054e 100%, #10054d 100%);
}
.chat_topcontainer {
  display: flex;
  justify-content: space-between;
}
.title_wrapper {
  margin: 15px 0px 5px 15px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  font: 500 22px/33px Poppins;
  text-transform: capitalize;
}
.query_txt {
  padding: 1em;
}
button {
    border: 0.5px solid #ffffff;
    background: #180550;
    color: white;
    cursor: pointer;
    min-width: 90px;
    min-height: 30px;
    text-transform: capitalize;
    padding: 5px;
    margin: 8px 0px 8px 0px;
    border-radius: 4px;
}
.chat_headerwrap {
  padding: 10px;
  background-color: #320c6a;
}
.header_wrapper {
  text-align: left;
  font: 18px/22px Josefin Sans;
  letter-spacing: 0px;
  color: #ffffff;
  /*background-color: #320c6a;*/
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  text-transform: capitalize;
}
.send-text {
  display: flex;
  background-color: #320c6a;
}
.send-text__empty-space,
.send-text__sender {
  flex: 1 1 auto;
}
.send-text__sender {
  display: flex;
  align-items: flex-start;
}
.send-text__sender img {
  border-radius: 50%;
  height: 50px;
  margin: 0 auto;
}
.send-text__text-area {
  flex: 1 0 60%;
  position: relative;
}
.send-text__text-area textarea {
  background-color: #b1a3c6;
  min-width: 100%;
  // min-height: 120px;
  resize: none;
  padding: 10px;
}
.send-text__text-area textarea:focus-visible {
  outline: none;
}
.send-text__text-area::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #b1a3c6;
  border-right: 12px solid transparent;
  border-top: 10px solid #b1a3c6;
  border-bottom: 8px solid transparent;
  right: -20px;
  top: 0;
}
.receiver .messages__empty-space {
  order: 1;
}

.receiver .messages__user {
  order: 3;
}

.receiver .messages__text-area {
  order: 2;
  background: #1f0554;
}
.messages {
  display: flex;
  background-color: #320c6a;
  padding: 30px 0;
}
.messages__empty-space,
.messages__user {
  flex: 1 1 auto;
}
.messages__user {
  display: flex;
  align-items: flex-start;
}
.messages__user img {
  border-radius: 50%;
  height: 50px;
  margin: 0 auto;
}
.messages__text-area {
  flex: 1 0 60%;
  position: relative;
  background-color: #1e0741;
  padding: 10px;
}
.receiver > .messages__text-area::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #1f0554;
  border-right: 12px solid transparent;
  border-top: 10px solid #1f0554;
  border-bottom: 8px solid transparent;
  right: -20px;
  top: 0;
}
.messages > .messages__text-area::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid #1e0741;
  border-left: 12px solid transparent;
  border-top: 10px solid #1e0741;
  border-bottom: 8px solid transparent;
  left: -20px;
  top: 0;
}
.receiver > .messages__text-area::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 8px solid transparent;
}
.send_icon {
  position: absolute;
  padding: 5px;
  bottom: 5px;
  right: 1px;
  color: #ffffff;
  min-width: 25px;
  min-height: 25px;
}
::v-deep .v-dialog{
  overflow: hidden;
}
// ::v-deep .v-dialog__content
// {
//   height: 80%;
// }
.chat_container_inner{
      overflow-y: scroll;
    height: 312px;
}
::v-deep .v-dialog:not(.v-dialog--fullscreen) {
    max-height: 705px;
}
::v-deep .v-dialog > .v-card > .v-card__text {
    padding: 0 24px 0px;
}
::v-deep .v-dialog > .v-card > .v-card__title {
    padding: 10px 25px 5px;
}
::v-deep.v-text-field.v-text-field--enclosed .v-text-field__details {
    /* padding-top: 0px; */
     margin-bottom: 0px;
}
</style>
