<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" dark v-model="isDialogOpen">
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Rewards </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Type</label>
                <v-select
                  light
                  outlined
                  solo
                  v-model="type"
                  :items="rewardTypes"
                  @change="selectRewardType"
                  label="Select Type name"
                  :rules="[(v) => !!v || 'Type is required']"
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Cash</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Cash*"
                  type="number"
                  required
                  v-model="cash"
                  
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Gem</label>
                <v-text-field
                  light
                  outlined
                  solo
                  type="number"
                  label="Gem*"
                  required
                  v-model="gem"
                  :rules="[(v) => !!v || 'Gem is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <!-- <v-col class="column" cols="12" sm="6">
                <v-text-field
                  light
                  outlined
                  solo
                  
                  label="Status*"
                  required
                  v-model="status"
                  :rules="[(v) => !!v || 'Status is required']"
                ></v-text-field>
              </v-col> -->
              <v-col cols="12" sm="6">
                <label for="">Select Reward type</label>
                <v-select
                  light
                  outlined
                  solo
                  v-model="rewardFor"
                  :items="items"
                  item-value="_id"
                  item-text="name"
                  label="Selct name"
                  :rules="[(v) => !!v || 'Reward type is required']"
                ></v-select>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Prize Rank</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Rank*"
                  type="number"
                  required
                  v-model="rank"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="reward" outlined color="white" @click="close"
            >Close</v-btn
          >
          <v-btn v-if="!reward" outlined color="white" @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn v-if="reward && $store.getters.checkRoleAccess('reward-update')" outlined color="white" @click="updateReward"
            >Update</v-btn
          >
          <v-btn v-if="!reward" outlined color="white" @click="createReward"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";

export default {
  props: {
    // isDialogOpen: Boolean,
    reward: {},
  },
  data: () => ({
    items: [],
    rewardTypes: ["Tournament", "Leaderboard", "Randomdrop"],
    rewardFor: undefined,
    valid: true,
    isDialogOpen: true,
    isEdit: false,
    name: undefined,
    type: undefined,
    cash: undefined,
    gem: undefined,
    rank:undefined,
    status: undefined,
    isDraft: Boolean,
  }),
  created() {
    if (this.reward) {
      this.isEdit = true;
      this.name = this.reward.name;
      this.type = this.reward.type;
      this.cash = this.reward.cash;
      this.gem = this.reward.gem;
      this.rank = this.reward.rank;
      this.status = this.reward.status;
      this.rewardFor = this.reward.rewardFor._id;
    } else {
      this.clear();
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    selectRewardType() {
      if (this.type === "Tournament") this.getAllTournaments();
      if (this.type === "Leaderboard") this.getAllLeaderboards();
      if (this.type === "Randomdrop") this.getAllRandomdrops();
    },
    getAllLeaderboards() {
      const criteria = {};
      axios
        .post("/leaderboard/admin/find/all", {
          criteria,
          sort: { createdAt: -1 },
        })
        .then((response) => {
          this.items = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    getAllTournaments() {
      const criteria = {};
      axios
        .post("/tournament/admin/find/all", {
          criteria,
          sort: { createdAt: -1 },
        })
        .then((response) => {
          this.items = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    getAllRandomdrops() {
      const criteria = {};
      axios
        .post("/random-drop/admin/find/all", {
          criteria,
          sort: { createdAt: -1 },
        })
        .then((response) => {
          console.log("random drop", response.data);
          this.items = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    createReward() {
      this.validate();
      const data = {
        name: this.name,
        type: this.type,
        // status: this.status,
        rank: this.rank,
        status: "not-collected",
        rewardFor: this.rewardFor,
      };
      // if (this.cash) {
      //   data["cash"] = this.cash;
      // }
      if (this.gem) {
        data["gem"] = this.gem;
      }
      axios
        .post("/reward/admin/create", {
          data,
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updateReward() {
      this.validate();
      const data = {
        name: this.name,
        type: this.type,
        // status: this.status,
        rank: this.rank,
        status: "not-collected",
        rewardFor: this.rewardFor,
      };
      // if (this.cash) {
      //   data["cash"] = this.cash;
      // }
      if (this.gem) {
        data["gem"] = this.gem;
      }
      axios
        .post("/reward/admin/update", {
          criteria: { _id: this.reward._id },
          data,
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.name = null;
      this.type = null;
      this.status = null;
      this.cash = null;
      this.gem = null;
    },
  },
  mounted() {
    if (this.reward &&this.reward.type === "Tournament") {
      this.getAllTournaments();
    }
    if (this.reward &&this.reward.type === "Leaderboard") {
      this.getAllLeaderboards();
    }
    if (this.reward &&this.reward.type === "Randomdrop") {
      this.getAllRandomdrops();
    }
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
