<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" dark v-model="isDialogOpen">
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Admin </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Username</label>
                <v-text-field
                  outlined
                  label="User Name*"
                  required
                  solo
                  light
                  v-model="username"
                  :error-messages="usernameError"
                  :rules="[(v) => !!v || 'Username is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Email</label>
                <v-text-field
                  outlined
                  label="Email*"
                  required
                  solo
                  light
                  v-model="email"
                  :error-messages="emailError"
                  :rules="emailRules"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
               <v-col class="column" cols="12" sm="6">
                <label for="">Select Country</label>
                <div class="input-wraper">
                  <country-select
                    v-model="country"
                    :country="country"
                    topCountry="IN"
                  />
                </div>
              </v-col>
                <v-col class="column" cols="12" sm="6">
                <label for="">Enter Phone Number</label>
                <VuePhoneNumberInput
                  :default-country-code="country"
                  @update="updatePhoneNumber"
                  :required="true"
                  style="font-size:20px; color: black"
                  v-model="phone"
                />
                <!-- <div class="error" v-if="phone_error">{{phone_error}}</div> -->
              </v-col>
            </v-row>
            <v-row> 
               <v-col v-if="!admin" class="column" cols="12" sm="6">
                 <label for="">Enter Password</label>
                 <v-text-field  v-model="password"
       light
                  outlined
                  solo
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              placeholder="Password"
              :error-messages="passwordTextErr"
              @click:append="show1 = !show1">
            </v-text-field>
              </v-col>
               <v-col v-if="!admin" class="column" cols="12" sm="6">
                 <label for="">Confirm Password</label>
                 <v-text-field  v-model="confirmPassword"
       light
                  outlined
                  solo
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show2 ? 'text' : 'password'"
              placeholder="Confirm Password"
              :error-messages="confirmPasswordError"
              @click:append="show2 = !show2">
            </v-text-field>
              </v-col>
              </v-row>
            <v-row>
               <v-col v-if="user.role !== 'admin'" class="column" cols="12" sm="6">
                 <label for="">Select Role</label>
                <v-select
                  :items="roles"
                  item-text="name"
                  item-value="_id"
                  label="Select role"
                  v-model="role"
                  required
                  light
                  solo
                  outlined
                  :rules="[(v) => !!v || 'Role is required']"
                ></v-select>
              </v-col>
              <!-- <v-col v-if="!admin" class="column" cols="12" sm="6">
                <v-text-field
                  outlined
                  label="Password"
                  required
                  light
                  solo
                  v-model="password"
                  :rules="[(v) => !!v || 'Password is required']"
                ></v-text-field>
              </v-col> -->
              <v-col v-if="admin" class="column" cols="12" sm="6">
                <template>
                  <v-dialog  v-model="dialog" dark persistent max-width="400">
                    <template v-slot:activator="{ on, attrs }">
                      <div class="pt-5">
                      <v-btn  color="primary" dark v-bind="attrs" v-on="on">
                        Change password
                      </v-btn>
                      </div>
                    </template>
                    <v-card style="background:#1e0453">
                     <v-card-title>
          <span class="text-h5">Change Password</span>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
                       <v-row>
                         <v-col
                cols="12"
                sm="12"
              >
     <!-- <v-text-field  v-model="oldPassword"
       light
                  outlined
                  solo
              :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show3 ? 'text' : 'password'"
              placeholder=" Old Password"
              :error-messages="passwordError"
              @click:append="show3 = !show3">
            </v-text-field> -->
              </v-col>
              <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="password"
       light
                  outlined
                  solo
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              placeholder="New Password"
              :error-messages="passwordError"
              @click:append="show1 = !show1">
            </v-text-field>
              </v-col>
        </v-row>
         <v-row>
              <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="confirmPassword"
       light
                  outlined
                  solo
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show2 ? 'text' : 'password'"
              placeholder="Confirm Password"
              :error-messages="confirmPasswordError"
              @click:append="show2 = !show2">
            </v-text-field>
              </v-col>
        </v-row>
                       </v-container>
        </v-card-text>
        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="white"
                          outlined
                          @click="clearPasswordForm"
                        >
                          cancel
                        </v-btn>
                        <v-btn
                          color="white"
                          outlined
                          :disabled="!confirmPassword || !password && !confirmPassword"
                          @click="changePassword"
                        >
                          Change
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </template>
              </v-col>
              <!-- <v-col class="column" cols="12" sm="6">
                <v-switch
                  v-model="isActive"
                  :rules="[(v) => !!v || 'Is active must be true!']"
                  :label="`Is Active: ${isActive}`"
                ></v-switch>
              </v-col> -->
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="admin" outlined color="white"  @click="close"
            >Close</v-btn
          >
          <v-btn
            v-if="!admin"
            outlined color="white"
            @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn v-if="admin" outlined color="white" @click="updateAdmin"
            >Update</v-btn
          >
          <v-btn v-if="!admin" outlined color="white"  @click="createAdmin"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
  props: {
    // isDialogOpen: Boolean,
    admin: {},
  },
  data: () => ({
    valid: true,
    dialog: false,
    isDialogOpen: true,
    phone_error: null,
    fullName: undefined,
    designation: undefined,
    branch: undefined,
    username: undefined,
    email: undefined,
    emailError: "",
      usernameError: "",
      passwordTextErr: "",
     show1: false,
      password: "",
      passwordError: undefined,
      confirmPassword: "",
      confirmPasswordError: "",
      show2: false,
      show3: false,
      oldPassword: "",
    country: undefined,
    countryCode: undefined,
    phone: undefined,
    isActive: false,
    branches: ["India", "Malaysia", "Dubai", "USA", "Hongkon"],
    roles: [],
    // roles: [{name: "Admin", value: 'admin'},{name: "Super Admin", value: 'superadmin'},{name: "Backend Developer", value: 'backenddeveloper'}],
    role: undefined,
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
  }),
  created() {
    if (this.admin) {
      (this.username = this.admin.username),
        (this.email = this.admin.email),
        // (this.password = this.admin.password),
        (this.isActive = this.admin.isActive);
      (this.fullName = this.admin.fullName),
        (this.designation = this.admin.designation),
        (this.branch = this.admin.branch);
        this.role = this.admin.role;
    } else {
      this.clear();
    }
  },
  computed: {
    ...mapGetters(["loggedIn", "user"]),
  },
  methods: {
     updatePhoneNumber(data) {
      if (!data.isValid) {
        this.phone_error = "Invalid Phone Number.";
      } else {
        this.phone_error = null;
        this.countryCode = data.countryCallingCode;
      }
    },
    getAdminRoles() {
      axios
        .post("role/find/all", {
          criteria: {},
        })
        .then((response) => {
          console.log("roless", response.data)
          this.roles = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    validate() {
      this.$refs.form.validate();
    },
       changePassword() {
      if (this.password === '') {
        this.passwordError = 'This field is required.';
      } else {
        this.passwordError = '';
      }

      if (this.confirmPassword === '') {
        this.confirmPasswordError = 'This field is required.';
      } else {
        this.confirmPasswordError = '';
      }

      if (!this.password.length < 1 && !this.confirmPassword.length < 1) {
          if (this.password !== this.confirmPassword) {
              this.confirmPasswordError = 'Password did not match.';
          } else {
              this.confirmPasswordError = '';
          }
      }
      if (this.password !== "" && this.confirmPassword !== "" && this.password === this.confirmPassword) {
        this.resetPassword();
      }
    },
      resetPassword() {
      axios
        .post("/admin/change/password", {
           criteria: {
            _id: this.admin._id
          },
          data: {
            // oldPassword: this.oldPassword,
            password: this.password
          }
        })
        .then(() => {
          this.dialog = false
        })
        .catch((e) => {
          console.log("err res", e.response.data);
           if (e.response.data.type === 'password_error') {
            const passwordData = e.response.data.message;
            this.passwordError = passwordData;
          } else {
            this.passwordError = '';
          }
        });
    },
    updateAdmin() {
      this.validate();
      axios
        .post("/admin/update", {
          criteria: { _id: this.admin._id },
          data: {
            username: this.username,
            email: this.email,
            password: this.password,
            fullName: this.fullName,
            countryCode: this.countryCode,
            country:this.country,
            role: this.role
          },
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          console.log("data", response.data);
          // this.$store.commit('SET_USER_DATA', response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
             console.log("err response", e.response.data);
          if (e.response.data.type === "email_error") {
            const emailData = e.response.data.message;
            this.emailError = emailData;
          } else {
            this.emailError = "";
          }

          if (e.response.data.type === "username_error") {
            const usernamelData = e.response.data.message;
            this.usernameError = usernamelData;
          } else {
            this.usernameError = "";
          }

          if (e.response.data.type === "password_error") {
            const passwordData = e.response.data.message;
            this.passwordTextErr = passwordData;
          } else {
            this.passwordTextErr = "";
          }
          }
        });
    },
    createAdmin() {
      this.validate();
      axios
        .post("/admin/create", {
          data: {
            username: this.username,
            email: this.email,
            phone: this.phone,
            countryCode: this.countryCode,
            country:this.country,
            password: this.password,
            role: this.role
          },
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
             console.log("err response", e.response.data);
          if (e.response.data.type === "email_error") {
            const emailData = e.response.data.message;
            this.emailError = emailData;
          } else {
            this.emailError = "";
          }

          if (e.response.data.type === "username_error") {
            const usernamelData = e.response.data.message;
            this.usernameError = usernamelData;
          } else {
            this.usernameError = "";
          }

          if (e.response.data.type === "password_error") {
            const passwordData = e.response.data.message;
            this.passwordTextErr = passwordData;
          } else {
            this.passwordTextErr = "";
          }
          }
        });
    },
    clear() {
      this.username = null;
      this.email = null;
      this.password = null;
      this.isActive = false;
      this.countryCode = null;
      this.country = null;
      this.phone = null;
      this.role = null;
    },
    clearPasswordForm() {
      this.password = null;
      this.confirmPassword = null;
      this.oldPassword = null;
      this.dialog = false;
    }
  },
  mounted() {
    this.getAdminRoles()
  }
};
</script>

<style lang="scss" scoped>
.fill-height {
  background-color: rgba(0, 0, 0, 0.1);
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
}
.input-wraper {
    background: white;
    padding: 10px;
    border-radius: 4px;
}
select {
    outline: none;
}
</style>
