<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" dark v-model="isDialogOpen">
      <v-card style="background:#1e0453">
        <v-card-title>
          Select participants you want to add
          <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input
              type="text"
              v-model="query"
              class="input-search"
              placeholder="Search Participants..."
            />
          </div>
        </v-card-title>
        <v-card-text>
          <v-data-table
            dark
            style="background: rgb(48, 11, 105); margin-top: 1rem;color: white;"
            :headers="headers"
            :items="users"
            :search="search"
          >
            <template v-slot:[`item._id`]="{ item }">
              {{ displayIndex(item) }}
            </template>
            <template v-slot:[`item.profileImage`]="{ item }">
              <div class="user_img">
                <img
                  :src="
                    item.profileImage
                      ? 'https://ps-mg.s3.amazonaws.com/' + item.profileImage
                      : 'https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg'
                  "
                />
              </div>
            </template>
            <template v-slot:[`item.action`]="{ item }">
              <v-btn
                @click="add(item)"
                small
                dark
                color="white"
                class="grey--text"
              >
                Add
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="tournament" outlined color="white" @click="close"
            >Close</v-btn
          >
          <v-btn
            v-if="!tournament"
            outlined
            color="white"
            @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <!-- <v-btn v-if="tournament" outlined color="white">Update</v-btn>
          <v-btn v-if="!tournament" outlined color="white">save</v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
export default {
  props: {
    tournament: {},
    participantType: {},
  },
  data: () => ({
    query: '',
    valid: true,
    users: [],
    search: "",
    snackbar: false,
    snackBarText: "",
    snachBarTimeout: 2000,
    isDialogOpen: true,
    country: "",
    game: "",
    name: undefined,
    headers: [
      {
        text: "S.No",
        align: "left",
        sortable: false,
        value: "_id",
      },
      {
        text: "Subscriber",
        align: "left",
        sortable: false,
        value: "profileImage",
      },
      {
        text: "Username",
        align: "left",
        sortable: false,
        value: "username",
      },
      { text: "Country", value: "country", align: "left", sortable: false },
      { text: "Action", value: "action", align: "left", sortable: false },
    ],
  }),

  methods: {
    add(item) {
      console.log("item", item);
      console.log("tournament", this.participantType);
      const data = {};
      if (this.participantType == "team") {
        data["team"] = item._id;
      } else {
        data["player"] = item._id;
      }
      axios
        .post("/tournament/participant/add", {
          criteria: { _id: this.$route.params.id },
          data,
        })
        .then((response) => {
          console.log("partcipnt", response.data);
          if (this.participantType == "team") {
            this.$emit("add-item", response.data.participatedTeams);
          } else {
            this.$emit("add-item", response.data.participatedPlayers);
          }
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    displayIndex(item) {
      return this.users.indexOf(item) + 1;
    },
    changeData(data) {
      if (data === true) {
        return "YES";
      }
      if (data === false) {
        return "NO";
      }
    },
    getAllUsers() {
       const criteria = {}
      if(this.query) {
        criteria["username"] = {$regex: this.query, $options: 'i'};
      }

      axios
        .post("/user/admin/find/all", {
          criteria,
        })
        .then((response) => {
          this.users = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
  },
  mounted() {
    // this.getAllUsers();
  },
    watch: {
    query: {
    immediate: true,
    handler() {
      this.getAllUsers();
    }
  }
  }

};
</script>

<style lang="scss" scoped>
.user_img img {
  border-radius: 4px;
  width: 30px;
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
  .mdi:before,
  .mdi-set {
    color: white;
  }
  .theme--dark.v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: unset !important;
  }
}
.container:hover .input {
  width: 400px;
}
.v-card__title {
  // display: block;
  justify-content: space-between;
}
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  // background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 40px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 20%;
  position: absolute;
  right: 0px;
  color: #1e0453;
  background-color: #ffffff;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.v-data-table__wrapper {
  background-color: #210654;
}
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  background-color: #210654;
  font-size: 2rem;
}
span {
  font-size: 2rem;
}
</style>
