<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="900px" v-model="isDialogOpen" dark>
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Ad Slider </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="8">
                <label for="">Enter Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isDraft"
                  :label="`Is Draft: ${isDraft}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="12">
                <label for="">Enter Redirect Url</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Redirect Url"
                  required
                  v-model="redirectUrl"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Deskstop image</label>
                <v-file-input
                  prepend-icon="mdi-image-plus"
                  label="Select Deskstop image(200*850)"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'desktop')"
                  multiple
                  :rules="[(v) => !!v || 'Deskstop image is required']"
                >
                </v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="imageDesktopUrl" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-height="850px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + imageDesktopUrl"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="slider" outlined color="white" @click="close"
            >Close</v-btn
          >
          <v-btn v-if="!slider" outlined color="white" @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn
            v-if="slider"
            outlined
            color="white"
            :disabled="!imageDesktopUrl"
            @click="updateslider"
            >Update</v-btn
          >
          <v-btn
            v-if="!slider"
            outlined
            color="white"
            :disabled="!imageDesktopUrl"
            @click="createslider"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import { AwsService } from "@/service/aws-service";

export default {
  props: {
    // isDialogOpen: Boolean,
    slider: {},
  },
  data: () => ({
    valid: true,
    isDialogOpen: true,
    isEdit: false,
    name: undefined,
    isImage: Boolean,
    isDraft: Boolean,
    redirectUrl: undefined,
    imageDesktopUrl: undefined,
    imageMobileUrl: undefined,
  }),
  created() {
    if (this.slider) {
      this.isEdit = true;
      this.name = this.slider.name;
      this.isDraft = this.slider.isDraft;
      this.imageDesktopUrl = this.slider.imageDesktop;
      this.imageMobileUrl = this.slider.imageMobile;
    } else {
      this.clear();
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    createslider() {
      this.validate();
      axios
        .post("/vertical-slider/create", {
          data: {
            name: this.name,
            imageDesktop: this.imageDesktopUrl,
            isDraft:this.isDraft,
            redirectionLink: this.redirectUrl,
          },
        })
        .then((response) => {
          console.log("slider", response.data);
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updateslider() {
      this.validate();
      axios
        .post("/vertical-slider/update", {
          criteria: { _id: this.slider._id },
          data: {
            name: this.name,
            imageDesktop: this.imageDesktopUrl,
            isDraft:this.isDraft,
            redirectionLink: this.redirectUrl,
          },
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.name = null;
      this.isDraft = false;
      this.redirectUrl = null;
      this.imageDesktopUrl = null;
      this.imageMobileUrl = null;
    },
    slectFile(event, item) {
      this.selectedFile = item;
      this.onFileSelect(event);
    },
    onFileSelect(event) {
      event.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `vertical-slider ${path}`)
        .then((response) => {
          let url = response.data.location;
          if (this.selectedFile === "desktop") {
            this.imageDesktopUrl = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.imageDesktopUrl);
          }
          if (this.selectedFile === "mobile") {
            this.imageMobileUrl = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.imageMobileUrl);
          }
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
