<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" dark v-model="isDialogOpen">
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Prizes </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Prize Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Prize Cash</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Cash*"
                  type="number"
                  required
                  v-model="cash"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Prize Rank</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Rank*"
                  type="number"
                  required
                  v-model="rank"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Prize Gem</label>
                <v-text-field
                  light
                  outlined
                  solo
                  type="number"
                  label="Gem*"
                  required
                  v-model="gem"
                  :rules="[(v) => !!v || 'Gem is required']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="reward" outlined color="white" @click="close"
            >Close</v-btn
          >
          <v-btn v-if="!reward" outlined color="white" @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn v-if="reward" outlined color="white" @click="updatePrize"
            >Update</v-btn
          >
          <v-btn v-if="!reward" outlined color="white" @click="createPrize"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";

export default {
  props: {
    // isDialogOpen: Boolean,
    reward: {},
  },
  data: () => ({
   items: [],
    rewardTypes: ["Tournament", "Leaderboard"],
    rewardFor: undefined,
    valid: true,
    isDialogOpen: true,
    isEdit: false,
    name: undefined,
    type: "RandomDrop",
    cash: undefined,
    rank:undefined,
    gem: undefined,
    // status: undefined,
    isDraft: Boolean,
  }),
  created() {
    if (this.reward) {
      this.isEdit = true;
      this.name = this.reward.name;
      this.cash = this.reward.cash;
      this.rank = this.reward.rank;
      this.gem = this.reward.gem;
    } else {
      this.clear();
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    createPrize() {
      this.validate();
      const data = {
        name: this.name,
        type: 'RandomDrop',
        rank: this.rank,
        // status: "not-collected",
        rewardFor: this.$route.params.id,
      };
    //   if (this.cash) {
    //     data["cash"] = this.cash;
    //   }
      if (this.gem) {
        data["gem"] = this.gem;
      }
      axios
        .post("/reward/admin/create", {
          data,
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updatePrize() {
      this.validate();
      const data = {
        name: this.name,
        rank: this.rank,
        // status: "not-collected",
      };
    //   if (this.cash) {
    //     data["cash"] = this.cash;
    //   }
      if (this.gem) {
        data["gem"] = this.gem;
      }
      axios
        .post("/reward/admin/update", {
          criteria: { _id: this.reward._id },
          data,
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.name = null;
    //   this.status = null;
      this.cash = null;
      this.gem = null;
    },
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
