<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" dark v-model="isDialogOpen">
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Faq </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="12">
                <label for="">Enter Question</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Question*"
                  required
                  v-model="question"
                  :rules="[(v) => !!v || 'Question is required']"
                ></v-text-field>
              </v-col>
            </v-row>
              <v-row>
              <v-col class="column" cols="12" sm="9">
                <label for="">Enter Type</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Type*"
                  required
                  v-model="type"
                  :rules="[(v) => !!v || 'Type is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="3">
                <v-switch
                  v-model="isDraft"
                  :label="`Is Draft: ${isDraft}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="12">
                <label for="">Enter Answer</label>
                <v-textarea
                  light
                  outlined
                  solo
                  label="Answer"
                  required
                  v-model="answer"
                  :rules="[(v) => !!v || 'Answer is required']"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="faq" outlined color="white" @click="close">Close</v-btn>
          <v-btn v-if="!faq" outlined color="white" @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn v-if="faq && $store.getters.checkRoleAccess('faq-update')" outlined color="white" @click="updateFaq"
            >Update</v-btn
          >
          <v-btn v-if="!faq" outlined color="white" @click="createFaq"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";

export default {
  props: {
    // isDialogOpen: Boolean,
    faq: {},
  },
  data: () => ({
    valid: true,
    isDialogOpen: true,
    isEdit: false,
    question: undefined,
    type: undefined,
    answer: undefined,
    isDraft: Boolean,
  }),
  created() {
    if (this.faq) {
      this.isEdit = true;
      this.question = this.faq.question;
      this.answer = this.faq.answer;
      this.type = this.faq.type;
      this.isDraft = this.faq.isDraft;
    } else {
      this.clear();
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    createFaq() {
      this.validate();
      axios
        .post("/faq/admin/create", {
          data: {
            question: this.question,
            answer: this.answer,
            type: this.type,
            isDraft: this.isDraft,
          },
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updateFaq() {
      this.validate();
      axios
        .post("/faq/admin/update", {
          criteria: { _id: this.faq._id },
          data: {
            question: this.question,
            answer: this.answer,
            type: this.type,
            isDraft: this.isDraft,
          },
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.question = null;
      this.answer = null;
      this.isDraft = false;
    },
    onFileSelect(files) {
      files.forEach((file) => {
        this.upload(file);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
