<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" v-model="isDialogOpen" dark>
      <v-card style="background:#1e0453">
        <v-card-title> Add/Edit User </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Username</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Username*"
                  required
                  v-model="username"
                  :rules="[(v) => !!v || 'username is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Email</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Email*"
                  required
                  v-model="email"
                  :rules="emailRules"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter First Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="First name*"
                  required
                  v-model="firstName"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Last Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Last name*"
                  required
                  v-model="lastName"
                ></v-text-field>
              </v-col>
            </v-row>
                  <v-row> 
               <v-col v-if="!user" class="column" cols="12" sm="6">
                 <label for="">Enter Password</label>
                 <v-text-field  v-model="password"
       light
                  outlined
                  solo
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              placeholder="Password"
              :error-messages="passwordTextErr"
              @click:append="show1 = !show1">
            </v-text-field>
              </v-col>
               <v-col v-if="!user" class="column" cols="12" sm="6">
                 <label for="">Confirm Password</label>
                 <v-text-field  v-model="confirmPassword"
       light
                  outlined
                  solo
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show2 ? 'text' : 'password'"
              placeholder="Confirm Password"
              :error-messages="confirmPasswordError"
              @click:append="show2 = !show2">
            </v-text-field>
              </v-col>
              </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Country</label>
                <div class="input-wraper">
                  <country-select
                    v-model="country"
                    :country="country"
                    topCountry="IN"
                  />
                </div>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Phone Number</label>
                <VuePhoneNumberInput
                  :default-country-code="country"
                  @update="updatePhoneNumber"
                  :required="true"
                  style="font-size:20px; color: black"
                  v-model="phone"
                />
                <!-- <div class="error" v-if="phone_error">{{phone_error}}</div> -->
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter City</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="City"
                  required
                  v-model="city"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select DOB</label>
                <input
                  type="date"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="dob"
                />
              </v-col>
            </v-row>
              <v-row v-if="user">
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Duration</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="expiryDate"
                />
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <v-switch 
                  v-model="isSubscribed"
                  :label="`Is Subscribed: ${isSubscribed}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isVerified"
                  :label="`Is Verified: ${isVerified}`"
                ></v-switch>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isBanned"
                  :label="`Is Banned: ${isBanned}`"
                ></v-switch>
              </v-col>
                <v-col v-if="user" class="column" cols="12" sm="4">
                <template>
                  <v-dialog  v-model="dialog" dark persistent max-width="400">
                    <template v-slot:activator="{ on, attrs }">
                      <div class="pt-5">
                      <v-btn  color="primary" dark v-bind="attrs" v-on="on">
                        Change password
                      </v-btn>
                      </div>
                    </template>
                    <v-card style="background:#1e0453">
                     <v-card-title>
          <span class="text-h5">Change Password</span>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
                       <v-row>
                         <v-col
                cols="12"
                sm="12"
              >
     <!-- <v-text-field  v-model="oldPassword"
       light
                  outlined
                  solo
              :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show3 ? 'text' : 'password'"
              placeholder=" Old Password"
              :error-messages="passwordError"
              @click:append="show3 = !show3">
            </v-text-field> -->
              </v-col>
              <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="password"
       light
                  outlined
                  solo
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              placeholder="New Password"
              :error-messages="passwordError"
              @click:append="show1 = !show1">
            </v-text-field>
              </v-col>
        </v-row>
         <v-row>
              <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="confirmPassword"
       light
                  outlined
                  solo
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show2 ? 'text' : 'password'"
              placeholder="Confirm Password"
              :error-messages="confirmPasswordError"
              @click:append="show2 = !show2">
            </v-text-field>
              </v-col>
        </v-row>
                       </v-container>
        </v-card-text>
        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="white"
                          outlined
                          @click="clearPasswordForm"
                        >
                          cancel
                        </v-btn>
                        <v-btn
                          color="white"
                          outlined
                          :disabled="!confirmPassword || !password && !confirmPassword"
                          @click="changePassword"
                        >
                          Change
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </template>
              </v-col>
            </v-row>
            <!-- <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Cover image</label>
                <v-file-input
                  prepend-icon="mdi-image-plus"
                  label="Select Cover image"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'cover')"
                  multiple
                  :rules="[(v) => !!v || 'Cover image is required']"
                >
                </v-file-input>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Profile image</label>
                <v-file-input
                  prepend-icon="mdi-image-plus"
                  label="Select Profile image"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'profile')"
                  multiple
                  :rules="[(v) => !!v || 'Profile image is required']"
                >
                </v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="coverImage" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="100px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + coverImage"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="profileImage" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="100px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + profileImage"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
            </v-row> -->
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="user" outlined color="white" @click="close">Close</v-btn>
          <v-btn v-if="!user" outlined color="white" @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn
            v-if="user && $store.getters.checkRoleAccess('user-update')"
            outlined
            color="white"
            @click="updateUser"
            >Update</v-btn
          >
          <v-btn
            v-if="!user"
            outlined
            color="white"
            @click="validate"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { AwsService } from "@/service/aws-service";

export default {
  props: {
    user: {},
  },
  data: () => ({
     emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
    valid: true,
      dialog: false,
    isDialogOpen: true,
    phone_error: null,
    username: null,
    firstName: undefined,
    lastName: undefined,
     passwordTextErr: "",
     show1: false,
      password: "",
      passwordError: undefined,
      confirmPassword: "",
      confirmPasswordError: "",
      show2: false,
      show3: false,
      oldPassword: "",
    email: undefined,
    country: undefined,
    countryCode: undefined,
    phone: undefined,
    city: undefined,
    profileImage: undefined,
    coverImage: undefined,
    isSubscribed: false,
    expiryDate: '',
    dob: "",
    menu1: false,
    date: "",
    isVerified: false,
    isBanned: false,
    isActive: Boolean,
      search: "",
  }),
   created() {
   if (this.user) {
      console.log('iser name', this.user.username)
      if(this.user.dob) (this.dob = moment(new Date(this.user.dob)).format("YYYY-MM-DD")),
      (this.username = this.user.username),
        (this.email = this.user.email),
        (this.phone = this.user.phone),
        (this.firstName = this.user.firstName),
        (this.lastName = this.user.lastName),
        (this.country = this.user.country);
      (this.countryCode = this.user.countryCode),
        (this.city = this.user?.city),
        (this.isVerified = this.user.isVerified),
        (this.isBanned = this.user.isBanned),
      (this.profileImage = this.user.profileImage),
        (this.coverImage = this.user.coverImage);
    } else {
      this.clear();
    }
  },
  computed: {
    fromattedDate() {
      return this.dob ? moment(this.dob).format("dddd, MMMM Do YYYY") : "";
    },
  },
  methods: {
    checkSubscriptionStatus() {
axios
        .get("/subscription/admin/check/".concat(this.user._id))
        .then((response) => {
          this.isSubscribed = response.data.isSubscribed;
          this.expiryDate =  moment(
          new Date(response.data.expiryDate)
        ).format("YYYY-MM-DDTHH:mm");
          console.log('subscripn', response.data)
        })
        .catch((e) => {
          console.log("err", e);
        });
    },
    updatePhoneNumber(data) {
      if (!data.isValid) {
        this.phone_error = "Invalid Phone Number.";
      } else {
        this.phone_error = null;
        this.countryCode = data.countryCallingCode;
      }
    },
     clearPasswordForm() {
      this.password = null;
      this.confirmPassword = null;
      this.oldPassword = null;
      this.dialog = false;
    },
    validate() {
       this.$refs.form.validate();
      if (this.password === '') {
        this.passwordError = 'This field is required.';
      } else {
        this.passwordError = '';
      }

      if (this.confirmPassword === '') {
        this.confirmPasswordError = 'This field is required.';
      } else {
        this.confirmPasswordError = '';
      }

      if (!this.password.length < 1 && !this.confirmPassword.length < 1) {
          if (this.password !== this.confirmPassword) {
              this.confirmPasswordError = 'Password did not match.';
          } else {
              this.confirmPasswordError = '';
          }
      }
      if (this.password !== "" && this.confirmPassword !== "" && this.password === this.confirmPassword) {
       this.createUser();
      }
    },
    createUser() {
      // this.validate();
      const data = {
            username: this.username,
            email: this.email,
             password: this.password,
            country: this.country,
            countryCode: this.countryCode,
            isVerified: this.isVerified,
            isBanned: this.isBanned,
      }
      if(this.firstName) {
        data["firstName"] = this.firstName;
      }
       if(this.lastName) {
        data["lastName"] = this.lastName;
      }
       if(this.city) {
        data["city"] = this.city;
      }
       if(this.dob) {
        data["dob"] = this.dob;
      }
       if(this.phone) {
        data["phone"] = this.phone;
      }
      axios
        .post("/user/admin/create", {
          data
        })
        .then((response) => {
          console.log("created user", response.data);
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
        changePassword() {
      if (this.password === '') {
        this.passwordError = 'This field is required.';
      } else {
        this.passwordError = '';
      }

      if (this.confirmPassword === '') {
        this.confirmPasswordError = 'This field is required.';
      } else {
        this.confirmPasswordError = '';
      }

      if (!this.password.length < 1 && !this.confirmPassword.length < 1) {
          if (this.password !== this.confirmPassword) {
              this.confirmPasswordError = 'Password did not match.';
          } else {
              this.confirmPasswordError = '';
          }
      }
      if (this.password !== "" && this.confirmPassword !== "" && this.password === this.confirmPassword) {
        this.resetPassword();
      }
    },
      resetPassword() {
      axios
        .post("/user/admin/change/password", {
          criteria: {
            _id: this.user._id
          },
          data: {
            // oldPassword: this.oldPassword,
            password: this.password
          }
        })
        .then(() => {
          this.dialog = false
        })
        .catch((e) => {
          console.log("err res", e.response.data);
           if (e.response.data.type === 'password_error') {
            const passwordData = e.response.data.message;
            this.passwordError = passwordData;
          } else {
            this.passwordError = '';
          }
        });
    },
    updateUser() {
      this.validate();
      this.dob = new Date(this.dob);
       const data = {
            username: this.username,
            email: this.email,
            country: this.country,
            countryCode: this.countryCode,
            isVerified: this.isVerified,
            isBanned: this.isBanned,
             isSubscribed: this.isSubscribed,
            expiryDate: new Date(this.expiryDate),
      }
      if(this.firstName) {
        data["firstName"] = this.firstName;
      }
       if(this.lastName) {
        data["lastName"] = this.lastName;
      }
      console.log("city update", this.city);
       if(this.city) {
        data["city"] = this.city;
      }
      if(this.dob) {
        data["dob"] = this.dob;
      }
       if(this.phone) {
        data["phone"] = this.phone;
      }
      axios
        .post("/user/admin/update", {
          criteria: { _id: this.user._id },
          data
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    slectFile(event, item) {
      this.selectedFile = item;
      this.onFileSelect(event);
    },
    onFileSelect(event) {
      event.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `user ${path}`)
        .then((response) => {
          let url = response.data.location;
          if (this.selectedFile === "cover") {
            this.coverImage = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.coverImage);
          }
          if (this.selectedFile === "profile") {
            this.profileImage = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.profileImage);
          }
        })
        .catch((err) => console.log(err));
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.username = null;
      this.email = null;
      this.firstName = null;
      this.lastName = null;
      this.email = null;
      this.country = null;
      this.countryCode = null;
      this.city = null;
      this.dob = null;
      this.isBanned = false;
      this.isVerified = false;
      this.profileImage = null;
      this.coverImage = null;
    },
  },
  mounted() {
    if(this.user) this.checkSubscriptionStatus()  
  }
};
</script>

<style lang="scss" scoped>
input {
  background: white;
  padding: 10px;
  width: 100%;
}
.input-wraper {
  background: white;
  padding: 10px;
  border-radius: 4px;
}
select {
    outline: none;
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
}
</style>
