<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" v-model="isDialogOpen" dark>
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Team </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Team Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Team Alias</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="alias*"
                  required
                  v-model="alias"
                  :rules="[(v) => !!v || 'Alias is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
            <v-col class="column" cols="12" sm="12">
                              <label for>Select Captain</label>
                              <v-autocomplete
                                  v-model="selectedCaptain"
                                  :loading="usersLoading"
                                  :items="usersFromDatabase"
                                  item-text="username"
                                  item-value="_id"
                                  :search-input.sync="userSearch"
                                  cache-items
                                  chips
                                  small-chips
                                  hide-no-data
                                  light
                                  outlined
                                  solo
                              >
                                  <template v-slot:selection="data" color="#fff">
                                      <v-chip
                                          v-bind="data.attrs"
                                          :input-value="data.selected"
                                          close
                                          @click="data.select"
                                          @click:close="removeUser(data.item)"
                                          color="#210654"
                                          text-color="white"
                                      >{{ data.item.username }}</v-chip>
                                  </template>
                              </v-autocomplete>
                          </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Country</label>
                <div class="input-wraper">
                  <country-select
                    v-model="country"
                    :country="country"
                    topCountry="IN"
                  />
                </div>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Phone Number</label>
                <VuePhoneNumberInput
                  :default-country-code="country"
                  @update="updatePhoneNumber"
                  :required="true"
                  style="font-size:20px; color: black"
                  v-model="phone"
                />
                <!-- <div class="error" v-if="phone_error">{{phone_error}}</div> -->
              </v-col>
            </v-row>
            <v-row>
               <v-col class="column" cols="12" sm="6">
                <label for="">Select Game</label>
                <v-select
                  :items="gamesList"
                  item-text="shortName"
                  item-value="_id"
                  label="Select Game"
                  v-model="game"
                  required
                  light
                  outlined
                  solo
                  :rules="[(v) => !!v || 'Game is required']"
                ></v-select>
              </v-col>
               <v-col class="column" cols="12" sm="6">
                <v-switch
                  v-model="isDeleted"
                  :label="`Is Deleted: ${isDeleted}`"
                ></v-switch>
              </v-col>
              <!-- <v-col class="column" cols="12" sm="6">
                <v-switch
                  v-model="isDeleted"
                  :label="`Is Draft: ${isDeleted}`"
                ></v-switch>
            </v-col> -->
            </v-row>
            <!-- <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Cover image</label>
                <v-file-input
                  prepend-icon="mdi-image-plus"
                  label="Select Cover image"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'cover')"
                  multiple
                  :rules="[(v) => !!v || 'Cover image is required']"
                >
                </v-file-input>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Profile image</label>
                <v-file-input
                  prepend-icon="mdi-image-plus"
                  label="Select Profile image"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'profile')"
                  multiple
                  :rules="[(v) => !!v || 'Profile image is required']"
                >
                </v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="coverImage" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="100px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + coverImage"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="profileImage" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="100px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + profileImage"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
            </v-row> -->
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="!team" outlined color="white" @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn
            v-if="!team"
            outlined
            color="white"
            @click="createTeam"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
         <v-snackbar
      v-model="snackbar"
      top
      :color="color"
      absolute
      elevation="24"
      :timeout="timeout"
    >
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>

    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import { AwsService } from "@/service/aws-service";

export default {
  props: {
    team: {},
  },
  data: () => ({
    valid: true,
    isDialogOpen: true,
    phone_error: null,
    name: undefined,
    gamesList: [],
    alias: undefined,
    country: undefined,
    countryCode: undefined,
    phone: undefined,
    game: undefined,
    profileImage: undefined,
    coverImage: undefined,
    isDeleted: false,
    userSearch: null,
    selectedCaptain: "",
    usersFromDatabase: [],
    usersLoading: false,
    color: "",
    snackbar: false,
    snackbarText: "",
    timeout: "-1",

  }),
  created() {
    if (this.team) {
      console.log('edit team', this.team),
      (this.name = this.team.name),
        (this.alias = this.team.alias),
        (this.phone = this.team.phone),
        (this.country = this.team.location);
      (this.countryCode = this.team.countryCode),
        (this.game = this.team.game._id),
        (this.isDeleted = this.team.isDeleted),
      (this.profileImage = this.team.profileImage),
        (this.coverImage = this.team.coverImage);
    } else {
      this.clear();
    }
  },
   watch: {
        userSearch(val) {
            val && this.getUsers()
        },
    },
  methods: {
    getUsers() {
            this.usersLoading = true;
            axios
                .post("/user/find/all", {
                    criteria: {
                        username: {
                            $regex: this.userSearch,
                            $options: 'i'
                        }
                    },
                    project: 'username',
                    limit: 10
                })
                .then((response) => {
                    this.usersFromDatabase = response.data;
                })
                .catch((e) => {
                    if (e.response.status === 400) {
                        console.log("err", e);
                    }
                })
                .finally(() => this.usersLoading = false)
        },
        removeUser(userToBeRemoved) {
            this.selectedCaptain = this.selectedCaptain !== userToBeRemoved._id
        },
    updatePhoneNumber(data) {
      if (!data.isValid) {
        this.phone_error = "Invalid Phone Number.";
      } else {
        this.phone_error = null;
        this.countryCode = data.countryCallingCode;
      }
    },
    validate() {
      this.$refs.form.validate();
    },
    createTeam() {
      this.validate();
      axios
        .post("/team/admin/create", {
          data: {
            name: this.name,
            alias: this.alias,
            phone: this.phone,
            location: this.country,
            countryCode: this.countryCode,
            game: this.game,
            captain: this.selectedCaptain
          },
        })
        .then((response) => {
          console.log("created user", response.data);
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
            console.log("err", e.response.data);
             const teamData = e.response.data;
              this.snackbarText = teamData;
              this.color = "red darken-4";
              this.snackbar = true;
              this.timeout = 3000;
        });
    },
    slectFile(event, item) {
      this.selectedFile = item;
      this.onFileSelect(event);
    },
    onFileSelect(event) {
      event.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `team ${path}`)
        .then((response) => {
          let url = response.data.location;
          if (this.selectedFile === "cover") {
            this.coverImage = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.coverImage);
          }
          if (this.selectedFile === "profile") {
            this.profileImage = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.profileImage);
          }
        })
        .catch((err) => console.log(err));
    },
      getGamesList() {
      axios
        .post("/game/admin/find/all", {
          criteria: {},
        })
        .then((response) => {
          this.gamesList = response.data;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.name = null;
      this.alias = null;
      this.phone = null;
      this.country = null;
      this.countryCode = null;
      this.game = null;
      this.isDeleted = false;
      this.profileImage = null;
      this.coverImage = null;
    },
  },
  mounted() {
      this.getGamesList()
  }
};
</script>

<style lang="scss" scoped>
input {
  background: white;
  padding: 10px;
  width: 100%;
}
.input-wraper {
  background: white;
  padding: 10px;
  border-radius: 4px;
}
select {
    outline: none;
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
}
</style>
