<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" dark v-model="isDialogOpen">
      <v-card style="background: #1e0453" v-if="accessListFromDatabase">
        <v-card-actions>
          <v-card-title>Add Edit Roles</v-card-title>
          <v-spacer></v-spacer>
          <v-btn
            v-if="role"
            @click="close"
            class="mx-2"
            fab
            dark
            x-small
            color="pink"
          >
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
          <v-btn
            v-if="!role"
            @click="closeCreatePopup"
            class="mx-2"
            fab
            dark
            x-small
            color="pink"
          >
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for>Enter Role Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Role Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Role Name is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <div v-for="access in accessListFromDatabase" :key="access._id">
              <!-- <v-card-title class="title">{{access[0].category}}</v-card-title> -->

              <v-checkbox
                :value="access[0].category"
                v-model="selectedCategory"
                @change="handleCategoryUpdate(access[0].category)"
                class="pt-8 text-capitalize"
                hide-details
              >
                <template v-slot:label>
                  <h3 class="white--text">{{ access[0].category }}</h3>
                </template>
              </v-checkbox>
              <v-row class="pl-10 pb-2" dense>
                <v-col cols="12" sm="4" v-for="name in access" :key="name._id">
                  <v-checkbox
                    v-model="selectedAccess"
                    :value="name._id"
                    :label="name._id"
                    @change="onAccessSelect(name._id)"
                    hide-details
                  >
                    <template v-slot:label>
                      <span class="white--text text-capitalize">
                        {{ name && name._id && name._id.split("-").at(-1) }}
                      </span>
                    </template>
                  </v-checkbox>
                </v-col>
              </v-row>
              <v-divider></v-divider>
            </div>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="role" outlined color="white" @click="close">Close</v-btn>
          <v-btn v-if="!role" outlined color="white" @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn v-if="role" outlined color="white" @click="updateRole"
            >Update</v-btn
          >
          <v-btn v-if="!role" outlined color="white" @click="createRole"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";

export default {
  props: {
    // isDialogOpen: Boolean,
    role: {},
  },
  data: () => ({
    name: undefined,
    valid: true,
    isDialogOpen: true,
    isEdit: false,
    question: undefined,
    answer: undefined,
    isDraft: Boolean,
    userSearch: null,
    selectedCategory: [],
    selectedAccess: [],
    accessList: [],
    accessListFromDatabase: [],
    accessListLoading: false,
    permissions: [
      "red",
      "indigo",
      "orange",
      "primary",
      "secondary",
      "success",
      "info",
      "warning",
      "error",
      "red darken-3",
      "indigo darken-3",
      "orange darken-3",
    ],
  }),
  created() {
    if (this.role) {
      this.isEdit = true;
      this.name = this.role.name;
      this.selectedAccess = this.role.accessList?.map(
        (element) => element.access
      );
    } else {
      this.clear();
    }
  },
  watch: {
    userSearch(val) {
      val && this.getAccess();
    },
    selectedAccess() {
      this.accessList = this.selectedAccess.map((element) => ({
        access: element,
      }));
    },
  },
  methods: {
    handleCategoryUpdate(value) {
      const shouldBeDeleted = !this.selectedCategory.includes(value);
      const accessIds = this.accessListFromDatabase[value].map((e) => e._id);
      if (shouldBeDeleted) {
        this.selectedAccess = this.selectedAccess.filter(
          (access) => !accessIds.includes(access)
        );
      } else {
        this.selectedAccess = [
          ...new Set([...this.selectedAccess, ...accessIds]),
        ];
      }
    },
    onAccessSelect(value) {
      // find checked or unchecked
      // const isAccessChecked = this.selectedAccess.includes(value)

      // find and get category
      const category = value.split("-")[0];
      // get sub category length
      const categoryAccessLength = this.accessListFromDatabase[category].length;
      const categoryLengthInSelectedAccess = this.selectedAccess.filter(
        (access) => access.split("-")[0] === category
      ).length;

      // if equal length push category
      // else remove category from selectedCategory
      if (categoryAccessLength === categoryLengthInSelectedAccess) {
        this.selectedCategory.push(category);
      } else {
        this.selectedCategory = this.selectedCategory.filter(
          (elem) => elem !== category
        );
      }
    },
    validate() {
      this.$refs.form.validate();
    },
    getAccess() {
      this.accessListLoading = true;
      axios
        .post("/api/admin/find/all", {
          criteria: {
            // _id: {
            //     $regex: this.userSearch,
            //     $options: 'i'
            // }
          },
          // project: '_id',
          // limit: 10
        })
        .then((response) => {
          this.accessListFromDatabase = response.data;
          for (const category in this.accessListFromDatabase) {
            const accessIds = this.accessListFromDatabase[category].map(
              (e) => e._id
            );
            if (
              accessIds.every((access) => this.selectedAccess.includes(access))
            ) {
              this.selectedCategory.push(category);
            }
          }
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        })
        .finally(() => (this.accessListLoading = false));
    },
    removeAccess(accessToBeRemoved) {
      this.selectedAccess = this.selectedAccess.filter(
        (access) => access !== accessToBeRemoved._id
      );
    },
    createRole() {
      this.validate();
      if (this.valid) {
        axios
          .post("/role/create", {
            data: {
              name: this.name,
              accessList: this.accessList,
            },
          })
          .then((response) => {
            this.$emit("add-item", response.data);
            this.closeCreatePopup();
          })
          .catch((e) => {
            if (e.response.status === 400) {
              console.log("err", e.response.data);
            }
          });
      }
    },
    updateRole() {
      this.validate();
      if (this.valid) {
        axios
          .post("/role/update", {
            criteria: { _id: this.role._id },
            data: {
              name: this.name,
              accessList: this.accessList,
            },
          })
          .then((response) => {
            this.$emit("update-item", response.data);
            this.close();
          })
          .catch((e) => {
            if (e.response.status === 400) {
              console.log("err", e.response.data);
            }
          });
      }
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.question = null;
      this.answer = null;
      this.isDraft = false;
      this.selectedAccess = null;
    },
    onFileSelect(files) {
      files.forEach((file) => {
        this.upload(file);
      });
    },
  },
  mounted() {
    this.getAccess();
  },
};
</script>

<style lang="scss" scoped>
.title {
  text-transform: capitalize;
}
</style>
