<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" v-model="isDialogOpen">
      <v-card>
        <v-card-title> Add Edit Gallery </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-text-field
                  outlined
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <v-textarea
                  outlined
                  label="Description"
                  required
                  v-model="description"
                  :rules="[(v) => !!v || 'Description is required']"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <v-combobox
                  v-model="tags"
                  :rules="[(v) => !!v || 'Tags required']"
                  :items="items"
                  tags
                  label="Tags"
                  multiple
                  prepend-icon="mdi-filter-variant"
                  solo
                >
                  <template
                    v-slot:selection="{ attrs, item, select, selected }"
                  >
                    <v-chip
                      v-bind="attrs"
                      :input-value="selected"
                      close
                      @click="select"
                      @click:close="remove(item)"
                    >
                      <strong>{{ item }}</strong
                      >&nbsp;
                    </v-chip>
                  </template>
                </v-combobox>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-text-field
                  outlined
                  label="Event Name*"
                  required
                  v-model="eventName"
                  :rules="[(v) => !!v || 'Event Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="3">
                <v-select
                  :items="years"
                  v-model="year"
                  :rules="[(v) => !!v || 'Year is required']"
                  label="Select Year"
                  outlined
                ></v-select>
              </v-col>
              <v-col class="column" cols="12" sm="3">
                <v-switch
                  v-model="isDraft"
                  :label="`Is Draft: ${isDraft}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-file-input
                  outlined
                  label="Select Image"
                  prepend-icon="mdi-image-plus"
                  @change="onFileSelect"
                  multiple
                  :rules="[(v) => !!v || 'Image is required']"
                >
                </v-file-input>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <v-switch
                  v-model="isFeatured"
                  :label="`Is Featured: ${isFeatured}`"
                ></v-switch>
              </v-col>
            </v-row>

            <v-row>
              <v-col class="column" cols="12">
                <v-slide-group v-if="url" multiple show-arrows>
                  <v-img
                    class="mx-4"
                    max-width="100px"
                    :src="'https://ps-mg.s3.amazonaws.com/' + url"
                  >
                  </v-img>
                </v-slide-group>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="gallery" color="blue darken-1" text @click="close"
            >Close</v-btn
          >
          <v-btn
            v-if="!gallery"
            color="blue darken-1"
            text
            @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn
            v-if="gallery"
            color="blue darken-1"
            text
            :disabled="!url"
            @click="updateGallery"
            >Update</v-btn
          >
          <v-btn
            v-if="!gallery"
            color="blue darken-1"
            text
            :disabled="!url"
            @click="createGallery"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import { AwsService } from "@/service/aws-service";

export default {
  props: {
    // isDialogOpen: Boolean,
    gallery: {},
  },
  data: () => ({
    valid: true,
    tags: [],
    items: [],
    isDialogOpen: true,
    isEdit: false,
    name: undefined,
    eventName: undefined,
    year: Number,
    id: undefined,
    description: undefined,
    isFeatured: Boolean,
    isDraft: Boolean,
    selectedImages: [],
    url: undefined,
    years: [
      "2016",
      "2017",
      "2018",
      "2019",
      "2020",
      "2021",
      "2022",
      "2023",
      "2024",
      "2025",
    ],
  }),
  created() {
    if (this.gallery) {
      this.isEdit = true;
      this.name = this.gallery.name;
      this.url = this.gallery.url;
      this.description = this.gallery.description;
      this.isFeatured = this.gallery.isFeatured;
      this.tags = this.gallery.tags;
      this.eventName = this.gallery.eventName;
      this.year = this.gallery.year;
      this.isDraft = this.gallery.isDraft;
    } else {
      this.clear();
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    createGallery() {
      this.validate();
      axios
        .post("/galleryimage/create", {
          data: {
            name: this.name,
            description: this.description,
            url: this.url,
            tags: this.tags,
            eventName: this.eventName,
            isFeatured: this.isFeatured,
            year: this.year,
            isDraft: this.isDraft,
          },
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updateGallery() {
      this.validate();
      axios
        .post("/galleryimage/update", {
          criteria: { _id: this.gallery._id },
          data: {
            name: this.name,
            description: this.description,
            url: this.url,
            tags: this.tags,
            eventName: this.eventName,
            isFeatured: this.isFeatured,
            isDraft: this.isDraft,
            year: this.year,
          },
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.name = null;
      this.description = null;
      this.isFeatured = false;
      this.isDraft = false;
      this.tags = null;
      this.urls = null;
      this.eventName = null;
    },
    onFileSelect(files) {
      files.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `gallery ${path}`)
        .then((response) => {
          let url = response.data.location;
          this.url = url.substr(url.indexOf("/", 10) + 1);
          console.log("link>>>>>", this.url);

          // this.urls.push(response.data.location);
        })
        .catch((err) => console.log(err));
    },
    remove(item) {
      this.tags.splice(this.tags.indexOf(item), 1);
      this.tags = [...this.tags];
    },
  },
};
</script>

<style lang="scss" scoped>
.fill-height {
  background-color: rgba(0, 0, 0, 0.1);
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
}
</style>
