<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="1100px" v-model="isDialogOpen" dark>
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Random Drop </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="8">
                <label for="">Enter Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isFeatured"
                  :label="`Is Featured: ${isFeatured}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Price</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Price"
                  required
                  v-model="price"
                  type="number"
                  :rules="[(v) => !!v || 'price is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Prize Pool</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Prize Pool"
                  required
                  v-model="prizePool"
                  :rules="[(v) => !!v || 'Prize Pool is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isDraft"
                  :label="`Is Draft: ${isDraft}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Start Date</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="startDate"
                />
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select End Date</label>
                <input
                  type="datetime-local"
                  id="meeting-time"
                  name="meeting-time"
                  v-model="endDate"
                />
              </v-col>
             
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <label for="">Enter Description</label>
                <Editor :content.sync="description" />
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12">
                <label for="">Enter Short Description</label>
                <Editor :content.sync="shortDescription" />
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Poster</label>
                <v-file-input
                :disabled = "randomDrop && !$store.getters.checkRoleAccess('random-drop-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Poster"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'big')"
                  multiple
                  :rules="[(v) => !!v || 'Poster is required']"
                >
                </v-file-input>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Logo</label>
                <v-file-input
                :disabled = "randomDrop && !$store.getters.checkRoleAccess('random-drop-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Logo"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'small')"
                  multiple
                  :rules="[(v) => !!v || 'logo is required']"
                >
                </v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="poster" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="100px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + poster"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="logo" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="100px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + logo"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="randomDrop" outlined color="white" @click="close"
            >Close</v-btn
          >
          <v-btn
            v-if="!randomDrop"
            outlined
            color="white"
            @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn
            v-if="randomDrop && $store.getters.checkRoleAccess('random-drop-update')"
            outlined
            color="white"
            @click="updateRandomDrop"
            :disabled="!logo"
            >Update</v-btn
          >
          <v-btn
            v-if="!randomDrop"
            outlined
            color="white"
            @click="validation"
            :disabled="!logo"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
      <v-snackbar
         :timeout=3000
        v-model="snackbar"
        absolute
        top
        color="red darken-4"
        elevation="24"
      >
        Select schedule date && time
      </v-snackbar>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import moment from "moment";
import { AwsService } from "@/service/aws-service";
import Editor from "../views/Editor.vue";

export default {
  components: {
    Editor,
  },
  props: {
    randomDrop: {},
  },
  data: () => ({
    snackbar: false,
    valid: true,
    value: null,
    isDialogOpen: true,
    name: undefined,
    isDraft: Boolean,
    isFeatured: Boolean,
    prizePool: undefined,
    price: undefined,
    logo: undefined,
    poster: undefined,
    shortDescription: undefined,
    description: undefined,
    content: "",
    startDate: "",
    endDate: "",
  }),
  created() {
    if (this.randomDrop) {
        (this.name = this.randomDrop.name),
        (this.isDraft = this.randomDrop.isDraft),
        (this.prizePool = this.randomDrop.prizePool),
        (this.logo = this.randomDrop.logo),
        (this.poster = this.randomDrop.poster),
        (this.shortDescription = this.randomDrop.shortDescription),
        (this.description = this.randomDrop.description),
        (this.price = this.randomDrop.price)
        this.startDate = moment(
          new Date(this.randomDrop.startDate)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
        this.endDate = moment(
          new Date(this.randomDrop.endDate)
        ).format("YYYY-MM-DDTHH:mm:ss.SSS"),
      this.isFeatured = this.randomDrop.isFeatured;
    } else {
      this.clear();
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    validation() {
      this.validate();
      if (
        this.startDate &&
        this.endDate 
      ) {
        this.createRandomDrop();
      } else {
        this.snackbar = true;
      }
    },
    createRandomDrop() {
      axios
        .post("/random-drop/admin/create", {
          data: {
            name: this.name,
            isDraft: this.isDraft,
            isFeatured: this.isFeatured,
            prizePool: this.prizePool,
            logo: this.logo,
            poster: this.poster,
            shortDescription: this.shortDescription,
            description: this.description,
            price: this.price,
            startDate: new Date(this.startDate),
            endDate: new Date(this.endDate)
          },
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updateRandomDrop() {
      this.validate();
      axios
        .post("/random-drop/admin/update", {
          criteria: { _id: this.randomDrop._id },
          data: {
             name: this.name,
            isDraft: this.isDraft,
            isFeatured: this.isFeatured,
            prizePool: this.prizePool,
            logo: this.logo,
            poster: this.poster,
            shortDescription: this.shortDescription,
            description: this.description,
            price: this.price,
            startDate: new Date(this.startDate),
            endDate: new Date(this.endDate)
          },
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      this.name = null;
        (this.prizePool = null),
        (this.poster = null),
        (this.logo = null),
        this.poster = null,
        (this.shortDescription = null),
        (this.description = null),
        (this.price = null),
        (this.isDraft = false);
      this.isFeatured = false;
      this.startDate = null;
      this.endDate = null
    },
    slectFile(event, item) {
      this.selectedFile = item;
      this.onFileSelect(event);
    },
    onFileSelect(event) {
      event.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `randomDrop ${path}`)
        .then((response) => {
          let url = response.data.location;
          if (this.selectedFile === "big") {
            this.poster = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.poster);
          }
          if (this.selectedFile === "small") {
            this.logo = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.logo);
          }
        })
        .catch((err) => console.log(err));
    },
  }
};
</script>

<style lang="scss" scoped>
::v-deep .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    height: 250px;
}
input {
  background: white;
  padding: 10px;
  width: 100%;
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
