<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="1000px" dark v-model="isDialogOpen">
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Product </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="4">
                <label for="">Enter Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
                <v-col class="column" cols="12" sm="4">
                <label for="">Enter Quantity Available</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Quantity Available"
                  required
                  v-model="quantityAvailable"
                  type="number"
                  :rules="[(v) => !!v || 'Quantity is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="4">
                <v-switch
                  v-model="isDraft"
                  :label="`Is Draft: ${isDraft}`"
                ></v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Price</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Price"
                  required
                  v-model="price"
                  type="number"
                  :rules="[(v) => !!v || 'Price is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Price in USD</label>
              <v-text-field
                 light
                  outlined
                  solo
                label="Price in USD"
                required
                v-model="priceInUsd"
                type="number"
                :rules="[v => !!v || 'Price in USD is required']"
              ></v-text-field>
            </v-col>
            
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Short Description</label>
                <v-textarea
                  light
                  outlined
                  solo
                  label="Short Description"
                  required
                  v-model="shortDescription"
                  :rules="[(v) => !!v || 'Short Description is required']"
                ></v-textarea>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Description</label>
                <v-textarea
                  light
                  outlined
                  solo
                  label="Description"
                  required
                  v-model="longDescription"
                  :rules="[(v) => !!v || 'Description is required']"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Image</label>
                <v-file-input
                :disabled = "product && !$store.getters.checkRoleAccess('product-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Image1"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'image1')"
                  multiple
                  :rules="[() => !!images || 'Image is required']"
                >
                </v-file-input>
              </v-col>
              <!-- <v-col class="column" cols="12" sm="6">
                <v-file-input
                  prepend-icon="mdi-image-plus"
                  label="Select Image2"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'icon')"
                  multiple
                  :rules="[(v) => !!v || 'Icon is required']"
                >
                </v-file-input>
              </v-col> -->
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="images" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="100px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + images"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
              <!-- <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="icon" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="100px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + icon"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col> -->
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="product" outlined color="white" @click="close"
            >Close</v-btn
          >
          <v-btn
            v-if="!product"
            outlined
            color="white"
            @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn
            v-if="product && $store.getters.checkRoleAccess('product-update')"
            outlined
            color="white"
            :disabled="!images"
            @click="updateProduct"
            >Update</v-btn
          >
          <v-btn
            v-if="!product"
            outlined
            color="white"
            :disabled="!images"
            @click="createProduct"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
      <v-snackbar v-model="snackbar" :timeout="snachBarTimeout">
        {{ snackBarText }}
        <v-btn color="blue" @click="snackbar = false">Close</v-btn>
      </v-snackbar>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import { AwsService } from "@/service/aws-service";

export default {
  props: {
    // isDialogOpen: Boolean,
    product: {},
  },
  data: () => ({
    valid: true,
    snackbar: false,
    snackBarText: "",
    snachBarTimeout: 2000,
    isDialogOpen: true,
    name: undefined,
    shortHeading: undefined,
    price: undefined,
    isFeatured: Boolean,
    isDraft: Boolean,
    priceInUsd: undefined,
    shortDescription: undefined,
    longDescription: undefined,
    quantityAvailable: undefined,
    images: [],
    icon: undefined,
  }),
  created() {
    if (this.product) {
      (this.name = this.product.name),
        (this.price = this.product.price),
        (this.quantityAvailable = this.product.quantityAvailable),
        (this.isDraft = this.product.isDraft),
        (this.priceInUsd = this.product.priceInUsd),
        (this.shortDescription = this.product.shortDescription),
        (this.longDescription = this.product.description),
        (this.images = this.product.images)
    } else {
      this.clear();
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    createProduct() {
      this.validate();
      axios
        .post("/product/admin/create", {
          data: {
            name: this.name,
            price: this.price,
            priceInUsd: this.priceInUsd,
            quantityAvailable:this.quantityAvailable,
            isDraft: this.isDraft,
            shortDescription: this.shortDescription,
            description: this.longDescription,
            images: this.images,
          },
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updateProduct() {
      this.validate();
      axios
        .post("/product/admin/update", {
          criteria: { _id: this.product._id },
          data: {
            name: this.name,
            price: this.price,
            priceInUsd: this.priceInUsd,
            quantityAvailable:this.quantityAvailable,
            isDraft: this.isDraft,
            shortDescription: this.shortDescription,
            description: this.longDescription,
            images: this.images,
          },
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      (this.name = null),
        (this.shortHeading = null),
        (this.price = null),
        (this.isDraft = false),
        (this.priceInUsd = null),
        (this.shortDescription = null),
        (this.longDescription = null),
        (this.images = null),
        (this.icon = null);
    },
    slectFile(event, item) {
      this.selectedFile = item;
      this.onFileSelect(event);
    },
    onFileSelect(event) {
      event.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `product ${path}`)
        .then((response) => {
          let url = response.data.location;
          if (this.selectedFile === "image1") {
            const imageArray = []
             imageArray.push(url.substr(url.indexOf("/", 10) + 1));
            this.images = imageArray
            console.log("link>>>>>", this.images);
          }
          if (this.selectedFile === "icon") {
            this.icon = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.icon);
          }
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
