<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-dialog persistent max-width="800px" dark v-model="isDialogOpen">
      <v-card style="background:#1e0453">
        <v-card-title> Add Edit Game </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Name*"
                  required
                  v-model="name"
                  :rules="[(v) => !!v || 'Name is required']"
                ></v-text-field>
              </v-col>
              <v-col class="column" cols="12" sm="6">
                <label for="">Enter Short Name</label>
                <v-text-field
                  light
                  outlined
                  solo
                  label="Short Name*"
                  required
                  v-model="shortName"
                  :rules="[(v) => !!v || 'Short name is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-switch
                  v-model="isIdRequired"
                  :label="`Is IdRequired: ${isIdRequired}`"
                ></v-switch>
              </v-col>
              <v-col v-if="isIdRequired" class="column" cols="12" sm="6">
                <label for="">Enter game Id Tag</label>
                <v-text-field
                  v-if="isIdRequired"
                  light
                  outlined
                  solo
                  label="gameIdTag*"
                  required
                  v-model="gameIdTag"
                  :rules="[(v) => !!v || 'gameIdTag is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-switch
                  v-model="isIgnRequired"
                  :label="`Is IgnRequired: ${isIgnRequired}`"
                ></v-switch>
              </v-col>
              <v-col v-if="isIgnRequired" class="column" cols="12" sm="6">
                <label for="">Enter game Ign Tag</label>
                <v-text-field
                  v-if="isIgnRequired"
                  light
                  outlined
                  solo
                  label="gameIgnTag*"
                  required
                  v-model="gameIgnTag"
                  :rules="[(v) => !!v || 'gameIgnTag is required']"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <label for="">Select Thumbnail</label>
                <v-file-input
                :disabled = "game && !$store.getters.checkRoleAccess('game-update')"
                  prepend-icon="mdi-image-plus"
                  label="Select Thumbnail"
                  light
                  outlined
                  solo
                  @change="slectFile($event, 'thumbnail')"
                  multiple
                  :rules="[(v) => !!v || 'Thumbnail is required']"
                >
                </v-file-input>
              </v-col>
               <v-col class="column" cols="12" sm="6">
                <v-switch
                  v-model="isDraft"
                  :label="`IsnDraft: ${isDraft}`"
                ></v-switch>
              </v-col>
              <!-- <v-col class="column" cols="12" sm="6">
                <v-select
                  light
                  outlined
                  solo
                  
                  v-model="allowedModes"
                  :items="modes"
                  item-text="name"
                  item-value="value"
                  label="Allowed modes"
                ></v-select>
              </v-col> -->
            </v-row>
            <v-row>
              <v-col class="column" cols="12" sm="6">
                <v-col class="column" cols="12">
                  <v-slide-group v-if="thumbnail" multiple show-arrows>
                    <v-img
                      class="mx-4"
                      max-width="100px"
                      :src="'https://ps-mg.s3.amazonaws.com/' + thumbnail"
                    >
                    </v-img>
                  </v-slide-group>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="game" outlined color="white" @click="close">Close</v-btn>
          <v-btn v-if="!game" outlined color="white" @click="closeCreatePopup"
            >Cancel</v-btn
          >
          <v-btn
            v-if="game && $store.getters.checkRoleAccess('game-update')"
            outlined
            color="white"
            :disabled="!thumbnail"
            @click="updateGame"
            >Update</v-btn
          >
          <v-btn
            v-if="!game"
            outlined
            color="white"
            :disabled="!thumbnail"
            @click="createGame"
            >Create</v-btn
          >
        </v-card-actions>
      </v-card>
         <v-snackbar
         :timeout=3000
        v-model="snackbar"
        absolute
        top
        color="red darken-4"
        elevation="24"
      >
        {{snackbarText}}
      </v-snackbar>
    </v-dialog>
  </v-form>
</template>

<script>
import axios from "axios";
import { AwsService } from "@/service/aws-service";

export default {
  props: {
    // isDialogOpen: Boolean,
    game: {},
  },
  data: () => ({
    allowedModes: "",
    modes: ["duelSolo", "battleRoyaleSolo"],
    valid: true,
    snackbar: false,
    snackbarText: "",
    isDialogOpen: true,
    phone_error: null,
    name: undefined,
    shortName: undefined,
    isIdRequired: false,
    isIgnRequired: false,
    gameIgnTag: undefined,
    gameIdTag: undefined,
    description: undefined,
    thumbnail: undefined,
    dob: "",
    menu1: false,
    date: "",
    isDeleted: false,
    isBanned: false,
    isDraft: false
  }),
  created() {
    if (this.game) {
      (this.name = this.game.name),
        (this.allowedModes = this.game),
        (this.shortName = this.game.shortName),
        (this.isIdRequired = this.game.isIdRequired),
        (this.isIgnRequired = this.game.isIgnRequired),
        (this.gameIgnTag = this.game.gameIgnTag),
        (this.gameIdTag = this.game.gameIdTag),
        (this.thumbnail = this.game.thumbnail);
    } else {
      this.clear();
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    createGame() {
      this.validate();
      if(!this.isIdRequired && !this.isIgnRequired) {
        this.snackbar = true;
        this.snackbarText = "Id or Ign must be true"
      }
      const data = {
        name: this.name,
        shortName: this.shortName,
        thumbnail: this.thumbnail,
        allowedModes: this.modes,
      };
      if (this.isIdRequired) {
        data["isIdRequired"] = this.isIdRequired;
        data["gameIdTag"] = this.gameIdTag;
      }
      if (this.isIdRequired) {
        data["isIgnRequired"] = this.isIgnRequired;
        data["gameIgnTag"] = this.gameIdTag;
      }
      axios
        .post("/game/admin/create", {
          data,
        })
        .then((response) => {
          this.$emit("add-item", response.data);
          this.closeCreatePopup();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    updateGame() {
      this.validate();
      const data = {
        name: this.game.name,
        shortName: this.shortName,
        thumbnail: this.thumbnail,
        allowedModes: this.modes,
      };
      if (this.isIdRequired) {
        data["isIdRequired"] = this.isIdRequired;
        data["gameIdTag"] = this.gameIdTag;
      }
      if (this.isIdRequired) {
        data["isIgnRequired"] = this.isIgnRequired;
        data["gameIgnTag"] = this.gameIdTag;
      }
      axios
        .post("/game/admin/update", {
          criteria: { _id: this.game._id },
          data,
        })
        .then((response) => {
          this.$emit("update-item", response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    clear() {
      (this.name = null),
        (this.shortName = null),
        (this.isIdRequired = false),
        (this.isIgnRequired = false),
        (this.isDraft = false),
        (this.gameIgnTag = null),
        (this.gameIdTag = null),
        (this.allowedModes = null),
        (this.thumbnail = null);
    },
    slectFile(event, item) {
      this.selectedFile = item;
      this.onFileSelect(event);
    },
    onFileSelect(event) {
      event.forEach((file) => {
        this.upload(file);
      });
    },
    async upload(file) {
      let path = Date.now();
      let formData = new FormData();
      formData.append("file", file);
      await AwsService.uploadImage(formData, `game ${path}`)
        .then((response) => {
          let url = response.data.location;
          if (this.selectedFile === "thumbnail") {
            this.thumbnail = url.substr(url.indexOf("/", 10) + 1);
            console.log("link>>>>>", this.thumbnail);
          }
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
  .mdi:before,
  .mdi-set {
    color: white;
  }
}
</style>
