<template>
 <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
  <v-dialog persistent max-width="500px" v-model="isDialogOpen">
    <v-card>
      <v-card-title> Edit Notes </v-card-title>
      <v-card-text>
        <v-container fluid>
          <v-row>
            <v-col class="column" cols="12">
              <v-textarea
                outlined
                label="Notes*"
                required
                v-model="notes"
                :rules="[v => !!v || 'Notes is required']"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn v-if="contact"
          color="blue darken-1"
          text
          @click= "close"
          >Close</v-btn
        >
        <v-btn v-if="contact" color="blue darken-1" text @click= "updateNotes">Update</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
 </v-form>
</template>

<script>
import axios from 'axios';
export default {
  props: {
    // isDialogOpen: Boolean,
    contact: {},
  },
  data: () => ({
    valid: true,
    isDialogOpen: true,
    notes: undefined,
  }),
  created() {
    if (this.contact) {
      this.notes = this.contact.notes
    } else {
      this.clear();
    }
  },
  methods: {
      close() {
      this.$emit("closePopup");
    },
    closeCreatePopup() {
      this.$emit("closeCreatePopup");
    },
    validate () {
        this.$refs.form.validate()
      },
      updateNotes() {
        this.validate();
        console.log('user', this.user)
      axios
        .post("/contactus/update", {
          criteria: { _id: this.contact._id },
          data: {
            notes: this.notes,
          },
        })
        .then((response) => {
          this.$emit('update-item', response.data);
          this.close();
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e.response.data);
          }
        });
    },
    clear() {
      this.notes = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.fill-height {
  background-color: rgba(0, 0, 0, 0.1);
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
}
</style>