<template>
  <v-row justify="center">
    <v-dialog
      v-model="isDeletePopup"
      persistent
      max-width="250"
    >
      <v-card>
        <v-card-title class="headline">
         Are you sure?
        </v-card-title>
        <v-card-text class="text-left">This item will be deleted.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="deleteRow"
          >
            Ok
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="close"
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
export default {
  props: {
    // isDeletePopup: Boolean,
    admin: {},
  },
  data: () => ({
    isDeletePopup: true, 
  }),
  created() {
  },
  methods: {
      close() {
      this.$emit("cancelPopup");
    },
    deleteRow() {
      this.$emit("deleteRow");
    }
  },
};
</script>