<template>
  <div class="main-container">
    <div class="page-header-container">
      <div class="page-header">Order Details</div>
    </div>
    <div class="inner-container">
      <div class="details-container">
        <div class="order-details">
          <div class="order-table">
            <div class="header">ITEMS FROM ORDER #365GAMES045</div>
            <v-simple-table>
              <template v-slot:default>
                <thead class="table-head">
                  <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">ProductId</th>
                    <th class="text-left">Quantity</th>
                    <th class="text-left">Price</th>
                    <th class="text-left">Price(USD)</th>
                    <!-- <th class="text-left">Date</th> -->
                    <!-- <th class="text-left">Total</th> -->
                  </tr>
                </thead>
                <tbody class="table-body">
                  <tr>
                    <td>Mk47 Mutant Force Gun</td>
                    <td>GU2345</td>
                    <td>1</td>
                    <td>₹2000</td>
                    <td>$27.41</td>
                    <!-- <td>{{ booking.journeyTime }}</td> -->
                    <!-- <td>
                      <span
                        ><v-icon class="icon">{{
                          icons.mdiCurrencyInr
                        }}</v-icon></span
                      >350
                    </td> -->
                    <!-- <td>
                      <span
                        ><v-icon class="icon">{{
                          icons.mdiCurrencyInr
                        }}</v-icon></span
                      >{{ item.product.price }}
                    </td> -->
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </div>
        <div class="summary">
          <div class="shipping-info">
            <div class="header">USER INFORMATION</div>
            <div class="details">
              <div class="name">
                 SOUNDHARYA.M
              </div>
              <div class="field">EMAIL:  souns@gmail.com </div>
              <div class="field">CONTACT:  8756432190 </div>
              <div class="field">DATE:  20/05/2021 </div>
              <!-- <div class="field">Journey Date:</div>
              <div class="field">Bus Fare:</div> -->
            </div>
          </div>
          <div class="order-summary">
            <div class="header">ORDER SUMMARY</div>
            <v-simple-table>
              <template v-slot:default>
                <thead class="table-head">
                  <tr>
                    <th class="text-left">Description</th>
                    <th class="text-left">Price</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                  <tr>
                    <td>Grand Total:</td>
                    <td>
                      <span
                        >
                        <v-icon class="icon">
                          mdi-currency-inr
                        </v-icon>
                        </span
                      > 1500 
                    </td>
                  </tr>
                  <tr>
                    <td>Payment Id:</td>
                    <td>
                      <span> PAYGU9007654 </span>
                    </td>
                  </tr>
                  <tr>
                    <td>Payment Status:</td>
                    <td>
                      <span>SUCCESS</span>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.fill-height {
  background-color: rgba(0, 0, 0, 0.1);
}
::v-deep {
  .v-slide-group__prev,
  .v-slide-group__next {
    display: flex !important;
    pointer-events: unset !important;
  }
}
.main-container {
  .page-header-container {
    display: flex;
    justify-content: space-between;
    .page-header {
      font-size: 18px;
      margin-left: 20px;
      line-height: 85px;
      font-weight: 700;
      color: #6c757d;
    }
    .route-path {
      line-height: 85px;
      font-size: 14px;
      .previous {
        color: #727cf5;
        text-decoration: none;
      }
      .arrow {
        padding: 0 12px;
      }
      .current,
      .arrow {
        color: #adb5bd;
      }
    }
  }
  .inner-container {
    display: flex;
    justify-content: space-between;
    .details-container {
      width: 100%;
      color: #6c757d;
      font-weight: 400;
      line-height: 1.5;
      .order-details {
        display: flex;
        justify-content: space-between;
        .order-table {
          width: 100%;
          background-color: #fff;
          padding: 24px;
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          .header {
            font-size: 15px;
            font-weight: 700;
            padding-bottom: 24px;
          }
          .table-head {
            color: #6c757d;
            background-color: #f1f3fa;
            border-color: #eef2f7;
            th {
              font-size: 15px;
              font-weight: 700;
            }
          }
          .table-body {
            color: #6c757d;
            td {
              font-size: 15px;
              font-weight: 400;
              text-align: left;
              span {
                vertical-align: text-bottom;
                .icon {
                  height: 15px;
                  width: 15px;
                }
              }
            }
            .total {
              font-weight: 700;
            }
          }
        }
      }
      .summary {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        .shipping-info {
          background-color: #fff;
          padding: 24px;
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          width: 29%;
          .header {
            font-size: 15px;
            font-weight: 700;
            padding-bottom: 24px;
          }
          .details {
            .name {
              font-size: 15px;
              font-weight: 700;
              padding: 10px 0;
            }
            .field {
              font-size: 14px;
              font-weight: 400;
              padding: 4px 0;
            }
          }
        }
        .order-summary {
          width: 69%;
          background-color: #fff;
          padding: 24px;
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          .header {
            font-size: 15px;
            font-weight: 700;
            padding-bottom: 24px;
          }
          .table-head {
            color: #6c757d;
            background-color: #f1f3fa;
            border-color: #eef2f7;
            th {
              font-size: 15px;
              font-weight: 700;
            }
          }
          .table-body {
            color: #6c757d;
            td {
              font-size: 15px;
              font-weight: 400;
              text-align: left;
              span {
                vertical-align: text-bottom;
                .icon {
                  height: 15px;
                  width: 15px;
                }
              }
            }
            .total {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
</style>