<template>
 <v-app-bar
    v-if="!$vuetify.breakpoint.mdAndDown"
    app
    color="#1E0741"
    height="64px"
  >
    <!-- <v-text-field
      solo
      flat
      hide-details
      dark
      background-color="#330E6B"
      placeholder="Search Tournament or Games"
      style="max-width: 333px"
      append-icon="mdi-magnify"
    ></v-text-field> -->
    <v-spacer></v-spacer>

    <div class="random">
      <div class="random-text">{{new Date().toLocaleDateString()}}</div>
      <div class="random-number">{{new Date().toLocaleTimeString()}}</div>
    </div>
    <div class="toolbar-name" style="color: white">
      <!-- <div>{{user.username}}</div> -->
       <v-menu dark offset-y open-on-hover>
      <template v-slot:activator="{ on, attrs }">
        <div v-if="loggedIn" v-bind="attrs" v-on="on">
          <div class="text-h6">{{ user.username }}</div>
          <div class="text-body-2">{{ user.email }}</div>
        </div>
      </template>
      <v-list color="white" dense>
        <v-list-item @click="logout">
          <v-list-item-icon>
            <v-icon color="red">mdi-logout</v-icon>
          </v-list-item-icon>
          <v-list-item-title style="color: black">Logout</v-list-item-title>
        </v-list-item>
        <v-list-item @click="changePasswordForm">
          <v-list-item-icon>
            <v-icon color="red">mdi-lock</v-icon>
          </v-list-item-icon>
          <v-list-item-title style="color: black">Change Password</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
       <v-dialog
      dark
      v-model="dialog"
      persistent
      max-width="400"
    >
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-card style="background:#1e0453">
        <v-card-title>
          <span class="text-h5">Change Password</span>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
        <v-row>
            <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="oldPassword"
       light
                  outlined
                  solo
              :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show3 ? 'text' : 'password'"
              placeholder=" Old Password"
              :error-messages="passwordError"
              @click:append="show3 = !show3">
            </v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="password"
       light
                  outlined
                  solo
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              placeholder="New Password"
              :error-messages="passwordError"
              @click:append="show1 = !show1">
            </v-text-field>
              </v-col>
        </v-row>
         <v-row>
              <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="confirmPassword"
       light
                  outlined
                  solo
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show2 ? 'text' : 'password'"
              placeholder="Confirm Password"
              :error-messages="confirmPasswordError"
              @click:append="show2 = !show2">
            </v-text-field>
              </v-col>
        </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            outlined color="white"
            @click="dialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            outlined color="white"
            @click="validate"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
    </v-dialog>
    </div>
    <div class="user-image">
      <!-- <img src="../assets/Login/mask_boy.png" width="20px" alt="" /> -->
    </div>
  </v-app-bar>
  <v-app-bar v-else app color="white" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;" align-content-center prominent height="64px">
    <v-app-bar-nav-icon
      :ripple="false"
      color="#1E0741"
      v-if="$vuetify.breakpoint.mdAndDown"
      @click.stop="$emit('toggleDrawer')"
    ></v-app-bar-nav-icon>
    
    <div class="toolbar-name-mobile">
      <!-- <div>{{user.username}}</div> -->
         <v-menu dark offset-y open-on-hover>
      <template v-slot:activator="{ on, attrs }">
        <div v-if="loggedIn" v-bind="attrs" v-on="on">
          <div class="text-h6">{{ user.username }}</div>
          <div class="text-body-2">{{ user.email }}</div>
        </div>
      </template>
      <v-list color="white" dense>
        <v-list-item @click="logout">
          <v-list-item-icon>
            <v-icon color="red">mdi-logout</v-icon>
          </v-list-item-icon>
          <v-list-item-title style="color: black">Logout</v-list-item-title>
        </v-list-item>
        <v-list-item @click="changePasswordForm">
          <v-list-item-icon>
            <v-icon color="red">mdi-lock</v-icon>
          </v-list-item-icon>
          <v-list-item-title style="color: black">Change Password</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
       <v-dialog
      dark
      v-model="dialog"
      persistent
      max-width="400"
    >
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-card style="background:#1e0453">
        <v-card-title>
          <span class="text-h5">Change Password</span>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
        <v-row>
            <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="oldPassword"
       light
                  outlined
                  solo
              :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show3 ? 'text' : 'password'"
              placeholder=" Old Password"
              :error-messages="passwordError"
              @click:append="show3 = !show3">
            </v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="password"
       light
                  outlined
                  solo
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              placeholder="New Password"
              :error-messages="passwordError"
              @click:append="show1 = !show1">
            </v-text-field>
              </v-col>
        </v-row>
         <v-row>
              <v-col
                cols="12"
                sm="12"
              >
     <v-text-field  v-model="confirmPassword"
       light
                  outlined
                  solo
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show2 ? 'text' : 'password'"
              placeholder="Confirm Password"
              :error-messages="confirmPasswordError"
              @click:append="show2 = !show2">
            </v-text-field>
              </v-col>
        </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            outlined color="white"
            @click="dialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            outlined color="white"
            @click="validate"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
    </v-dialog>
    </div>

    <v-spacer></v-spacer>

    <div class="toolbar-icon-mobile">
      <div class="toolbar-number">{{new Date().toLocaleTimeString()}}</div>
    </div>
    <div class="toolbar-icon-mobile">
      <i class="fa fa-bell icon-bell"></i>
    </div>
    <div class="user-image-mobile">
      <!-- <img
        src="/img/assets/Dashboard/Last-Week-Leaderboard-Winners.png"
        width="30px"
        alt=""
      /> -->
    </div>
    <template v-slot:extension>
      <v-text-field
        solo
        flat
        hide-details
        dark
        dense
        background-color="#1D0640"
        placeholder="Search Tournament or Games"
        append-icon="mdi-magnify"
        class="mb-4 text-body-2"
      ></v-text-field>
    </template>
  </v-app-bar> 
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
    name: "TheHeader",
    data() {
      return{
        dialog: false,
          drawer: false,
          show1: false,
      password: "",
      passwordError: undefined,
      confirmPassword: "",
      confirmPasswordError: "",
      show2: false,
      show3: false,
      oldPassword: "",
      valid: true,
    group: null,
    username: {},
      }
    },
      watch: {
    group() {
      this.drawer = false;
    },
  },
    methods: {
      logout() {
        this.$store.commit('LOGOUT')
      },
        changePasswordForm() {
        this.dialog = true;
      },
          validate() {
      if (this.password === '') {
        this.passwordError = 'This field is required.';
      } else {
        this.passwordError = '';
      }

      if (this.confirmPassword === '') {
        this.confirmPasswordError = 'This field is required.';
      } else {
        this.confirmPasswordError = '';
      }

      if (!this.password.length < 1 && !this.confirmPassword.length < 1) {
          if (this.password !== this.confirmPassword) {
              this.confirmPasswordError = 'Password did not match.';
          } else {
              this.confirmPasswordError = '';
          }
      }
      if (this.password !== "" && this.confirmPassword !== "" && this.password === this.confirmPassword) {
        this.resetPassword();
      }
    },
      resetPassword() {
      axios
        .post("/admin/update/password", {
          data: {
            oldPassword: this.oldPassword,
            newPassword: this.password
          }
        })
        .then(() => {
          this.dialog = false
        })
        .catch((e) => {
          console.log("err res", e.response.data);
           if (e.response.data.type === 'password_error') {
            const passwordData = e.response.data.message;
            this.passwordError = passwordData;
          } else {
            this.passwordError = '';
          }
        });
    },
    },
    computed: {
      ...mapGetters(["loggedIn", "user"]),
    },
}
</script>
<style lang="scss" scoped>
::v-deep.v-toolbar--prominent .v-toolbar__content {
    align-items: center;
}
.random {
  background: #330e6b;
  color: #f9f9f9;
  text-align: center;
  border-radius: 4px;
  border-right: 1px solid #330e6b;
  border-left: 1px solid #330e6b;
  margin-right: 10px;
  .random-text {
    // font: normal normal normal 12px/18px Poppins;
    padding: 5px;
  }
  .random-number {
    font: normal normal bold 16px/25px Poppins;
  }
}
</style>