<template>
   <v-navigation-drawer
    v-model="isDrawerOpen"
    color="#1E0741"
    app
    width="210px"
    class="sidebar-container"
  >
    <v-list v-if="$vuetify.breakpoint.mdAndUp" color="#210654">
      <v-list-item class="justify-center">
        <div class="logo">
          <!-- <div><img width="20px" src="../assets/Login/logo.png" alt="" /></div> -->
          <div>365 Games</div>
        </div>
        <!-- <v-btn>365 Games</v-btn> -->
        <!-- </v-list-item-avatar> -->
      </v-list-item>
    </v-list>

    <v-divider></v-divider>
    <v-list nav dense>
       <template v-for="(route, index) in defaultRoutes">
        <v-list-item
          :ripple="false"
          active-class="active"
          :key="index + 'i'"
          :to="route.path"
        >
          <v-list-item-icon>
            <v-icon color="#fff">{{ route.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="menu-text-color">{{
            route.name
          }}</v-list-item-title>
        </v-list-item>
      </template>
      <template v-for="(route, index) in routes">
        <v-list-item
        v-if="$store.getters.checkRoleAccess(route.access)"
          :ripple="false"
          active-class="active"
          :key="index + 'j'"
          :to="route.path"
        >
          <v-list-item-icon>
            <v-icon color="#fff">{{ route.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="menu-text-color">{{
            route.name
          }}</v-list-item-title>
        </v-list-item>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "TheSidebar",
  data() {
    return {
      defaultRoutes: [
           {
        icon: "mdi-view-dashboard",
        name: "Dashboard",
        path: "/dashboard",
      },
      ],
 routes: [ 
      {
        icon: "mdi-account-multiple",
        name: "Admins",
        path: "/admins",
      },
        {
        icon: "mdi-view-dashboard",
        name: "Roles",
        path: "/roles",
      },
         {
        icon: "mdi-account-check",
        name: "Users",
        path: "/users",
        access: "user-view"
      },
      {
        icon: "mdi-account-multiple",
        name: "Teams",
        path: "/teams",
        access: "team-view"
      },
       {
        icon: "mdi-facebook-gaming",
        name: "Games",
        path: "/game",
        access: "game-view"
      },
        {
        icon: "mdi-trophy",
        name: "Leaderboards",
        path: "/leaderboards",
        access: "leaderboard-view"
      },
       {
        icon: "mdi-trophy",
        name: "Tournaments",
        path: "/tournaments",
        access: "tournament-view"
      },
       {
        icon: "mdi-account-multiple",
        name: "Random Drop",
        path: "/random-drop",
        access: "random-drop-view"
      },
        {
        icon: "mdi-newspaper",
        name: "Slider",
        path: "/slider",
        access: "slider-view"
      },
       {
        icon: "mdi-facebook-gaming",
        name: "Products",
        path: "/redeem",
        access: "redeem-view"
      },
      // {
      //   icon: "mdi-view-dashboard",
      //   name: "Approval",
      //   path: "/approval",
      // },
       {
        icon: "mdi-view-dashboard",
        name: "Subscription pack",
        path: "/subscription",
        access: "subscription-view"
      },
     
      // {
      //   icon: "mdi-google-ads",
      //   name: "Ads",
      //   path: "/ads",
      // },  
     {
        icon: "mdi-clipboard-list-outline",
        name: "Orders",
        path: "/orders",
        access: "order-view"
      },
       {
        icon: "mdi-comment-question-outline",
        name: "Rewards",
        path: "/rewards",
        access: "reward-view"
      },
       {
        icon: "mdi-comment-question-outline",
        name: "Faq",
        path: "/faqs",
        access: "faq-view"
      },
        {
        icon: "mdi-account-multiple",
        name: "Tasks",
        path: "/task",
      },
       {
        icon: "mdi-account-multiple",
        name: "Support",
        path: "/support",
        access: "support-view"
      },
       {
        icon: "mdi-list-status",
        name: "Website Status",
        path: "/status",
        access: "status-view"
      },
       {
        icon: "mdi-database-plus",
        name: "Logs",
        path: "/logs",
        access: "logs-view"
      },
      //  {
      //   icon: "mdi-account-multiple",
      //   name: "Forums",
      //   path: "/forums",
      // },
      // {
      //   icon: "mdi-account-multiple",
      //   name: "Task Status",
      //   path: "/taskstatus",
      // },
      //  {
      //   icon: "mdi-account-multiple",
      //   name: "Admins",
      //   path: "/admins",
      // },
      //  {
      //   icon: "mdi-account-multiple",
      //   name: "Finance",
      //   path: "/finance",
      // },
      
      //  {
      //   icon: "mdi-cart-arrow-down",
      //   name: "Products",
      //   path: "/products",
      // },
      // {
      //   icon: "mdi-google-ads",
      //   name: "Ads",
      //   path: "/ads",
      // },
     
      // {
      //   icon: "mdi-contacts",
      //   name: "Contact Us",
      //   path: "/contact",
      // },
    
      // {
      //   icon: "mdi-image",
      //   name: "Gallery",
      //   path: "/gallery",
      // },
     
      // {
      //   icon: "mdi-handshake",
      //   name: "Partners",
      //   path: "/partners",
      // },
    ],
      isDrawerOpen: this.drawer
    }
  }
   
,
    props: {
    drawer: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    isDrawerOpen(data) {
      this.$emit("update:drawer", data)
    },
    drawer(data) {
      this.isDrawerOpen = data
    }
  },
  methods: {
      logout() {
        this.$store.commit('LOGOUT')
      }
  }
};
</script>

<style scoped lang="scss">
.menu-text-color {
  color: #fff;
}
.logo {
  position: absolute;
  display: flex;
  top: 6px;
  left: 35px;
  color: black;
  background: white;
  width: 120px;
  padding: 6px;
  justify-content: space-evenly;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
}
.v-list.v-list--nav {
  padding-right: 0;
  // .v-list-item {
  //   margin-bottom: 5px !important;
  // }
  .v-list-item__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px !important;
  }
}
.active {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 0.13),
    rgba(255, 255, 255, 0.45) 120%
  );
  color: unset !important;
  padding-right: 0 !important;
  .v-list-item__title {
    font-weight: bold !important;
  }
  &::after {
    background-color: white;
    width: 6px;
    border-radius: 1px;
  }
}
.wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  color: red;
}
</style>


