<template>
  <v-app>
    <component :is="layout">
      <router-view />
    </component>
  </v-app>
</template>

<script>
export default {
  name: 'app',
  components: {
    DefaultLayout: () => import("@/layouts/DefaultLayout.vue"),
    NoSidebar: () => import("@/layouts/NoSidebar.vue")
  },
  created() {
    this.$store.dispatch('getRole')
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || "default-layout");
    },
  },
};
</script>
<style>
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
