<template>
  <div class="mainlayout">
    <div class="user_container">
      <div class="user_buttons_wrap">
        <div class="user_title">
          Team
        </div>
        <div class="side_buttons">
           <v-text-field
            dark
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <div v-if="$store.getters.checkRoleAccess('team-create')" class="button_wrapper" @click="create()">+ add team</div>
        </div>
      
      </div>
      <div class="user user-details-table">
        <div class="user_content" id="blur">
          <div class="user_table_responsive">
            <v-data-table
              dark
              style="background: rgb(48, 11, 105); margin-top: 1rem;color: white;"
              :headers="headers"
              :items="teams"
              :options.sync="options"
              :footer-props="{
                itemsPerPageOptions: usersCount,
                showFirstLastPage: true,
              }"
              :server-items-length="totalUsersCount"
            >
              <template v-slot:[`item._id`]="{ item }">
                {{ displayIndex(item) }}
              </template>
              <template v-slot:[`item.profileImage`]="{ item }">
                <div class="user_img">
                  <img
                    :src="
                      item.profileImage
                        ? 'https://ps-mg.s3.amazonaws.com/' + item.profileImage
                        : 'https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg'
                    "
                  />
                </div>
              </template>
              <template v-slot:[`item.createdAt`]="{ item }">
                <div>{{ changeDate(item.createdAt) }}</div>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <img class="edit_icon" src="../../assets/user/Edit@2x.png" @click="edit(item)" />
              </template>
            </v-data-table>
          </div>
        </div>
      </div>
    </div>
    <!-- <AddEditTeam
      v-if="isAddEditOpen"
      @closePopup="closeDialog"
      :team="team"
      @update-item="updateItem"
    /> -->
    <EditTeamPopup 
      v-if="isEditTeamPopup"
      @closePopup="closeDialog"
      :team="team"
    />
    <AddEditTeam
      v-if="createPopup"
      @closeCreatePopup="closeCreatePopup"
      @add-item="addItem"
    />
  </div>
</template>
<script>
import moment from "moment";
import axios from "axios";
import AddEditTeam from "../../components/AddEditTeam.vue";
import EditTeamPopup from './EditTeamPopup.vue';

export default {
  components: {
    AddEditTeam,
    EditTeamPopup,

  },
  data() {
    return {
       isEditTeamPopup: false,
      isVerified: false,
      showPopup: false,
      snackbar: false,
      snackBarText: "",
      snachBarTimeout: 2000,
      createPopup: false,
      isDeletePopup: false,
      dataCount: undefined,
      teams: [],
      search: "",
      options: {},
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      usersCount: [5, 10, 25, 50, 100],
      selected: [],
      excelFileName: `ProductList ${new Date().toLocaleString()}`,
      isDeleteConfirmationPopupOpen: false,
      isAddEditOpen: false,
      headers: [
        {
          text: "S.No",
          align: "left",
          sortable: false,
          value: "_id",
        },
        { text: "Name", value: "name", align: "left", sortable: false },

        {
          text: "Captain",
          align: "left",
          sortable: false,
          value: "profileImage",
        },
        {
          text: "Username",
          align: "left",
          sortable: false,
          value: "captain.username",
        },
        { text: "Phone", value: "phone", align: "left", sortable: false },
        { text: "Location", value: "location", align: "left", sortable: false },
        { text: "Date", value: "createdAt", align: "left" },
        { text: "Action", value: "action", align: "left", sortable: false },
      ],
      totalUsersCount: 0,
      team: null,
      skip: 0,
      sort: { createdTs: 1 },
    };
  },
  computed: {
    isUserSuperAdmin() {
      return this.$store.getters.isUserSuperAdmin;
    },
  },
 watch: {
    options: {
      handler() {
        this.getTeams();
      },
      deep: true,
    },
    search: {
      handler() {
        this.getTeams();
      },
    },
  },
  created: function() {},
  mounted() {
    // this.getTeams();
  },
  methods: {
    displayIndex(item) {
      return this.teams.indexOf(item) + 1;
    },
    openPopup() {
      this.showPopup = true;
      var element = document.getElementById("blur");
      element.classList.add("bottom");
    },
    closePopup() {
      this.showPopup = false;
      var element = document.getElementById("blur");
      element.classList.remove("bottom");
    },
    getTeams() {
         const criteria = {
         };
      axios
        .post("/team/admin/find/all", {
         search: this.search,
          criteria,
          page: this.options.page,
          limit: this.options.itemsPerPage,
        })
        .then(({data}) => {
          this.teams = data.docs;
          this.totalUsersCount = data.totalDocs;
          this.page = data.page;
          this.pageCount = data.totalPages;
        })
        .catch((e) => {
          if (e.response.status === 400) {
            console.log("err", e);
          }
        });
    },
    closeDeletePopup() {
      this.isDeletePopup = false;
    },
    closeDialog() {
      this.isEditTeamPopup = false;
      var element = document.getElementById("blur");
      element.classList.remove("bottom");
    },
    closeCreatePopup() {
      this.createPopup = false;
      var element = document.getElementById("blur");
      element.classList.remove("bottom");
    },
    changeDate(date) {
      return moment(date).format("MMM DD YYYY, hh:mm A");
    },
    edit(item) {
      this.team = item;
      this.isEditTeamPopup = true;
      // this.isAddEditOpen = true;
      var element = document.getElementById("blur");
      element.classList.add("bottom");
    },
    create() {
      this.createPopup = true;
      var element = document.getElementById("blur");
      element.classList.add("bottom");
    },
    changeData(data) {
      if (data === true) {
        return "YES";
      }
      if (data === false) {
        return "NO";
      }
    },
    addItem(e) {
      this.teams.push(e);
      this.snackbar = true;
      this.snackBarText = "User added successfully";
    },
    updateItem(e) {
      this.teams.forEach((element, index) => {
        if (element._id === e._id) {
          Object.assign(this.teams[index], e);
          this.snackbar = true;
          this.snackBarText = "User updated successfully";
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.edit_icon{
  cursor: pointer;
}
::v-deep.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: unset !important;
}
::v-deep.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  font-size: 16px;
  color: white;
}
.mdi:before,
.mdi-set {
  color: white;
}
.mainlayout {
  padding: 1em;
}
.user_buttons_wrap {
  display: flex;
  justify-content: space-between;
}
.user_title {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1.7em;
  margin-right: 10px;
}
.side_buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  column-gap: 10px;
  white-space: nowrap;
}
.button_wrapper{
    cursor: pointer;
    border: 0.5px solid #FFF;
    border-radius: 4px;
    align-items: center;
    display: flex;
    padding: 0px 25px;
    text-transform: capitalize;
    font-size: 16px;
}
.button_wrapper:hover{
    background-color: #FFFFFF;
    color: #210654;
}
.filter_wrap{
        right: 135px;
    }
     .tooltip{
        position: absolute;
        transform: translate(-58px, 0%);
        right:-10px;
    }

.button_wrapper:hover .filter_wrap{
    display:block;
}
.filter_wrap:before {
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    top: -20px;
    width: 100%;
}
.user_table {
  margin-top: 12px;
}
.user_responsive_table {
  background-color: #320c6a;
  font-size: 1em;
  box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
  width: 100%;
  border-collapse: collapse;
  text-transform: capitalize;
  color: #fdfdfd;
  white-space: nowrap;
}
td,
th {
  padding: 1em 0.5em;
  vertical-align: middle;
}
th {
  text-align: left;
}
.flag_in img {
  width: 30px;
}
tr {
  border-bottom: 1px solid #49277b;
}
.user_img img {
  border-radius: 4px;
  width: 30px;
}
.bottom::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.89;
  /* margin-top: 58px; */
}
.filter_wrap {
  display: none;
  padding: 12px 19px 13px 10px;
  position: absolute;
  top: 53px;
  z-index: 1;
  right: 263px;
  background: #ffffff;
  color: #030109;
  border-radius: 4px;
}
.checkbox label input {
  margin-right: 8px;
}
.tooltip {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  transform: matrix(1.2, 1, -1, 2, 6, 3);
  top: -18px;
  right: 0px;
  border-bottom: 11px solid #ffffff;
}
.adduser_container {
  display: none;
  position: absolute;
  top: 180px;
}

.user_form_container {
  left: 0;
  bottom: 0;
  margin: 150px auto;
  right: 0;
  position: absolute;
  padding: 25px;
  background: #fff;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  background-color: #1e0453;
  z-index: 1;
  width: 781px;
  box-shadow: 0px 0px 7px 1px #5c6373;
}
.user_heading_top {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.close_button {
  cursor: pointer;
}
.user_form_fields_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  grid-column-gap: 44px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .user_form_fields_wrapper {
    flex-direction: column;
  }
  .input_wrapper input {
    padding: 5px 25px !important;
    margin-bottom: 15px !important;
    font-size: 0.8em;
  }
  .user_heading_top {
    font-size: 17px;
  }
}
.input_wrapper input {
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 16px;
  margin-bottom: 25px;
  outline: none;
  text-transform: capitalize;
  border: none;
}
.column1 .input_wrapper input:nth-child(2) {
  width: -webkit-fill-available;
}
.input_wrapper .checkbox {
  color: #ffffff;
}
label {
  text-transform: capitalize;
}
.column3 .input_wrapper {
  text-align: right;
}
.save_btn_wrap {
  text-align: right;
}
// button {
//   border: 1px solid #ffffff;
//   border-radius: 5px;
//   background-color: transparent;
//   color: #ffffff;
//   padding: 5px 45px;
//   font-size: 16px;
//   text-transform: capitalize;
// }
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_form_fields_wrapper {
    width: fit-content;
    text-align: center;
  }
  .user_form_container {
    right: 0px;
    width: max-content;
    margin: 1px auto;
    padding: 10px 35px;
  }

  .save_btn_wrap {
    text-align: center;
  }
  .button_wrapper {
    padding: 0px 12px;
    font-size: 11px;
  }
  .filter_wrap {
    right: 125px;
  }
  .tooltip {
    position: absolute;
    transform: translate(-58px, 0%);
  }
}
/*--------------------------------------responsive table-------------------*/
.user_table_responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}
/* width */
.user_table_responsive::-webkit-scrollbar {
  width: 25px;
}

/* Track */
.user_table_responsive::-webkit-scrollbar-track {
  background: #35136f 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

/* Handle */
.user_table_responsive::-webkit-scrollbar-thumb {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  height: 50px;
}

/* Handle on hover */
.user_table_responsive::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 144, 180);
}
</style>
