<template>
  <fragment>
    <TheSidebar :drawer.sync="drawer" />
    <TheHeader @toggleDrawer="drawer = !drawer" />
    <v-main>
      <slot />
    </v-main>
  </fragment>
</template>

<script>
import TheSidebar from "../components/Default/TheSidebar.vue";
import TheHeader from "../components/Default/TheHeader.vue";
import { Fragment } from "vue-fragment";

export default {
  name: "DefaultLayout",
  components: {
    Fragment,
    TheSidebar,
    TheHeader,
  },
  data() {
    return{
      drawer: !this.$vuetify.breakpoint.mdAndDown
    }
  }
};
</script>
<style scoped>
.v-main {
  background: #210654;
}
</style>